Repository docarray/docarray, pull requests merged in 2022-07, with the labels that each got.

#423 refactor: small changes
  docarray/array/storage/sqlite/seqlike.py
Labels: area/core, component/array, size/s

#427 feat(plot): keep aspect ratio
  docarray/array/mixins/plot.py
Labels: area/core, component/array, size/s

#428 feat: add gif export
  docarray/array/mixins/io/pushpull.py
  docarray/array/mixins/plot.py
  docarray/helper.py
  tests/unit/array/mixins/test_plot.py
Labels: area/testing, area/core, component/array, size/m

#418 docs: create api reference landing page
  docarray/array/annlite.py
  docarray/array/document.py
  docarray/array/memory.py
  docarray/array/qdrant.py
  docarray/array/sqlite.py
  docarray/array/weaviate.py
  docarray/dataclasses/types.py
  docarray/document/__init__.py
  docs/api.rst
  docs/conf.py
  docs/fundamentals/document/index.md
  docs/index.md
Labels: area/core, component/document, component/array, area/docs, size/m

#437 docs: fix code example
  docs/advanced/document-store/weaviate.md
Labels: area/docs, size/xs

#443 fix: keep _metadata when serializing to dict and json
  docarray/document/pydantic_model.py
  tests/unit/document/test_multi_modal.py
Labels: area/testing, area/core, component/document, size/s

#425 feat: allow modalities of multimodal docs to be accessed
  docarray/document/mixins/multimodal.py
  tests/unit/document/test_multi_modal.py
Labels: area/testing, area/core, component/document, size/m

#448 fix: proper setting of multimodal attributes
  docarray/document/mixins/multimodal.py
  tests/unit/document/test_multi_modal.py
Labels: area/testing, area/core, component/document, size/m

#458 fix: fix deploy to netlify
  docs/requirements.txt
Labels: area/docs, size/xs

#451 docs: describe new access syntax
  docs/datatypes/index.md
  docs/datatypes/multimodal/apple.png
  docs/datatypes/multimodal/index.md
  docs/fundamentals/dataclass/access.md
  docs/fundamentals/dataclass/construct.md
  docs/fundamentals/dataclass/index.md
  docs/fundamentals/document/attribute.md
  docs/fundamentals/document/construct.md
  docs/fundamentals/documentarray/access-elements.md
Labels: area/docs, size/l

#457 chore: bump version to 0.14.0
  docarray/__init__.py
Labels: area/core, area/entrypoint, size/xs
