Repository docarray/docarray, pull requests merged in 2022-09, with the labels that each got.

#520 test: ci fix
  tests/unit/array/mixins/test_io.py
  tests/unit/document/test_converters.py
Labels: area/testing, size/xs

#518 feat: allow choose to display from tensor or from uri in document
  docarray/document/mixins/plot.py
  tests/unit/document/test_summary.py
Labels: area/testing, area/core, component/document, size/s

#519 perf: only check if field is set
  docarray/array/queryset/lookup.py
  docarray/document/data.py
Labels: area/core, component/document, component/array, size/s

#527 fix: create strawberry types with kwargs
  docarray/document/mixins/strawberry.py
Labels: area/core, component/document, size/xs

#533 fix: fix annlite type map
  docarray/array/storage/annlite/backend.py
Labels: area/core, component/array, size/xs

#532 fix: fix fiinetuner link for totally looks like
  README.md
Labels: size/xs

#526 feat: columns should be a dictionary not list of tuples
  docarray/array/storage/annlite/backend.py
  docarray/array/storage/base/backend.py
  docarray/array/storage/elastic/backend.py
  docarray/array/storage/elastic/getsetdel.py
  docarray/array/storage/qdrant/backend.py
  docarray/array/storage/qdrant/getsetdel.py
  docarray/array/storage/redis/backend.py
  docarray/array/storage/redis/getsetdel.py
  docarray/array/storage/sqlite/backend.py
  docarray/array/storage/weaviate/backend.py
  docs/advanced/document-store/annlite.md
  docs/advanced/document-store/elasticsearch.md
  docs/advanced/document-store/index.md
  docs/advanced/document-store/qdrant.md
  docs/advanced/document-store/redis.md
  docs/advanced/document-store/weaviate.md
  docs/fundamentals/documentarray/subindex.md
  setup.py
  tests/unit/array/mixins/test_find.py
  tests/unit/array/mixins/test_match.py
  tests/unit/array/storage/elastic/test_add.py
  tests/unit/array/storage/elastic/test_data_type.py
  tests/unit/array/storage/elastic/test_del.py
  tests/unit/array/storage/elastic/test_get.py
  tests/unit/array/storage/redis/__init__.py
  tests/unit/array/storage/redis/test_backend.py
  tests/unit/array/storage/redis/test_getsetdel.py
  tests/unit/array/test_backend_configuration.py
Labels: area/setup, area/testing, area/core, component/array, area/docs, size/m

#510 docs: add benchmark reference to feature summary
  docs/advanced/document-store/index.md
Labels: area/docs, size/s

#534 fix: keep out of mask docs in del by mask
  docarray/array/storage/memory/getsetdel.py
  tests/unit/array/mixins/test_del.py
Labels: area/testing, area/core, component/array, size/xs

#490 feat: push meta data along with docarray 0.16
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  docarray/array/mixins/io/pushpull.py
  docarray/array/mixins/plot.py
  docarray/helper.py
  docs/fundamentals/documentarray/serialization.md
  setup.py
  tests/unit/array/mixins/test_io.py
  tests/unit/array/mixins/test_plot.py
  tests/unit/array/mixins/test_pushpull.py
  tests/unit/array/test_from_to_bytes.py
Labels: area/setup, area/housekeeping, area/cicd, area/testing, area/core, component/array, area/docs, size/m, 0.16

#543 fix: adapt to annlite changes
  docarray/array/storage/annlite/find.py
  setup.py
Labels: area/setup, area/core, component/array, size/xs

#541 feat: login required push pull
  docarray/array/mixins/io/pushpull.py
  tests/unit/array/mixins/test_pushpull.py
Labels: area/testing, area/core, component/array, size/s

#556 feat: allow pass parameters to load_uri_to*
  docarray/document/mixins/blob.py
  docarray/document/mixins/helper.py
  docarray/document/mixins/image.py
  docarray/document/mixins/text.py
Labels: area/core, component/document, size/s

#559 fix: keep redis default values for vector similarity parameters
  docarray/array/storage/redis/backend.py
  docs/advanced/document-store/redis.md
Labels: area/core, component/array, area/docs, size/s

#561 chore: bump minor version
  docarray/__init__.py
Labels: area/core, area/entrypoint, size/xs

#565 fix: remove check of default value in _non_empty_fields
  docarray/score/data.py
  tests/unit/test_named_score.py
Labels: area/testing, area/core, size/s

#566 docs(what-is-docarray): tidy up grammar, punctuation, wording, spelling
  docs/get-started/what-is.md
Labels: area/docs, size/s

#578 chore: remove label issue link from contributing
  CONTRIBUTING.md
Labels: size/xs

#576 docs: correct readme plotting
  README.md
Labels: size/xs

#577 docs: adjust readme according to suggestions
  README.md
Labels: size/s
