Repository docarray/docarray, pull requests merged in 2022-12, with the labels that each got.

#835 fix: remove cosine similarity field with false assignment
  docarray/array/storage/weaviate/find.py
  docs/advanced/document-store/elasticsearch.md
  docs/advanced/document-store/qdrant.md
  docs/advanced/document-store/redis.md
  docs/advanced/document-store/weaviate.md
  tests/unit/array/mixins/test_find.py
Labels: area/testing, area/core, component/array, area/docs, size/m

#877 feat: embedding type
  docarray/typing/__init__.py
  docarray/typing/tensor/__init__.py
  docarray/typing/tensor/abstract_tensor.py
  docarray/typing/tensor/embedding.py
  tests/integrations/document/test_proto.py
  tests/integrations/typing/test_embedding.py
  tests/integrations/typing/test_torch_tensor.py
  tests/integrations/typing/test_typing_proto.py
  tests/units/typing/tensor/test_tensor.py
  tests/units/typing/tensor/test_torch_tensor.py
Labels: area/testing, area/core, size/m

#882 ci: fix the wrong error msg
  .github/workflows/cd.yml
  .github/workflows/publish-docarray-org.yml
  README.md
Labels: area/housekeeping, area/cicd, size/s

#880 feat: store key frame indices when loading video tensor from uri
  docarray/document/mixins/video.py
  docs/datatypes/video/index.md
  tests/unit/document/test_converters.py
Labels: area/testing, area/core, component/document, area/docs, size/s

#888 remove error return in ci
  .github/workflows/publish-docarray-org.yml
Labels: area/housekeeping, area/cicd, size/xs

#885 fix: native milvus len
  docarray/array/storage/base/seqlike.py
  docarray/array/storage/milvus/seqlike.py
  docs/advanced/document-store/extend.md
Labels: area/core, component/array, area/docs, size/s

#889 test: milvus len with disabled list like
  tests/unit/array/storage/milvus/test_milvus.py
Labels: area/testing, size/s

#891 feat: add exclude fields metas parameter
  docarray/array/mixins/plot.py
  docs/fundamentals/documentarray/visualization.md
Labels: area/core, component/array, area/docs, size/s

#893 chore(v2): run docs building all the time
  .github/labeler.yml
  .github/workflows/ci_only_pr.yml
Labels: area/housekeeping, area/cicd, size/s

#892 docs(readme): polish text
  README.md
Labels: size/s

#898 chore(v2): update ruff to 0.0.165
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
Labels: area/setup, size/s

#899 chore(v2): add pytest mark slow to tests
  pyproject.toml
  tests/units/typing/url/test_image_url.py
Labels: area/setup, area/testing, size/s

#900 refactor(v2): add namespace docarray to tensor private method
  docarray/typing/tensor/abstract_tensor.py
  docarray/typing/tensor/embedding.py
  docarray/typing/tensor/ndarray.py
  docarray/typing/tensor/torch_tensor.py
Labels: area/core, size/s, area/typing

#902 chore: bump docarray minor version
  docarray/__init__.py
Labels: area/core, area/entrypoint, size/xs

#905 fix: remove useless method
  docarray/array/array.py
Labels: area/core, component/array, size/xs

#903 fix: backwards compatibility for _is_subindex
  docarray/array/mixins/setitem.py
  docarray/array/storage/base/seqlike.py
Labels: area/core, component/array, size/xs

#904 fix: add multiple connections to milvus
  docarray/array/storage/milvus/backend.py
Labels: area/core, component/array, size/xs

#906 refactor(v2): make dependency optional
  .github/workflows/ci.yml
  docarray/array/array.py
  docarray/array/mixins/proto.py
  docarray/document/base_node.py
  docarray/document/mixins/proto.py
  docarray/typing/__init__.py
  docarray/typing/id.py
  docarray/typing/tensor/__init__.py
  docarray/typing/tensor/embedding.py
  docarray/typing/tensor/embedding/__init__.py
  docarray/typing/tensor/embedding/embedding.py
  docarray/typing/tensor/embedding/embedding_mixin.py
  docarray/typing/tensor/embedding/ndarray.py
  docarray/typing/tensor/embedding/torch.py
  docarray/typing/tensor/ndarray.py
  docarray/typing/tensor/tensor.py
  docarray/typing/tensor/torch_tensor.py
  docarray/typing/url/any_url.py
  docarray/typing/url/image_url.py
  docarray/typing/url/text_url.py
Labels: area/housekeeping, area/cicd, area/core, component/document, component/array, size/m, area/typing

#907 chore(v2): add more pytest markers
  tests/integrations/predefined_document/test_image.py
  tests/units/typing/url/test_text_url.py
Labels: area/testing, size/xs

#909 fix: ndarray read from buffer not read only anymore
  docarray/typing/tensor/ndarray.py
  docarray/typing/tensor/torch_tensor.py
  tests/integrations/document/test_proto.py
Labels: area/testing, area/core, size/xs, area/typing

#921 chore: rename license to be consist with lfai standards
  LICENSE.md
Labels: size/xs

#922 fix(v2): parameterized tensor display
  docarray/typing/tensor/abstract_tensor.py
  tests/units/typing/tensor/test_torch_tensor.py
Labels: area/testing, area/core, size/s, area/typing

#895 docs: polish throughout
  docs/advanced/document-store/annlite.md
  docs/advanced/document-store/elasticsearch.md
  docs/advanced/document-store/extend.md
  docs/advanced/document-store/index.md
  docs/advanced/document-store/qdrant.md
  docs/advanced/document-store/redis.md
  docs/advanced/document-store/sqlite.md
  docs/advanced/document-store/weaviate.md
  docs/advanced/graphql-support/index.md
  docs/datatypes/image/index.md
  docs/datatypes/index.md
  docs/datatypes/multimodal/index.md
  docs/datatypes/tabular/index.md
  docs/datatypes/text/index.md
  docs/datatypes/video/index.md
  docs/fundamentals/cloud-support/data.md
  docs/fundamentals/dataclass/access.md
  docs/fundamentals/dataclass/construct.md
  docs/fundamentals/dataclass/example.md
  docs/fundamentals/dataclass/index.md
  docs/fundamentals/dataclass/new-type.md
  docs/fundamentals/document/attribute.md
  docs/fundamentals/document/construct.md
  docs/fundamentals/document/embedding.md
  docs/fundamentals/document/fluent-interface.md
  docs/fundamentals/document/index.md
  docs/fundamentals/document/nested.md
  docs/fundamentals/document/serialization.md
  docs/fundamentals/document/visualization.md
  docs/fundamentals/documentarray/access-attributes.md
  docs/fundamentals/documentarray/access-elements.md
  docs/fundamentals/documentarray/construct.md
  docs/fundamentals/documentarray/embedding.md
  docs/fundamentals/documentarray/evaluation.md
  docs/fundamentals/documentarray/find.md
  docs/fundamentals/documentarray/index.md
  docs/fundamentals/documentarray/matching.md
  docs/fundamentals/documentarray/parallelization.md
  docs/fundamentals/documentarray/post-external.md
  docs/fundamentals/documentarray/serialization.md
  docs/fundamentals/documentarray/subindex.md
  docs/fundamentals/documentarray/visualization.md
  docs/fundamentals/fastapi-support/index.md
  docs/get-started/install.md
Labels: area/docs, size/xl

#920 fet(v2): proto stacked mode
  docarray/array/abstract_array.py
  docarray/array/array.py
  docarray/array/mixins/proto.py
  docarray/document/abstract_document.py
  docarray/document/mixins/proto.py
  docarray/proto/__init__.py
  docarray/proto/docarray.proto
  docarray/proto/pb2/docarray_pb2.py
  docarray/typing/tensor/abstract_tensor.py
  docarray/typing/tensor/ndarray.py
  docarray/typing/tensor/torch_tensor.py
  tests/units/array/test_mixins/__init__.py
  tests/units/array/test_mixins/test_proto.py
  tests/units/document/proto/test_proto_based_object.py
Labels: area/testing, area/core, component/document, component/array, component/proto, size/m, area/typing

#925 feat(v2): add 3d data handling
  docarray/__init__.py
  docarray/document/mixins/proto.py
  docarray/predefined_document/__init__.py
  docarray/predefined_document/mesh.py
  docarray/predefined_document/point_cloud.py
  docarray/proto/docarray.proto
  docarray/proto/pb2/docarray_pb2.py
  docarray/typing/__init__.py
  docarray/typing/abstract_type.py
  docarray/typing/url/__init__.py
  docarray/typing/url/image_url.py
  docarray/typing/url/url_3d/__init__.py
  docarray/typing/url/url_3d/mesh_url.py
  docarray/typing/url/url_3d/point_cloud_url.py
  docarray/typing/url/url_3d/url_3d.py
  poetry.lock
  pyproject.toml
  tests/__init__.py
  tests/integrations/document/test_proto.py
  tests/integrations/predefined_document/test_mesh.py
  tests/integrations/predefined_document/test_point_cloud.py
  tests/integrations/typing/test_mesh_url.py
  tests/integrations/typing/test_point_cloud_url.py
  tests/integrations/typing/test_typing_proto.py
  tests/units/typing/url/test_mesh_url.py
  tests/units/typing/url/test_point_cloud_url.py
Labels: area/setup, area/testing, area/core, component/document, component/proto, area/entrypoint, size/l, area/typing

#931 feat: find function
  docarray/typing/tensor/__init__.py
  docarray/utility/__init__.py
  docarray/utility/find.py
  docarray/utility/helper/__init__.py
  docarray/utility/helper/numpy.py
  docarray/utility/helper/torch.py
  docarray/utility/math/__init__.py
  docarray/utility/math/metrics/__init__.py
  docarray/utility/math/metrics/numpy.py
  docarray/utility/math/metrics/torch.py
  tests/units/util/__init__.py
  tests/units/util/test_find.py
  tests/units/util/test_metrics.py
  tests/units/util/test_topk.py
Labels: area/testing, area/core, size/xl, DocArray v2, area/typing

#945 fix(v2): remove useless method
  docarray/typing/tensor/abstract_tensor.py
Labels: area/core, size/xs, area/typing

#937 docs: remove broken link
  docs/get-started/what-is.md
Labels: area/docs, size/xs

#935 chore: add different python version to ci
  .github/workflows/cd.yml
  .github/workflows/ci.yml
Labels: area/housekeeping, area/cicd, size/s

#934 docs: multimodal to datatypes
  docs/datatypes/index.md
  docs/index.md
Labels: area/docs, size/xs

#941 refactor(v2): computational backends
  docarray/computation/__init__.py
  docarray/computation/abstract_comp_backend.py
  docarray/computation/numpy_backend.py
  docarray/computation/torch_backend.py
  docarray/typing/tensor/__init__.py
  docarray/typing/tensor/abstract_tensor.py
  docarray/typing/tensor/ndarray.py
  docarray/typing/tensor/torch_tensor.py
  docarray/util/__init__.py
  docarray/util/find.py
  docarray/utility/__init__.py
  docarray/utility/helper/numpy.py
  docarray/utility/helper/torch.py
  docarray/utility/math/metrics/numpy.py
  docarray/utility/math/metrics/torch.py
  tests/units/computation_backends/__init__.py
  tests/units/computation_backends/backend_comparisons/__init__.py
  tests/units/computation_backends/backend_comparisons/test_metrics.py
  tests/units/computation_backends/numpy_backend/__init__.py
  tests/units/computation_backends/numpy_backend/test_metrics.py
  tests/units/computation_backends/numpy_backend/test_retrieval.py
  tests/units/computation_backends/torch_backend/__init__.py
  tests/units/computation_backends/torch_backend/test_metrics.py
  tests/units/computation_backends/torch_backend/test_retrieval.py
  tests/units/document/proto/test_proto_based_object.py
  tests/units/util/test_find.py
  tests/units/util/test_metrics.py
  tests/units/util/test_topk.py
Labels: area/testing, area/core, size/xl, area/typing

#949 fix: unwanted coercion in to_pydantic_model
  setup.py
  tests/unit/test_pydantic.py
Labels: area/setup, area/testing, size/s

#946 refactor(v2): seperate stacked and not stacked document array
  docarray/array/__init__.py
  docarray/array/abstract_array.py
  docarray/array/array.py
  docarray/array/array_stacked.py
  docarray/array/mixins/__init__.py
  docarray/array/mixins/attribute.py
  docarray/array/mixins/proto.py
  docarray/proto/__init__.py
  docarray/proto/docarray.proto
  docarray/proto/pb2/docarray_pb2.py
  docarray/typing/url/helper.py
  docarray/util/find.py
  pyproject.toml
  tests/integrations/array/test_torch_train.py
  tests/integrations/document/test_document.py
  tests/integrations/document/test_proto.py
  tests/units/array/test_array.py
  tests/units/array/test_array_proto.py
  tests/units/array/test_mixins/__init__.py
  tests/units/array/test_mixins/test_attribute.py
  tests/units/array/test_mixins/test_proto.py
  tests/units/array/test_stack_mod.py
  tests/units/typing/url/test_image_url.py
  tests/units/typing/url/test_text_url.py
  tests/units/util/test_find.py
Labels: area/setup, area/testing, area/core, component/array, component/proto, size/xl, area/typing

#953 feat: add language attribute to RedisConfig
  .github/workflows/ci.yml
  docarray/array/storage/opensearch/find.py
  docarray/array/storage/redis/backend.py
  docs/advanced/document-store/redis.md
  tests/unit/array/mixins/test_find.py
  tests/unit/array/test_advance_indexing.py
Labels: area/housekeeping, area/cicd, area/testing, area/core, component/array, area/docs, size/s

#960 docs: link to opensearch docs in sidebar
  docs/advanced/document-store/index.md
Labels: area/docs, size/xs

#956 feat: add nested access for document array
  docarray/array/abstract_array.py
  docarray/array/array.py
  docarray/array/array_stacked.py
  tests/units/array/test_traverse.py
Labels: area/testing, area/core, component/array, size/m
