Repository docarray/docarray, pull requests merged in 2022-03, with the labels that each got.

#164 refactor(setup): add common install
  README.md
  docs/index.md
  setup.py
Labels: area/setup, area/docs, size/s

#165 feat(array): improve pull cache add pbar to map
  docarray/array/mixins/io/binary.py
  docarray/array/mixins/io/pushpull.py
  docarray/array/mixins/parallel.py
  docarray/array/mixins/plot.py
  docs/fundamentals/documentarray/serialization.md
  tests/unit/array/mixins/test_parallel.py
  tests/unit/array/mixins/test_pushpull.py
Labels: area/testing, area/core, component/array, area/docs, size/m

#166 fix(array): fix summary function on none
  docarray/array/mixins/plot.py
Labels: area/core, component/array, size/xs

#160 feat: add from to dict io
  docarray/array/mixins/__init__.py
  docarray/array/mixins/io/dict.py
  docarray/array/mixins/io/json.py
  docs/fundamentals/documentarray/serialization.md
  tests/unit/array/mixins/test_io.py
  tests/unit/array/test_from_to_bytes.py
Labels: area/testing, area/core, component/array, area/docs, size/s

#169 feat(protobuf): add arg for compatible ndarray type
  docarray/array/mixins/io/binary.py
  docarray/document/mixins/protobuf.py
  docarray/proto/io/__init__.py
  docarray/proto/io/ndarray.py
  docs/fundamentals/document/serialization.md
  tests/unit/math/test_ndarray.py
Labels: area/testing, area/core, component/document, component/array, area/docs, component/proto, size/s

#171 fix: correct file not found error
  docarray/array/mixins/io/binary.py
  tests/unit/array/test_from_to_bytes.py
Labels: area/testing, area/core, component/array, size/s

#151 fix: rename pqlite to annlite
  docarray/array/annlite.py
  docarray/array/document.py
  docarray/array/mixins/find.py
  docarray/array/pqlite.py
  docarray/array/storage/annlite/__init__.py
  docarray/array/storage/annlite/backend.py
  docarray/array/storage/annlite/find.py
  docarray/array/storage/annlite/getsetdel.py
  docarray/array/storage/annlite/helper.py
  docarray/array/storage/annlite/seqlike.py
  docs/advanced/document-store/annlite.md
  docs/advanced/document-store/index.md
  docs/index.md
  setup.py
  tests/unit/array/mixins/test_content.py
  tests/unit/array/mixins/test_embed.py
  tests/unit/array/mixins/test_empty.py
  tests/unit/array/mixins/test_find.py
  tests/unit/array/mixins/test_getset.py
  tests/unit/array/mixins/test_io.py
  tests/unit/array/mixins/test_magic.py
  tests/unit/array/mixins/test_match.py
  tests/unit/array/mixins/test_parallel.py
  tests/unit/array/mixins/test_plot.py
  tests/unit/array/mixins/test_sample.py
  tests/unit/array/mixins/test_text.py
  tests/unit/array/mixins/test_traverse.py
  tests/unit/array/test_advance_indexing.py
  tests/unit/array/test_construct.py
  tests/unit/array/test_pull_out.py
Labels: area/setup, area/testing, area/core, component/array, area/docs, size/m

#175 fix: set doc id first
  docarray/base.py
  tests/unit/document/test_docdata.py
Labels: area/testing, area/core, size/s

#150 feat: query language supporting filter
  docarray/array/mixins/find.py
  docarray/array/queryset/__init__.py
  docarray/array/queryset/lookup.py
  docarray/array/queryset/parser.py
  tests/unit/array/mixins/test_filter.py
  tests/unit/array/test_lookup.py
  tests/unit/array/test_queryset.py
Labels: area/testing, area/core, component/array, size/l

#176 refactor(dataclass): follow the order of dataclass field on assign
  docarray/base.py
  tests/unit/document/test_converters.py
Labels: area/testing, area/core, size/s

#177 add docstr for filter function
  docarray/array/mixins/find.py
  tests/unit/array/mixins/test_filter.py
  tests/unit/array/test_lookup.py
Labels: area/testing, area/core, component/array, size/s

#178 docs: fix field value in annlite construction
  docs/advanced/document-store/annlite.md
Labels: area/docs, size/xs

#179 perf: improve doc init speed
  docarray/base.py
  docarray/document/data.py
  tests/unit/document/test_converters.py
  tests/unit/document/test_docdata.py
Labels: area/testing, area/core, component/document, size/s

#180 feat: add more comparison/logic ops
  docarray/array/mixins/find.py
  docarray/array/queryset/lookup.py
  docarray/array/queryset/parser.py
  tests/unit/array/mixins/test_filter.py
  tests/unit/array/test_lookup.py
  tests/unit/array/test_queryset.py
Labels: area/testing, area/core, component/array, size/s

#181 feat(array): add post interface
  docarray/array/mixins/__init__.py
  docarray/array/mixins/post.py
  docs/fundamentals/documentarray/index.md
  docs/fundamentals/documentarray/post.md
  docs/fundamentals/jina-support/index.md
  setup.py
  tests/unit/array/mixins/test_post.py
Labels: area/setup, area/testing, area/core, component/array, area/docs, size/m

#182 feat(array): add batch_size
  docarray/array/mixins/io/binary.py
  docarray/array/mixins/parallel.py
  docarray/array/mixins/plot.py
  docarray/array/mixins/post.py
  docarray/helper.py
  tests/unit/array/mixins/test_post.py
Labels: area/testing, area/core, component/array, size/m

#174 test: enable evaluate mixin tests for backends
  tests/unit/array/mixins/test_eval_class.py
Labels: area/testing, size/m

#184 perf: optimize Document init
  docarray/base.py
  docarray/document/__init__.py
  docarray/document/data.py
  docarray/document/mixins/property.py
  docarray/score/__init__.py
Labels: area/core, component/document, size/m

#191 perf: speedup id construction time
  docarray/document/data.py
Labels: area/core, component/document, size/xs

#186 docs(qabot): fix flash on ios and disappear on search&404 page
  docs/_templates/page.html
  docs/conf.py
Labels: area/docs, size/s

#195 perf(array): reduce memory footprint of pushpull
  docarray/array/mixins/io/binary.py
  docarray/array/mixins/io/pushpull.py
  docarray/document/mixins/porting.py
  tests/unit/array/mixins/test_pushpull.py
Labels: area/testing, area/core, component/document, component/array, size/m

#193 test: fix failing tests
  tests/unit/array/mixins/test_post.py
Labels: area/testing, size/xs

#192 feat: add `$exists` logic
  docarray/array/mixins/find.py
  docarray/array/queryset/lookup.py
  docarray/array/queryset/parser.py
  tests/unit/array/mixins/test_filter.py
  tests/unit/array/test_lookup.py
  tests/unit/array/test_queryset.py
Labels: area/testing, area/core, component/array, size/s

#187 feat: collate function in embed function
  docarray/array/mixins/embed.py
  setup.py
  tests/unit/array/mixins/test-net.onnx
  tests/unit/array/mixins/test_embed.py
Labels: area/setup, area/testing, area/core, component/array, size/m

#199 fix: exist validate
  docarray/array/queryset/lookup.py
  tests/unit/array/test_lookup.py
Labels: area/testing, area/core, component/array, size/s

#200 feat: add ci vendor detection
  docarray/helper.py
  docarray/resources/ci-vendors.json
  tests/unit/test_helper.py
Labels: area/testing, area/core, size/m

#198 docs: change one default question
  docs/_templates/page.html
Labels: area/docs, size/xs

#201 test: simplify post test
  tests/unit/array/mixins/test_post.py
Labels: area/testing, size/s

#202 chore: add learning bootcamp call to action
  README.md
Labels: size/xs

#197 docs(array): add docs for find function
  docarray/array/queryset/lookup.py
  docarray/array/queryset/parser.py
  docs/fundamentals/document/index.md
  docs/fundamentals/documentarray/access-elements.md
  docs/fundamentals/documentarray/find.md
  docs/fundamentals/documentarray/index.md
  docs/fundamentals/documentarray/matching.md
  tests/unit/array/test_lookup.py
Labels: area/testing, area/core, component/array, area/docs, size/m

#206 docs: add weaviate minimum working example
  docs/advanced/document-store/weaviate.md
Labels: area/docs, size/s

#210 fix: ws scheme
  docarray/array/mixins/post.py
  tests/unit/array/mixins/test_post.py
Labels: area/testing, area/core, component/array, size/xs

#211 fix: ws scheme
  docarray/array/mixins/post.py
Labels: area/core, component/array, size/s

#205 fix: fix save and load json behaviour
  docarray/array/mixins/io/json.py
  docarray/document/mixins/porting.py
  docs/fundamentals/document/serialization.md
  tests/unit/document/test_porting.py
Labels: area/testing, area/core, component/document, component/array, area/docs, size/s

#212 fix(mesh): use remote_load on http uri
  docarray/document/mixins/mesh.py
  tests/unit/document/test_converters.py
Labels: area/testing, area/core, component/document, size/s

#194 Fix doc equality
  docarray/document/data.py
  docarray/math/ndarray.py
  tests/unit/document/test_docdata.py
  tests/unit/math/test_ndarray.py
Labels: area/testing, area/core, component/document, component/math, size/m

#215 feat: add rich traceback handler as default
  docarray/__init__.py
  docarray/array/mixins/io/pushpull.py
  docarray/document/mixins/plot.py
  tests/unit/array/mixins/test_pushpull.py
Labels: area/testing, area/core, component/document, component/array, area/entrypoint, size/s

#216 test(distance): unit tests for distance
  tests/unit/math/distance/test_numpy.py
  tests/unit/math/distance/test_paddle.py
  tests/unit/math/distance/test_tensorflow.py
  tests/unit/math/distance/test_torch.py
Labels: area/testing, size/m

#217 perf(array): improve pull speed
  docarray/array/mixins/io/binary.py
Labels: area/core, component/array, size/xs

#208 test: enable elastic storage
  tests/unit/array/mixins/test_content.py
  tests/unit/array/mixins/test_embed.py
  tests/unit/array/mixins/test_empty.py
  tests/unit/array/mixins/test_eval_class.py
  tests/unit/array/mixins/test_getset.py
  tests/unit/array/mixins/test_io.py
  tests/unit/array/mixins/test_magic.py
  tests/unit/array/mixins/test_parallel.py
  tests/unit/array/mixins/test_plot.py
  tests/unit/array/mixins/test_sample.py
  tests/unit/array/mixins/test_text.py
  tests/unit/array/mixins/test_traverse.py
  tests/unit/array/test_advance_indexing.py
  tests/unit/array/test_construct.py
  tests/unit/array/test_pull_out.py
  tests/unit/array/test_sequence.py
Labels: area/testing, size/m

#218 fix(test): add more tolerance
  tests/unit/math/distance/test_numpy.py
  tests/unit/math/distance/test_paddle.py
  tests/unit/math/distance/test_tensorflow.py
  tests/unit/math/distance/test_torch.py
Labels: area/testing, size/s

#219 fix(plot): fix display on datauri image
  docarray/document/mixins/plot.py
Labels: area/core, component/document, size/s

#220 fix(document): set content field to none clear all attributes
  docarray/document/mixins/property.py
  tests/unit/array/test_base_getsetdel.py
Labels: area/testing, area/core, component/document, size/s

#188 feat: multi modal document
  .github/workflows/ci.yml
  docarray/array/mixins/traverse.py
  docarray/document/data.py
  docarray/document/mixins/__init__.py
  docarray/document/mixins/_property.py
  docarray/document/mixins/multimodal.py
  docarray/document/pydantic_model.py
  docarray/proto/docarray.proto
  docarray/proto/docarray_pb2.py
  docarray/proto/io/__init__.py
  docarray/types/__init__.py
  docarray/types/deserializers.py
  docarray/types/multimodal.py
  docarray/types/serializers.py
  setup.py
  tests/unit/array/mixins/test_traverse.py
  tests/unit/document/test_multi_modal.py
Labels: area/setup, area/housekeeping, area/cicd, area/testing, area/core, component/document, component/array, component/proto, size/xl

#223 fix: encode and decode only once
  docarray/document/mixins/pydantic.py
  docarray/document/pydantic_model.py
Labels: area/core, component/document, size/s

#224 refactor: simplify da type checking
  docarray/array/chunk.py
  docarray/array/match.py
  docarray/array/storage/annlite/backend.py
  docarray/array/storage/memory/backend.py
  docarray/array/storage/memory/getsetdel.py
  docarray/array/storage/qdrant/backend.py
  docarray/array/storage/sqlite/backend.py
  docarray/array/storage/weaviate/backend.py
  docarray/array/storage/weaviate/getsetdel.py
Labels: area/core, component/array, size/s

#226 test(multimodal): more code coverage
  docarray/document/mixins/multimodal.py
  docarray/types/deserializers.py
  tests/unit/document/test_deserializers.py
  tests/unit/document/test_multi_modal.py
Labels: area/testing, area/core, component/document, size/s

#207 Feat elastic storage
  docarray/array/document.py
  docarray/array/elastic.py
  docarray/array/mixins/plot.py
  docarray/array/storage/elastic/__init__.py
  docarray/array/storage/elastic/backend.py
  docarray/array/storage/elastic/find.py
  docarray/array/storage/elastic/getsetdel.py
  docarray/array/storage/elastic/seqlike.py
  docs/advanced/document-store/elastic.md
  docs/advanced/document-store/index.md
  setup.py
  tests/unit/array/conftest.py
  tests/unit/array/docker-compose.yml
  tests/unit/array/mixins/test_content.py
  tests/unit/array/mixins/test_embed.py
  tests/unit/array/mixins/test_empty.py
  tests/unit/array/mixins/test_eval_class.py
  tests/unit/array/mixins/test_find.py
  tests/unit/array/mixins/test_getset.py
  tests/unit/array/mixins/test_io.py
  tests/unit/array/mixins/test_magic.py
  tests/unit/array/mixins/test_parallel.py
  tests/unit/array/mixins/test_plot.py
  tests/unit/array/mixins/test_sample.py
  tests/unit/array/mixins/test_text.py
  tests/unit/array/mixins/test_traverse.py
  tests/unit/array/test_advance_indexing.py
  tests/unit/array/test_construct.py
  tests/unit/array/test_pull_out.py
  tests/unit/array/test_sequence.py
Labels: area/setup, area/testing, area/core, component/array, area/docs, size/l

#227 style: reformat code
  docarray/__init__.py
  docarray/array/base.py
  docarray/array/document.py
  docarray/array/elastic.py
  docarray/array/mixins/io/binary.py
  docarray/array/mixins/io/json.py
  docarray/array/mixins/plot.py
  docarray/array/mixins/traverse.py
  docarray/array/qdrant.py
  docarray/array/queryset/lookup.py
  docarray/array/storage/annlite/backend.py
  docarray/array/storage/annlite/seqlike.py
  docarray/array/storage/base/seqlike.py
  docarray/array/storage/elastic/__init__.py
  docarray/array/storage/elastic/backend.py
  docarray/array/storage/elastic/getsetdel.py
  docarray/array/storage/elastic/seqlike.py
  docarray/array/storage/memory/backend.py
  docarray/array/storage/memory/seqlike.py
  docarray/array/storage/qdrant/__init__.py
  docarray/array/storage/qdrant/backend.py
  docarray/array/storage/qdrant/find.py
  docarray/array/storage/qdrant/seqlike.py
  docarray/array/storage/registry.py
  docarray/array/storage/sqlite/backend.py
  docarray/array/storage/weaviate/backend.py
  docarray/array/storage/weaviate/seqlike.py
  docarray/document/data.py
  docarray/document/mixins/__init__.py
  docarray/document/mixins/multimodal.py
  docarray/document/mixins/porting.py
  docarray/document/pydantic_model.py
  docarray/resources/ci-vendors.json
  docarray/types/__init__.py
  docarray/types/multimodal.py
  docs/advanced/document-store/elastic.md
  docs/advanced/document-store/elasticsearch.md
  docs/advanced/document-store/index.md
  tests/unit/array/mixins/test_eval_class.py
  tests/unit/array/mixins/test_find.py
  tests/unit/array/mixins/test_getset.py
  tests/unit/array/mixins/test_magic.py
  tests/unit/array/mixins/test_parallel.py
  tests/unit/array/test_advance_indexing.py
  tests/unit/array/test_pull_out.py
Labels: area/testing, area/core, component/document, component/array, area/docs, area/entrypoint, size/m

#230 refactor(array): unify summary fn on diff backends
  docarray/array/mixins/plot.py
  docarray/array/storage/annlite/backend.py
  docarray/array/storage/base/backend.py
  docarray/array/storage/elastic/backend.py
  docarray/array/storage/qdrant/backend.py
  docarray/array/storage/sqlite/backend.py
  docarray/array/storage/weaviate/backend.py
Labels: area/core, component/array, size/s

#232 feat(document): visualize embedding and tensor via colorbox
  docarray/array/mixins/io/binary.py
  docarray/array/mixins/io/pbar.py
  docarray/array/mixins/io/pushpull.py
  docarray/document/mixins/plot.py
  docarray/document/mixins/rich_embedding.py
  docs/fundamentals/notebook-support/index.md
  docs/fundamentals/notebook-support/pycharm-rich.png
  docs/fundamentals/notebook-support/single-doc-nested.png
  scripts/black.sh
  setup.py
  tests/unit/document/test_summary.py
Labels: area/setup, area/testing, area/core, component/document, component/array, area/docs, size/m

#234 fix: fix PIL dependency
  docarray/document/mixins/plot.py
  docarray/types/serializers.py
Labels: area/core, component/document, size/xs

#235 ci: add basic import test
  .github/workflows/ci.yml
  scripts/black.sh
Labels: area/housekeeping, area/cicd, size/s

#240 feat(array): qps show in pbar
  docarray/array/mixins/io/pbar.py
Labels: area/core, component/array, size/s

#231 docs(tracking): add scarf tracking
  docs/_templates/page.html
Labels: area/docs, size/xs

#239 refactor: use list for DocumentArrayInMemory
  docarray/array/storage/base/getsetdel.py
  docarray/array/storage/memory/backend.py
  docarray/array/storage/memory/getsetdel.py
  docarray/array/storage/memory/seqlike.py
  tests/unit/array/mixins/test_traverse.py
  tests/unit/array/test_advance_indexing.py
  tests/unit/array/test_base_getsetdel.py
  tests/unit/document/test_feature_hashing.py
Labels: area/testing, area/core, component/array, size/m

#245 fix(document): fix embedding display with rich
  docarray/document/mixins/plot.py
  docarray/document/mixins/rich_embedding.py
Labels: area/core, component/document, size/s
