Repository docarray/docarray, pull requests merged in 2022-11, with the labels that each got.

#704 refactor: create enums for strings in dataclasses
  docarray/dataclasses/enums.py
  docarray/dataclasses/getter.py
  docarray/dataclasses/setter.py
  docarray/dataclasses/types.py
  docarray/document/mixins/multimodal.py
  tests/unit/document/test_dataclass_getter.py
  tests/unit/document/test_multi_modal.py
Labels: area/testing, area/core, component/document, size/m

#695 ci: add bot that copies docstrings of overloaded methods
  .github/workflows/ci.yml
  README.md
  docarray/array/mixins/parallel.py
  docarray/document/mixins/sugar.py
  scripts/overload_docstrings.py
  scripts/overload_docstrings.sh
Labels: area/housekeeping, area/cicd, area/core, component/document, component/array, size/m

#709 feat: add 3d data handling of mesh vertices and faces
  docarray/document/mixins/mesh.py
  docs/datatypes/mesh/index.md
  tests/unit/document/test_converters.py
Labels: area/testing, area/core, component/document, area/docs, size/m

#702 feat: Implementation of embed_and_evaluate
  docarray/array/mixins/embed.py
  docarray/array/mixins/evaluation.py
  docarray/array/mixins/match.py
  docs/fundamentals/documentarray/evaluation.md
  tests/unit/array/mixins/test_eval_class.py
Labels: area/testing, area/core, component/array, area/docs, size/l

#697 feat: add login logout proxy methods
  docarray/__init__.py
  docarray/helper.py
  docs/fundamentals/cloud-support/data.md
  docs/fundamentals/cloud-support/index.md
  docs/fundamentals/cloud-support/login.md
  docs/fundamentals/cloud-support/user-storage-page.png
  docs/fundamentals/documentarray/serialization.md
  docs/index.md
Labels: area/core, area/docs, area/entrypoint, size/m

#692 chore: remove reference to jina ai
  README.md
  docs/fundamentals/dataclass/access.md
  docs/fundamentals/dataclass/construct.md
  docs/fundamentals/document/construct.md
  docs/fundamentals/jina-support/docarray-img.png
  docs/fundamentals/jina-support/index.md
  docs/fundamentals/jina-support/jinahub-push.png
  docs/fundamentals/jina-support/position-jina-docarray-2.svg
  docs/fundamentals/jina-support/position-jina-docarray.svg
  docs/get-started/what-is.md
Labels: area/docs, size/m

#676 chore: bump annlite version
  docarray/array/storage/annlite/backend.py
  docarray/array/storage/qdrant/backend.py
  docarray/array/storage/sqlite/backend.py
  docarray/array/storage/weaviate/backend.py
  setup.py
  tests/unit/array/mixins/test_io.py
  tests/unit/array/mixins/test_match.py
  tests/unit/array/mixins/test_plot.py
  tests/unit/array/test_advance_indexing.py
Labels: area/setup, area/testing, area/core, component/array, size/s

#720 chore: move setup requirements to pyproject
  pyproject.toml
  setup.py
Labels: area/setup, size/xs

#721 chore: unpin rocksdict in tests
  setup.py
Labels: area/setup, size/xs

#723 chore: fix type gov
  GOVERNANCE.md
Labels: size/xs

#725 chore: split tests with older proto version
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/label-pr.yml
  docarray/array/qdrant.py
  scripts/get-all-oldproto-test-paths.sh
  scripts/get-all-test-paths.sh
  tests/unit/array/mixins/oldproto/__init__.py
  tests/unit/array/mixins/oldproto/test_embed.py
  tests/unit/array/mixins/oldproto/test_getset.py
  tests/unit/array/mixins/oldproto/test_match.py
  tests/unit/array/oldproto/__init__.py
  tests/unit/array/oldproto/test_from_to_bytes.py
  tests/unit/array/oldproto/test_ravel_unravel.py
  tests/unit/document/oldproto/__init__.py
  tests/unit/document/oldproto/test_ndarray.py
  tests/unit/math/__init__.py
  tests/unit/math/distance/__init__.py
  tests/unit/math/distance/oldproto/__init__.py
  tests/unit/math/distance/oldproto/test_distance.py
  tests/unit/math/distance/oldproto/test_paddle.py
  tests/unit/math/distance/oldproto/test_tensorflow.py
  tests/unit/math/oldproto/__init__.py
  tests/unit/math/oldproto/test_ndarray.py
Labels: area/housekeeping, area/cicd, area/testing, area/core, component/array, size/m

#719 perf: sync sub index only when parent is synced
  docarray/array/storage/base/getsetdel.py
Labels: area/core, component/array, size/s

#726 feat: update qdrant version to 0.10.1
  .github/workflows/ci.yml
  docarray/array/storage/qdrant/backend.py
  docarray/array/storage/qdrant/find.py
  docarray/array/storage/qdrant/getsetdel.py
  docarray/array/storage/qdrant/seqlike.py
  docs/advanced/document-store/qdrant.md
  scripts/docker-compose.yml
  setup.py
  tests/unit/array/docker-compose.yml
  tests/unit/array/mixins/oldproto/test_eval_class.py
  tests/unit/array/test_advance_indexing.py
  tests/unit/array/test_backend_configuration.py
Labels: area/setup, area/housekeeping, area/cicd, area/testing, area/core, component/array, area/docs, size/m

#729 chore: update trademark to lf ai
  README.md
  docs/conf.py
  setup.py
Labels: area/setup, area/docs, size/xs

#737 feat: propagate context enter and exit to subindices
  docarray/array/document.py
  docarray/array/storage/base/getsetdel.py
Labels: area/core, component/array, size/s

#717 feat: add display of 3d mesh
  docarray/document/mixins/mesh.py
  docarray/document/mixins/plot.py
  docs/datatypes/mesh/index.md
  docs/fundamentals/notebook-support/index.md
  docs/fundamentals/notebook-support/mesh-point-cloud.png
  setup.py
  tests/unit/document/test_converters.py
  tests/unit/document/toydata/cube.ply
  tests/unit/document/toydata/tetrahedron.mtl
  tests/unit/document/toydata/tetrahedron.obj
Labels: area/setup, area/testing, area/core, component/document, area/docs, size/xl

#741 chore: allow test to pass even if commit name is not good
  .github/workflows/ci.yml
Labels: area/housekeeping, area/cicd, size/xs

#744 docs: fix codecov badget
  README.md
Labels: size/xs

#740 feat: support find by text and filter
  docarray/array/mixins/find.py
  docarray/array/storage/elastic/find.py
  docarray/array/storage/redis/find.py
  tests/unit/array/mixins/test_find.py
Labels: area/testing, area/core, component/array, size/m

#691 docs: add new benchmark page with SIFT1M dataset
  docs/advanced/document-store/benchmark.html
  docs/advanced/document-store/benchmark.md
  docs/advanced/document-store/benchmark.svg
  scripts/README.md
  scripts/benchmarking.py
  scripts/benchmarking_html.py
  scripts/benchmarking_sift1m.py
  scripts/benchmarking_utils.py
  scripts/docker-compose.yml
  setup.py
Labels: area/setup, area/docs, size/xl

#730 feat: add flag to disable list-like structure in DocArray
  docarray/array/storage/annlite/backend.py
  docarray/array/storage/annlite/getsetdel.py
  docarray/array/storage/base/getsetdel.py
  docarray/array/storage/base/helper.py
  docarray/array/storage/elastic/backend.py
  docarray/array/storage/elastic/getsetdel.py
  docarray/array/storage/elastic/seqlike.py
  docarray/array/storage/qdrant/backend.py
  docarray/array/storage/qdrant/getsetdel.py
  docarray/array/storage/redis/backend.py
  docarray/array/storage/redis/getsetdel.py
  docarray/array/storage/redis/seqlike.py
  docarray/array/storage/sqlite/backend.py
  docarray/array/storage/sqlite/getsetdel.py
  docarray/array/storage/weaviate/backend.py
  docarray/array/storage/weaviate/getsetdel.py
  docs/advanced/document-store/index.md
  tests/unit/document/test_disable_offset2id.py
Labels: area/testing, area/core, component/array, area/docs, size/m

#746 docs: change song lyrics in example
  docs/datatypes/text/index.md
Labels: area/docs, size/s

#747 ci: impose jina dependencies at the end of CI CD environment setup
  .github/workflows/cd.yml
  .github/workflows/ci.yml
Labels: area/housekeeping, area/cicd, size/xs

#752 chore(ci): update time out of tests
  .github/workflows/cd.yml
  .github/workflows/ci.yml
Labels: area/housekeeping, area/cicd, size/xs

#749 docs: add colab notebook for interactive 3d data visualization
  docs/datatypes/mesh/docarray_3d_data_visualization.ipynb
  docs/datatypes/mesh/index.md
Labels: area/docs, size/m

#768 docs: add list-like to table of parameters for all backends
  docs/advanced/document-store/annlite.md
  docs/advanced/document-store/elasticsearch.md
  docs/advanced/document-store/index.md
  docs/advanced/document-store/qdrant.md
  docs/advanced/document-store/redis.md
  docs/advanced/document-store/sqlite.md
  docs/advanced/document-store/weaviate.md
Labels: area/docs, size/m

#766 fix: allow backends not to implement list_like disabling
  docarray/array/storage/base/getsetdel.py
Labels: area/core, component/array, size/xs

#773 docs: update weaviate benchmark results
  docs/advanced/document-store/benchmark.html
  docs/advanced/document-store/benchmark.md
Labels: area/docs, size/m

#779 test: fix test find by text and filter
  tests/unit/array/mixins/test_find.py
Labels: area/testing, size/xs

#777 test: update failing test
  tests/unit/test_pydantic.py
Labels: area/testing, size/xs

#762 docs: add docs about list-like feature
  docs/advanced/document-store/extend.md
Labels: area/docs, size/s

#798 docs: move cloud support to integrations
  docs/index.md
Labels: area/docs, size/xs

#805 docs: fix broken docs
  docs/get-started/what-is.md
Labels: size/xs

#753 feat: add rgbd representation of 3d mesh
  docarray/document/mixins/mesh.py
  docarray/document/mixins/plot.py
  docs/datatypes/mesh/index.md
  docs/datatypes/mesh/rgbd_chair.png
  docs/fundamentals/notebook-support/image-rgbd.png
  docs/fundamentals/notebook-support/index.md
  tests/unit/document/test_converters.py
  tests/unit/document/toydata/test_depth.png
  tests/unit/document/toydata/test_rgb.jpg
Labels: area/testing, area/core, component/document, area/docs, size/m

#587 feat: milvus document store
  .github/workflows/ci.yml
  docarray/array/document.py
  docarray/array/milvus.py
  docarray/array/mixins/find.py
  docarray/array/storage/base/seqlike.py
  docarray/array/storage/milvus/__init__.py
  docarray/array/storage/milvus/backend.py
  docarray/array/storage/milvus/find.py
  docarray/array/storage/milvus/getsetdel.py
  docarray/array/storage/milvus/seqlike.py
  docs/advanced/document-store/index.md
  docs/advanced/document-store/milvus.md
  setup.py
  tests/conftest.py
  tests/unit/array/docker-compose.yml
  tests/unit/array/milvus-docker-compose.yml
  tests/unit/array/mixins/oldproto/test_embed.py
  tests/unit/array/mixins/oldproto/test_eval_class.py
  tests/unit/array/mixins/oldproto/test_getset.py
  tests/unit/array/mixins/oldproto/test_match.py
  tests/unit/array/mixins/test_content.py
  tests/unit/array/mixins/test_del.py
  tests/unit/array/mixins/test_empty.py
  tests/unit/array/mixins/test_find.py
  tests/unit/array/mixins/test_io.py
  tests/unit/array/mixins/test_magic.py
  tests/unit/array/mixins/test_parallel.py
  tests/unit/array/mixins/test_plot.py
  tests/unit/array/mixins/test_sample.py
  tests/unit/array/mixins/test_text.py
  tests/unit/array/mixins/test_traverse.py
  tests/unit/array/storage/milvus/__init__.py
  tests/unit/array/storage/milvus/test_milvus.py
  tests/unit/array/test_advance_indexing.py
  tests/unit/array/test_backend_configuration.py
  tests/unit/array/test_construct.py
  tests/unit/array/test_pull_out.py
  tests/unit/array/test_sequence.py
  tests/unit/document/test_plot.py
Labels: area/setup, area/housekeeping, area/cicd, area/testing, area/core, component/array, area/docs, size/xl

#828 fix: change annlite extend to private function
  docarray/array/storage/annlite/seqlike.py
Labels: area/core, component/array, size/xs

#812 hotfix: pull docarray with username/da-name format
  docarray/array/mixins/io/pushpull.py
  tests/unit/array/mixins/test_pushpull.py
Labels: area/testing, area/core, component/array, size/s

#836 chore(ci): fix milvus timeout issue
  setup.py
Labels: area/setup, size/xs

#837 fix: rebuild index when clear storage
  docarray/array/storage/elastic/backend.py
  docarray/array/storage/elastic/getsetdel.py
  docarray/array/storage/redis/backend.py
  docarray/array/storage/redis/getsetdel.py
  tests/unit/array/test_advance_indexing.py
Labels: area/testing, area/core, component/array, size/s

#827 chore: update governance
  GOVERNANCE.md
Labels: size/xs

#845 Add support to load multi page tiff files into chunks
  docarray/document/mixins/image.py
  docs/datatypes/image/index.md
  tests/unit/document/test_converters.py
  tests/unit/document/toydata/multi-page.tif
Labels: area/testing, area/core, component/document, area/docs, size/s

#844 chore(v2): add documentation and ci
  .github/labeler.yml
  .github/workflows/ci_only_pr.yml
  README.md
  docs/.gitignore
  docs/Makefile
  docs/_static/banner.png
  docs/_static/docarray-dark.svg
  docs/_static/docarray-light.svg
  docs/_static/favicon.png
  docs/_static/logo-dark.svg
  docs/_static/logo-light.svg
  docs/_static/main.css
  docs/_static/mov_bbb.mp4
  docs/_templates/page.html
  docs/_templates/sidebar/brand.html
  docs/_versions.json
  docs/api_public.rst
  docs/conf.py
  docs/html_extra/robots.txt
  docs/index_init.md
  docs/makedoc.sh
  docs/requirements.txt
  pyproject.toml
Labels: area/housekeeping, area/cicd, area/docs, size/xl

#861 docs(v2): rewrite the readme
  README.md
Labels: size/l

#840 fix: add support independent len calculation
  docarray/array/storage/milvus/getsetdel.py
  docarray/array/storage/redis/seqlike.py
  tests/unit/document/test_disable_offset2id.py
Labels: area/testing, area/core, component/array, size/s

#865 chore(v2): update readme
  README.md
Labels: size/xs

#855 ci: add scripts for sync-up the GH page of docarray
  .github/workflows/cd.yml
  .github/workflows/publish-docarray-org.yml
  README.md
Labels: area/housekeeping, area/cicd, size/s

#859 fix: milvus _get_docs_by_ids
  docarray/array/storage/milvus/getsetdel.py
  tests/unit/array/test_advance_indexing.py
Labels: area/testing, area/core, component/array, size/xs

#869 chore(v2): remove poc folder
  poc_folder/benchmarks/benchmark.py
  poc_folder/benchmarks/benchmark_any_doc.py
  poc_folder/benchmarks/benchmark_old_docarray.py
  poc_folder/jina_like_executor/fake_jina.py
  poc_folder/jina_like_executor/main.py
Labels: size/m

#875 chore(v2): update for release
  README.md
  pyproject.toml
Labels: size/s

#873 feat: store distance scores in scores dict
  docarray/array/storage/milvus/backend.py
  docarray/array/storage/milvus/find.py
  docs/advanced/document-store/extend.md
  docs/advanced/document-store/milvus.md
  tests/unit/array/storage/milvus/test_milvus.py
Labels: area/testing, area/core, component/array, area/docs, size/s

#879 test: remove faulty test case
  tests/unit/array/mixins/test_io.py
Labels: area/testing, size/xs
