Repository docarray/docarray, pull requests merged in 2022-05, with the labels that each got.

#316 Feat add show label
  docarray/array/mixins/plot.py
  docarray/document/mixins/plot.py
Labels: area/core, component/document, component/array, size/s

#326 chore: update qdrant version
  setup.py
Labels: area/setup, size/xs

#318 feat(hubble): add public parameter to da.push
  docarray/array/mixins/io/pushpull.py
  tests/unit/array/mixins/test_pushpull.py
Labels: area/testing, area/core, component/array, size/s

#317 update refer links to other docs with utm_source
  docs/_static/source-in-links.js
  docs/conf.py
Labels: area/docs, size/s

#327 fix: use backend to determine annlite DocumentArray length
  docarray/array/storage/annlite/backend.py
  setup.py
Labels: area/setup, area/core, component/array, size/xs

#328 chore: complete backends dependency tags
  docs/advanced/document-store/annlite.md
  docs/advanced/document-store/elasticsearch.md
  docs/advanced/document-store/qdrant.md
  docs/advanced/document-store/weaviate.md
  setup.py
Labels: area/setup, area/docs, size/s

#332 fix: filter_dict works with zero and empty str
  docarray/helper.py
  tests/conftest.py
  tests/unit/test_helper.py
Labels: area/testing, area/core, size/s

#333 chore: modify elastic hosts typehint
  docarray/array/storage/elastic/backend.py
Labels: area/core, component/array, size/xs

#330 docs: add tabular modality into the table
  docs/fundamentals/dataclass/construct.md
Labels: area/docs, size/s

#338 docs: update document attributes figure
  docs/fundamentals/document/images/document-attributes.svg
Labels: area/docs, size/xs

#340 perf[sqlite]: batch update on sqlite extend
  docarray/array/storage/sqlite/seqlike.py
  tests/unit/array/test_backend_configuration.py
Labels: area/testing, area/core, component/array, size/s

#347 fix(qabot): hide the slot elements on the docs page
  docs/_templates/page.html
Labels: area/docs, size/s

#349 feat(hubble): use fixed domain for hubble api
  docarray/array/mixins/io/pushpull.py
Labels: area/core, component/array, size/s

#357 fix: cryptographic random generator for weaviate classnames
  docarray/array/storage/weaviate/backend.py
Labels: area/core, component/array, size/xs

#366 docs(tracking): remove utm source tracking
  docs/_static/source-in-links.js
  docs/conf.py
Labels: area/docs, size/s

#367 fix: update qdrant to support python 3.7
  setup.py
Labels: area/setup, size/xs

#370 fix: fix protobuf dependency
  setup.py
Labels: area/setup, size/xs

#364 fix(windows): fix windows newline issue
  docarray/array/mixins/content.py
  docarray/document/mixins/helper.py
  docarray/helper.py
  tests/unit/document/test_converters.py
Labels: area/testing, area/core, component/document, component/array, size/s

#368 feat: load jina auth token from environment
  docarray/array/mixins/io/pushpull.py
  tests/conftest.py
  tests/unit/array/mixins/test_pushpull.py
Labels: area/testing, area/core, component/array, size/m
