Repository docarray/docarray, pull requests merged in 2022-10, with the labels that each got.

#581 fix: fix load from a database with subindices
  docarray/array/storage/base/backend.py
  tests/unit/array/test_backend_configuration.py
Labels: area/testing, area/core, component/array, size/s

#584 test: add tests for filtering in elasticsearch
  docarray/array/mixins/find.py
  docarray/array/storage/elastic/backend.py
  docarray/array/storage/elastic/find.py
  tests/unit/array/storage/elastic/test_find.py
Labels: area/testing, area/core, component/array, size/s

#586 docs: add note that query syntax is docstore dependant
  docs/fundamentals/documentarray/find.md
Labels: area/docs, size/xs

#585 docs: explain better docstring of set_image_normalization
  docarray/document/mixins/image.py
Labels: area/core, component/document, size/s

#588 test: remove call to gc collect
  tests/unit/array/mixins/test_getset.py
  tests/unit/array/test_sequence.py
Labels: area/testing, size/xs

#590 chore: housekeeping
  .github/workflows/force-docs-build.yml
  docarray/array/mixins/find.py
  docarray/array/mixins/post.py
  docarray/array/queryset/lookup.py
  docarray/array/queryset/parser.py
  docarray/array/storage/annlite/helper.py
  docarray/dataclasses/getter.py
  docarray/dataclasses/setter.py
  docarray/dataclasses/types.py
  docarray/document/generators.py
  docarray/document/mixins/multimodal.py
  docarray/document/mixins/plot.py
  docarray/document/mixins/porting.py
  docarray/math/distance/__init__.py
  docarray/typing/__init__.py
  docs/fundamentals/dataclass/construct.md
  tests/unit/document/test_dataclass_getter.py
Labels: area/housekeeping, area/cicd, area/testing, area/core, component/document, component/array, component/math, area/docs, size/s

#592 chore: update contribution guideline by adding code style requirement
  CONTRIBUTING.md
Labels: size/s

#594 docs: build proper docs section docstores
  .github/workflows/force-docs-build.yml
  .github/workflows/label-pr.yml
Labels: area/housekeeping, area/cicd, size/s

#598 chore(readme): add open ssf badge
  README.md
Labels: size/xs

#597 ci: add codeql analysis
  .github/workflows/codeql-analysis.yml
Labels: area/housekeeping, area/cicd, size/s

#593 chore: add flake8 to precommit hook
  .pre-commit-config.yaml
Labels: size/s

#596 chore: update contribution
  CONTRIBUTING.md
Labels: size/s

#595 chore: add securitiy policy
  SECURITY.md
Labels: size/s

#599 test: add files generated by unit tests to gitignore.
  .gitignore
Labels: size/xs

#606 feat: add config for pca in annlite
  docarray/array/storage/annlite/backend.py
  docs/advanced/document-store/annlite.md
Labels: area/core, component/array, area/docs, size/s

#609 fix: the file handler is close properly and wrap into a context manager
  docarray/document/mixins/audio.py
Labels: area/core, component/document, size/s

#613 docs(array): add section on persistence mutation and context manager
  docs/advanced/document-store/elasticsearch.md
  docs/advanced/document-store/index.md
  docs/advanced/document-store/redis.md
  docs/advanced/document-store/weaviate.md
Labels: area/docs, size/m

#621 refactor: change r precision calculation and documentation
  docarray/math/evaluation.py
  docs/fundamentals/documentarray/evaluation.md
  tests/unit/math/test_evaluation_metrics.py
Labels: area/testing, area/core, component/math, area/docs, size/m

#628 feat: allow progress bar while batching
  docarray/array/mixins/group.py
Labels: area/core, component/array, size/xs

#617 feat: add support for labeled dataset to evaluate function
  docarray/array/mixins/evaluation.py
  docs/fundamentals/documentarray/evaluation.md
  tests/unit/array/mixins/test_eval_class.py
Labels: area/testing, area/core, component/array, area/docs, size/m

#625 fix(array): make docarrays sync when explicitly synced and when exiting context manager only
  docarray/array/document.py
  docarray/array/storage/annlite/backend.py
  docarray/array/storage/annlite/getsetdel.py
  docarray/array/storage/base/getsetdel.py
  docarray/array/storage/elastic/backend.py
  docarray/array/storage/elastic/seqlike.py
  docarray/array/storage/qdrant/backend.py
  docarray/array/storage/sqlite/backend.py
  docarray/array/storage/sqlite/seqlike.py
  docarray/array/storage/weaviate/backend.py
  docarray/array/storage/weaviate/seqlike.py
  docs/advanced/document-store/index.md
  tests/unit/array/test_advance_indexing.py
  tests/unit/array/test_sequence.py
Labels: area/testing, area/core, component/array, area/docs, size/m

#645 feat: deprecate mongo db like QL syntax in redis and support native QL
  docarray/array/mixins/find.py
  docarray/array/storage/redis/backend.py
  docarray/array/storage/redis/find.py
  docs/advanced/document-store/redis.md
  tests/unit/array/mixins/test_exception.py
  tests/unit/array/mixins/test_find.py
  tests/unit/array/storage/redis/test_backend.py
Labels: area/testing, area/core, component/array, area/docs, size/m

#647 feat: show server error message in push
  docarray/array/mixins/io/pushpull.py
Labels: area/core, component/array, size/xs

#649 chore: disable annlite test
  tests/unit/array/mixins/test_plot.py
Labels: area/testing, size/xs

#635 fix: support qdrant 0.8
  docarray/array/storage/qdrant/backend.py
  docs/advanced/document-store/qdrant.md
  scripts/docker-compose.yml
  setup.py
  tests/unit/array/docker-compose.yml
Labels: area/setup, area/testing, area/core, component/array, area/docs, size/s

#643 feat: multiple metrics in evaluate
  docarray/array/mixins/evaluation.py
  docs/fundamentals/documentarray/evaluation.md
  tests/unit/array/mixins/test_eval_class.py
Labels: area/testing, area/core, component/array, area/docs, size/m

#653 ci: fix deprecation of github actions
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/force-docs-build.yml
  .github/workflows/force-release.yml
  .github/workflows/label-pr.yml
  .github/workflows/tag.yml
Labels: area/housekeeping, area/cicd, size/s

#655 chore: bump minor version
  docarray/__init__.py
Labels: area/core, area/entrypoint, size/xs

#646 fix: from csv behaviour
  docarray/array/mixins/io/from_gen.py
  tests/unit/document/test_io.py
Labels: area/testing, area/core, component/array, size/s

#657 ci: update github actions to avoid deprecation warnings
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/force-docs-build.yml
  .github/workflows/force-release.yml
  .github/workflows/label-pr.yml
  .github/workflows/tag.yml
Labels: area/housekeeping, area/cicd, size/s

#659 feat: exception for all from generator calls on instance
  docarray/array/mixins/io/from_gen.py
  tests/unit/document/test_io.py
Labels: area/testing, area/core, component/array, size/m

#662 docs: complement and rewrite evaluation docs
  docarray/array/mixins/evaluation.py
  docs/fundamentals/documentarray/evaluation.md
Labels: area/core, component/array, area/docs, size/m

#652 feat: add filter support for qdrant document store
  docarray/array/storage/qdrant/find.py
  docs/advanced/document-store/index.md
  docs/advanced/document-store/qdrant.md
  tests/unit/array/mixins/test_find.py
Labels: area/testing, area/core, component/array, area/docs, size/m

#663 feat: add args to load_uri_to_video_tensor
  docarray/document/mixins/video.py
Labels: area/core, component/document, size/xs

#670 fix: patch annlite version
  setup.py
Labels: area/setup, size/xs

#673 chore: bump version
  docarray/__init__.py
Labels: area/core, area/entrypoint, size/xs

#669 chore: move to the new hub url
  docs/_templates/sidebar/navigation.html
  docs/fundamentals/dataclass/index.md
  docs/fundamentals/documentarray/post-external.md
  docs/fundamentals/jina-support/index.md
Labels: area/docs, size/s

#679 ci: fix docs build
  .github/workflows/force-docs-build.yml
Labels: area/housekeeping, area/cicd, size/xs

#684 ci: fix first time build issue on build old docs
  .github/workflows/build-old-docs.yml
Labels: area/housekeeping, area/cicd, size/xs

#685 ci: fix token check
  .github/workflows/build-old-docs.yml
  .github/workflows/force-docs-build.yml
  .github/workflows/force-release.yml
Labels: area/housekeeping, area/cicd, size/s

#674 fix: attribute error with empty list in dataclass
  docarray/dataclasses/types.py
  docarray/document/mixins/multimodal.py
  tests/unit/document/test_multi_modal.py
Labels: area/testing, area/core, component/document, size/s

#689 docs: replace plot with display
  docs/fundamentals/document/images/doc-plot-in-jupyter.jpg
  docs/fundamentals/document/images/doc-plot-in-jupyter.png
  docs/fundamentals/document/visualization.md
Labels: area/docs, size/xs

#675 feat(qdrant): pass search_params in find
  docarray/array/storage/qdrant/find.py
  docs/advanced/document-store/qdrant.md
  tests/unit/array/storage/qdrant/test_find.py
Labels: area/testing, area/core, component/array, area/docs, size/s

#693 docs: fix version selector state out of sync when entering on url
  docs/_templates/sidebar/brand.html
Labels: area/docs, size/s

#703 chore(readme): add rich in the readme
  README.md
Labels: size/xs

#694 fix: initialize doc with dataclass obj and kwargs
  docarray/base.py
  tests/unit/document/test_multi_modal.py
Labels: area/testing, area/core, size/s

#706 docs: fix finetuner links in readme
  README.md
Labels: size/xs

#710 feat: add docarray version to push
  docarray/array/mixins/io/pushpull.py
  docarray/helper.py
Labels: area/core, component/array, size/s

#707 fix(redis): convert score of search results to float
  docarray/array/storage/redis/find.py
  tests/unit/array/mixins/test_match.py
Labels: area/testing, area/core, component/array, size/s

#711 chore: fix hint on building docarray proto
  docarray/proto/build-proto.sh
Labels: area/core, component/proto, size/xs
