Repository docarray/docarray, pull requests merged in 2022-08, with the labels that each got.

#464 fix: use os urandom to generate doc id
  docarray/document/data.py
  tests/unit/array/mixins/test_io.py
  tests/unit/array/mixins/test_pushpull.py
  tests/unit/document/test_docdata.py
Labels: area/testing, area/core, component/document, size/s

#467 fix: fix getitem by ellipsis
  docarray/array/mixins/getitem.py
  docs/fundamentals/documentarray/access-attributes.md
  tests/unit/array/test_base_getsetdel.py
Labels: area/testing, area/core, component/array, area/docs, size/s

#468 fix: fix plot bug recompute size
  docarray/array/mixins/plot.py
  tests/unit/array/mixins/test_plot.py
Labels: area/testing, area/core, component/array, size/s

#469 refactor: remove lru_cache decorator from _get_auth_token
  docarray/array/mixins/io/pushpull.py
  tests/unit/array/mixins/test_pushpull.py
Labels: area/testing, area/core, component/array, size/s

#472 fix(plot): convert uint8 before plotting
  docarray/array/mixins/plot.py
  tests/unit/array/mixins/test_plot.py
Labels: area/testing, area/core, component/array, size/xs

#471 fix: keep offset2id updated when deleting in sqlite
  docarray/array/storage/sqlite/getsetdel.py
  tests/unit/array/test_sequence.py
Labels: area/testing, area/core, component/array, size/s

#480 fix(image): fix image padding on vertical direction
  docarray/document/mixins/image.py
Labels: area/core, component/document, size/s

#456 feat: subindex for all document stores
  docarray/array/base.py
  docarray/array/document.py
  docarray/array/mixins/delitem.py
  docarray/array/mixins/find.py
  docarray/array/mixins/getitem.py
  docarray/array/mixins/match.py
  docarray/array/mixins/setitem.py
  docarray/array/storage/annlite/backend.py
  docarray/array/storage/annlite/find.py
  docarray/array/storage/annlite/getsetdel.py
  docarray/array/storage/annlite/seqlike.py
  docarray/array/storage/base/backend.py
  docarray/array/storage/base/getsetdel.py
  docarray/array/storage/base/seqlike.py
  docarray/array/storage/elastic/backend.py
  docarray/array/storage/elastic/getsetdel.py
  docarray/array/storage/elastic/seqlike.py
  docarray/array/storage/memory/backend.py
  docarray/array/storage/memory/find.py
  docarray/array/storage/memory/seqlike.py
  docarray/array/storage/qdrant/backend.py
  docarray/array/storage/qdrant/seqlike.py
  docarray/array/storage/sqlite/backend.py
  docarray/array/storage/sqlite/seqlike.py
  docarray/array/storage/weaviate/backend.py
  docarray/array/storage/weaviate/seqlike.py
  docs/advanced/document-store/extend.md
  docs/advanced/document-store/index.md
  docs/advanced/document-store/subindex.md
  docs/datatypes/multimodal/index.md
  docs/datatypes/text/index.md
  tests/unit/array/mixins/test_del.py
  tests/unit/array/mixins/test_find.py
  tests/unit/array/mixins/test_getset.py
  tests/unit/array/mixins/test_match.py
  tests/unit/array/test_sequence.py
Labels: area/testing, area/core, component/array, area/docs, size/xl

#482 refactor: use hubble sdk for push pull
  docarray/array/mixins/io/pushpull.py
  docs/fundamentals/documentarray/parallelization.md
  setup.py
  tests/unit/array/mixins/test_pushpull.py
Labels: area/setup, area/testing, area/core, component/array, area/docs, size/m

#484 fix: retrieve MAX_ES_RETURNED_DOCS docs in bulk operations
  docarray/array/storage/elastic/getsetdel.py
Labels: area/core, component/array, size/s

#485 refactor: use hubble sdk for get_token
  docarray/array/mixins/io/pushpull.py
  docarray/array/mixins/plot.py
  docs/advanced/document-store/index.md
  docs/advanced/document-store/subindex.md
  docs/fundamentals/documentarray/index.md
  docs/fundamentals/documentarray/matching.md
  docs/fundamentals/documentarray/subindex.md
  setup.py
Labels: area/setup, area/core, component/array, area/docs, size/m

#486 chore: bump version to 0.15.0
  docarray/__init__.py
Labels: area/core, area/entrypoint, size/xs

#491 feat: push meta data along with docarray
  docarray/array/mixins/io/pushpull.py
  tests/unit/array/mixins/test_io.py
  tests/unit/array/test_from_to_bytes.py
Labels: area/testing, area/core, component/array, size/s

#488 fix: set subindices directly via access path
  docarray/array/storage/base/backend.py
  docarray/array/storage/base/getsetdel.py
  tests/unit/array/mixins/test_getset.py
  tests/unit/array/test_advance_indexing.py
Labels: area/testing, area/core, component/array, size/m

#493 feat(video): add from_webcam generator
  docarray/document/mixins/image.py
  docarray/document/mixins/video.py
  docs/_static/webcam.mp4
  docs/datatypes/video/index.md
  tests/unit/document/test_converters.py
Labels: area/testing, area/core, component/document, area/docs, size/m

#494 feat(video): add height_width for webcam caps
  docarray/document/mixins/video.py
Labels: area/core, component/document, size/s

#495 fix(find): fix misleading signature of _find_by_text
  docarray/array/mixins/find.py
Labels: area/core, component/array, size/xs

#496 fix: update offset2id when deleting in subindex
  docarray/array/storage/base/getsetdel.py
Labels: area/core, component/array, size/xs

#497 fix: cap annlite version
  setup.py
Labels: area/setup, size/xs

#498 docs: bump es version in documentation to match the tests
  docs/advanced/document-store/elasticsearch.md
Labels: area/docs, size/xs

#499 Revert "fix: cap annlite version"
  setup.py
Labels: area/setup, size/xs

#503 fix(plot): be robust against non-existing subindices
  docarray/array/mixins/plot.py
Labels: area/core, component/array, size/xs

#504 fix: annlite offsetmapping
  docarray/array/storage/annlite/getsetdel.py
  docarray/array/storage/annlite/helper.py
  docarray/array/storage/annlite/seqlike.py
Labels: area/core, component/array, size/s

#371 feat: bump protobuf
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  docarray/__init__.py
  docarray/helper.py
  docarray/proto/build-proto.sh
  docarray/proto/docarray_pb2.py
  docarray/proto/pb/__init__.py
  docarray/proto/pb/docarray_pb2.py
  docarray/proto/pb2/__init__.py
  docarray/proto/pb2/docarray_pb2.py
  scripts/black.sh
  setup.py
  tests/__init__.py
Labels: area/setup, area/housekeeping, area/cicd, area/testing, area/core, component/proto, area/entrypoint, size/l

#515 fix(find): make device more generic
  docarray/math/distance/torch.py
  docs/advanced/document-store/index.md
Labels: area/core, component/math, area/docs, size/s

#516 docs: push pull use pip install common
  docs/fundamentals/documentarray/serialization.md
Labels: area/docs, size/xs
