Repository docarray/docarray, pull requests merged in 2022-04, with the labels that each got.

#246 docs: update extend docs
  docs/advanced/document-store/extend.md
Labels: area/docs, size/m

#248 feat(array): add data loader
  docarray/array/mixins/__init__.py
  docarray/array/mixins/dataloader/__init__.py
  docarray/array/mixins/dataloader/helper.py
  docs/advanced/torch-support/dataloader.svg
  docs/advanced/torch-support/index.md
  docs/fundamentals/documentarray/access-elements.md
  docs/fundamentals/documentarray/parallelization.md
  docs/index.md
  tests/unit/array/test_dataloader.py
Labels: area/testing, area/core, component/array, area/docs, size/m

#251 refactor(dataclass): fix types registry to lambda
  docarray/dataclasses/types.py
  docs/fundamentals/dataclass/index.md
Labels: area/core, area/docs, size/s

#250 fix: qdrant broken pipe error
  tests/unit/array/mixins/test_plot.py
Labels: area/testing, size/s

#252 refactor(dataclass): fix types registry to lambda
  docarray/__init__.py
  docarray/dataclasses/__init__.py
  docarray/dataclasses/getter.py
  docarray/dataclasses/serializers.py
  docarray/dataclasses/setter.py
  docarray/dataclasses/types.py
  docarray/document/mixins/multimodal.py
  tests/unit/document/test_deserializers.py
  tests/unit/document/test_multi_modal.py
Labels: area/testing, area/core, component/document, area/entrypoint, size/m

#247 fix: torch store embedding
  docarray/array/mixins/setitem.py
  docarray/document/__init__.py
  docarray/math/ndarray.py
Labels: area/core, component/document, component/array, component/math, size/s

#238 feat(hubble): push/pull user authentication
  docarray/array/mixins/io/pushpull.py
  docarray/exceptions.py
  tests/unit/array/mixins/test_pushpull.py
Labels: area/testing, area/core, component/array, size/m

#254 refactor(array): remove customize error
  docarray/array/mixins/io/pushpull.py
  docarray/exceptions.py
  tests/unit/array/mixins/test_pushpull.py
Labels: area/testing, area/core, component/array, size/m

#253 refactor(dataclass): allow dataclass takes obj directly
  docarray/base.py
  docarray/dataclasses/__init__.py
  docarray/dataclasses/types.py
  docarray/document/__init__.py
  docarray/document/mixins/multimodal.py
  docs/fundamentals/dataclass/access.md
  docs/fundamentals/dataclass/construct.md
  docs/fundamentals/dataclass/example.md
  docs/fundamentals/dataclass/field.md
  docs/fundamentals/dataclass/img/complicate-example.png
  docs/fundamentals/dataclass/img/image-mmdoc-example.png
  docs/fundamentals/dataclass/img/mmdoc-complicated.svg
  docs/fundamentals/dataclass/img/mmdoc-example.svg
  docs/fundamentals/dataclass/img/sound-mmdoc-example.png
  docs/fundamentals/dataclass/index.md
  docs/fundamentals/document/attribute.md
  docs/fundamentals/documentarray/parallelization.md
  docs/index.md
  tests/unit/document/test_multi_modal.py
Labels: area/testing, area/core, component/document, area/docs, size/m

#255 fix(documnet): hide underscore attr in plot
  docarray/document/mixins/plot.py
Labels: area/core, component/document, size/xs

#256 docs: fix push/pull
  README.md
  docs/fundamentals/documentarray/serialization.md
Labels: area/docs, size/s

#257 refactor(dataclass): remove field_name simplify getter/setter
  docarray/__init__.py
  docarray/array/mixins/io/pushpull.py
  docarray/dataclasses/__init__.py
  docarray/dataclasses/getter.py
  docarray/dataclasses/setter.py
  docarray/dataclasses/types.py
  docarray/document/mixins/multimodal.py
  docarray/document/mixins/plot.py
  docarray/typing/__init__.py
  docs/conf.py
  docs/fundamentals/dataclass/construct.md
  docs/fundamentals/dataclass/index.md
  docs/fundamentals/documentarray/parallelization.md
  setup.py
  tests/unit/document/test_dataclass_getter.py
  tests/unit/document/test_multi_modal.py
Labels: area/setup, area/testing, area/core, component/document, component/array, area/docs, area/entrypoint, size/l

#258 refactor(dataclass): remove field_name simplify getter/setter
  docarray/dataclasses/types.py
  docarray/document/mixins/multimodal.py
  docarray/document/mixins/plot.py
  docs/conf.py
  docs/fundamentals/dataclass/construct.md
  docs/fundamentals/dataclass/field.md
  docs/fundamentals/dataclass/index.md
  docs/fundamentals/dataclass/new-type.md
  tests/unit/document/test_dataclass_getter.py
  tests/unit/document/test_multi_modal.py
Labels: area/testing, area/core, component/document, area/docs, size/m

#260 refactor: only allow selection of attributes with bracket
  docarray/array/mixins/traverse.py
  tests/unit/document/test_multi_modal.py
Labels: area/testing, area/core, component/array, size/s

#261 docs(dataclass): add access modality chapter
  docarray/array/mixins/plot.py
  docarray/helper.py
  docs/fundamentals/dataclass/access.md
  docs/fundamentals/dataclass/construct.md
  docs/fundamentals/dataclass/index.md
  docs/fundamentals/dataclass/new-type.md
Labels: area/core, component/array, area/docs, size/m

#264 docs(dataclass): add clip example
  README.md
  docarray/__init__.py
  docs/fundamentals/dataclass/construct.md
  docs/fundamentals/dataclass/example.md
  docs/fundamentals/dataclass/img/dataclass-banner.png
  docs/fundamentals/dataclass/img/process-mmdoc.svg
  docs/fundamentals/dataclass/index.md
  docs/get-started/dataclass-example.svg
  docs/get-started/what-is.md
Labels: area/core, area/docs, area/entrypoint, size/m

#266 docs: improve dataclass docs
  docs/fundamentals/dataclass/access.md
  docs/fundamentals/dataclass/construct.md
  docs/fundamentals/dataclass/index.md
  docs/fundamentals/dataclass/new-type.md
Labels: area/docs, size/s

#262 docs: update access elements
  docs/fundamentals/dataclass/index.md
  docs/fundamentals/documentarray/access-elements.md
Labels: area/docs, size/xs

#269 fix: improve error message on none embedding
  docarray/array/mixins/find.py
  docarray/math/ndarray.py
  tests/unit/array/mixins/test_exception.py
Labels: area/testing, area/core, component/array, component/math, size/s

#265 feat: plot matching sprite func
  docarray/document/mixins/plot.py
  docs/fundamentals/documentarray/images/sprite-match.png
  docs/fundamentals/documentarray/visualization.md
  tests/conftest.py
  tests/unit/array/conftest.py
  tests/unit/document/test_plot.py
Labels: area/testing, area/core, component/document, area/docs, size/m

#271 feat: upload in batches for elastic
  docarray/array/storage/elastic/backend.py
  docarray/array/storage/elastic/seqlike.py
Labels: area/core, component/array, size/s

#272 feat: add hnsw params to storage backends
  docarray/array/storage/annlite/backend.py
  docarray/array/storage/elastic/backend.py
  docarray/array/storage/qdrant/backend.py
  docarray/array/storage/weaviate/backend.py
  docarray/helper.py
  docs/advanced/document-store/annlite.md
  docs/advanced/document-store/elasticsearch.md
  docs/advanced/document-store/qdrant.md
  docs/advanced/document-store/weaviate.md
Labels: area/core, component/array, area/docs, size/m

#275 refactor: adapt to qdrant client 0.7
  docarray/array/storage/qdrant/__init__.py
  docarray/array/storage/qdrant/backend.py
  docarray/array/storage/qdrant/helper.py
Labels: area/core, component/array, size/xs

#267 feat: schema for text index and search
  docarray/array/mixins/find.py
  docarray/array/storage/elastic/backend.py
  docarray/array/storage/elastic/find.py
  docarray/array/storage/elastic/getsetdel.py
  docarray/array/storage/elastic/seqlike.py
  docs/advanced/document-store/elasticsearch.md
  tests/unit/array/mixins/test_find.py
Labels: area/testing, area/core, component/array, area/docs, size/m

#279 fix: ensure limit works in elastic
  docarray/array/mixins/find.py
  tests/unit/array/mixins/test_find.py
Labels: area/testing, area/core, component/array, size/s

#280 docs: cleanup attribute page
  docs/fundamentals/document/attribute.md
Labels: area/docs, size/s

#282 refactor(array): use core client api instead of parsing
  docarray/array/mixins/post.py
Labels: area/core, component/array, size/xs

#283 feat(document): add document post as sugar
  docarray/array/mixins/post.py
  docarray/document/mixins/sugar.py
  tests/unit/array/mixins/test_post.py
Labels: area/testing, area/core, component/document, component/array, size/s

#284 fix(array): fix array post port
  docarray/array/mixins/post.py
Labels: area/core, component/array, size/xs

#285 fix: support partial functions in parallel methods
  docarray/array/mixins/parallel.py
  tests/unit/array/mixins/test_parallel.py
Labels: area/testing, area/core, component/array, size/s

#270 docs: benchmarking
  docs/advanced/document-store/annlite.md
  docs/advanced/document-store/benchmark-banner.gif
  docs/advanced/document-store/benchmark.md
  docs/advanced/document-store/benchmark.svg
  docs/advanced/document-store/elasticsearch.md
  docs/advanced/document-store/index.md
  docs/advanced/document-store/qdrant.md
  docs/advanced/document-store/sqlite.md
  docs/advanced/document-store/weaviate.md
  docs/index.md
  scripts/benchmarking.py
Labels: area/docs, size/xl

#291 docs: fix link and clarify
  docs/advanced/document-store/benchmark.md
Labels: area/docs, size/xs

#292 docs: some fixes and typos for benchmark page
  docs/advanced/document-store/benchmark.md
Labels: area/docs, size/s

#294 docs: benchmark fixes
  docs/advanced/document-store/benchmark.md
  scripts/benchmarking.py
Labels: area/docs, size/s

#297 refactor: rename variable correctly
  docarray/array/storage/weaviate/backend.py
  docs/advanced/document-store/weaviate.md
  scripts/benchmarking.py
Labels: area/core, component/array, area/docs, size/xs

#296 feat: add timeout parameter
  docarray/array/storage/weaviate/backend.py
  docs/advanced/document-store/weaviate.md
Labels: area/core, component/array, area/docs, size/s

#286 fix: consider singleton to return singleton
  docarray/array/mixins/find.py
  tests/unit/array/mixins/test_find.py
Labels: area/testing, area/core, component/array, size/s

#293 test: test when device is cuda
  tests/unit/math/distance/test_distance.py
Labels: area/testing, size/s

#302 feat(helper): actively check version on start
  docarray/__init__.py
  docarray/helper.py
  tests/unit/test_import.py
Labels: area/testing, area/core, area/entrypoint, size/s

#305 docs: remove extra character
  docs/advanced/document-store/qdrant.md
Labels: area/docs, size/xs

#304 fix: del remove attribute
  docarray/array/mixins/delitem.py
  tests/unit/array/mixins/test_del.py
Labels: area/testing, area/core, component/array, size/s

#306 docs: add pr template
  .github/pull_request_template.md
Labels: area/housekeeping, size/xs

#308 docs: fix PR contrib link
  .github/pull_request_template.md
Labels: area/housekeeping, size/xs

#307 fix: weaviate tags were ovewritten
  docarray/array/storage/weaviate/find.py
Labels: area/core, component/array, size/xs

#315 fix: fix find by vector of n_dim=1
  docarray/array/storage/qdrant/backend.py
Labels: area/core, component/array, size/xs

#313 chore: add now branding
  docs/_static/now-dark.svg
  docs/_static/now-light.svg
  docs/_templates/sidebar/navigation.html
Labels: area/docs, size/s

#312 perf: use less memory for apply
  docarray/array/mixins/parallel.py
Labels: area/core, component/array, size/s
