Repository docarray/docarray, pull requests merged in 2022-02, with the labels that each got.

#81 test(sqlite): add more test to cover sqlite backend
  docarray/array/mixins/content.py
  docarray/array/mixins/embed.py
  docarray/array/mixins/group.py
  docarray/array/mixins/setitem.py
  docarray/array/mixins/traverse.py
  docarray/array/storage/base/getsetdel.py
  docarray/array/storage/memory/getsetdel.py
  docarray/array/storage/sqlite/__init__.py
  docarray/array/storage/sqlite/backend.py
  docarray/array/storage/sqlite/binary.py
  docarray/array/storage/sqlite/getsetdel.py
  docarray/array/storage/weaviate/getsetdel.py
  docarray/math/ndarray.py
  tests/unit/array/mixins/test_content.py
  tests/unit/array/mixins/test_embed.py
  tests/unit/array/mixins/test_empty.py
  tests/unit/array/mixins/test_getset.py
  tests/unit/array/mixins/test_io.py
  tests/unit/array/mixins/test_magic.py
  tests/unit/array/mixins/test_parallel.py
  tests/unit/array/mixins/test_plot.py
  tests/unit/array/mixins/test_sample.py
  tests/unit/array/mixins/test_text.py
  tests/unit/array/test_advance_indexing.py
  tests/unit/array/test_base_getsetdel.py
  tests/unit/array/test_construct.py
  tests/unit/array/test_ravel_unravel.py
  tests/unit/array/test_sequence.py
  tests/unit/test_pydantic.py
Labels: size/l, area/testing, area/core, component/array, component/math

#88 docs(store): add documentation for storage backend
  docarray/array/sqlite.py
  docarray/array/storage/weaviate/__init__.py
  docarray/array/weaviate.py
  docs/advanced/document-store/index.md
  docs/advanced/document-store/sqlite.md
  docs/changelog/index.md
  docs/index.md
Labels: area/core, component/array, area/docs, size/m

#92 fix: fix summary for storage backends
  docarray/array/mixins/plot.py
  docarray/array/storage/base/backend.py
  docarray/array/storage/memory/backend.py
  docarray/array/storage/sqlite/backend.py
  docarray/array/storage/weaviate/backend.py
Labels: area/core, component/array, size/m

#91 feat: allow empty to get kwargs
  docarray/array/mixins/empty.py
  docarray/array/mixins/io/binary.py
  docarray/array/mixins/io/from_gen.py
  docarray/array/mixins/io/pushpull.py
  docarray/array/mixins/pydantic.py
Labels: area/core, component/array, size/s

#95 docs(store): add documentation for storage backend
  docarray/array/document.py
  docarray/array/storage/memory/seqlike.py
  docarray/array/storage/pqlite/__init__.py
  docarray/array/storage/weaviate/__init__.py
  docarray/array/storage/weaviate/backend.py
  docarray/array/storage/weaviate/getsetdel.py
  docarray/array/storage/weaviate/seqlike.py
  docarray/types.py
  docs/advanced/document-store/extend.md
  docs/index.md
  tests/unit/array/test_pqlite_indexing.py
Labels: area/testing, area/core, component/array, area/docs, size/m

#94 perf: implement append to avoid invalidating id2offset
  docarray/array/storage/memory/seqlike.py
Labels: area/core, component/array, size/xs

#97 fix(store): change default serialization protocol to pickle
  docarray/array/storage/sqlite/backend.py
  docarray/array/storage/weaviate/backend.py
  tests/unit/array/mixins/test_embed.py
Labels: area/testing, area/core, component/array, size/xs

#93 feat: find method
  docarray/array/mixins/group.py
  docarray/array/mixins/io/binary.py
  docarray/array/mixins/io/common.py
  docarray/array/mixins/io/dataframe.py
  docarray/array/mixins/io/from_gen.py
  docarray/array/mixins/io/json.py
  docarray/array/mixins/io/pushpull.py
  docarray/array/mixins/plot.py
  docarray/array/storage/memory/backend.py
  docarray/array/storage/memory/getsetdel.py
  docarray/array/storage/memory/seqlike.py
  docarray/array/storage/pqlite/__init__.py
  docarray/array/storage/pqlite/find.py
  docarray/array/storage/pqlite/getsetdel.py
  docarray/array/storage/pqlite/seqlike.py
  docarray/array/storage/sqlite/seqlike.py
  docarray/array/storage/weaviate/__init__.py
  docarray/array/storage/weaviate/backend.py
  docarray/array/storage/weaviate/find.py
  docarray/document/generators.py
  docarray/document/mixins/attribute.py
  docarray/document/mixins/mesh.py
  docarray/document/mixins/porting.py
  docarray/math/ndarray.py
  docarray/score/__init__.py
  tests/unit/array/conftest.py
  tests/unit/array/mixins/test_content.py
  tests/unit/array/mixins/test_embed.py
  tests/unit/array/mixins/test_empty.py
  tests/unit/array/mixins/test_find.py
  tests/unit/array/mixins/test_getset.py
  tests/unit/array/mixins/test_io.py
  tests/unit/array/mixins/test_magic.py
  tests/unit/array/mixins/test_parallel.py
  tests/unit/array/mixins/test_plot.py
  tests/unit/array/mixins/test_sample.py
  tests/unit/array/mixins/test_text.py
  tests/unit/array/mixins/test_traverse.py
  tests/unit/array/test_advance_indexing.py
  tests/unit/array/test_base_getsetdel.py
  tests/unit/array/test_construct.py
  tests/unit/array/test_from_to_bytes.py
  tests/unit/array/test_ravel_unravel.py
  tests/unit/array/test_sequence.py
  tests/unit/document/test_docdata.py
  tests/unit/document/test_io.py
  tests/unit/document/test_pickle.py
  tests/unit/math/test_ndarray.py
  tests/unit/test_pydantic.py
Labels: area/testing, area/core, component/document, component/array, component/math, size/xl

#102 fix: decrease batch_size of weaviate client
  docarray/array/storage/weaviate/seqlike.py
Labels: area/core, component/array, size/xs

#100 docs: minor update docstr
  docarray/array/storage/weaviate/backend.py
Labels: area/core, component/array, size/xs

#107 feat: graphql support
  docarray/__init__.py
  docarray/array/mixins/__init__.py
  docarray/array/mixins/pydantic.py
  docarray/array/mixins/strawberry.py
  docarray/document/mixins/__init__.py
  docarray/document/mixins/strawberry.py
  docarray/document/strawberry_type.py
  docs/advanced/graphql-support/gql-ui.png
  docs/advanced/graphql-support/index.md
  docs/fundamentals/fastapi-support/index.md
  docs/fundamentals/notebook-support/index.md
  docs/index.md
  setup.py
  tests/unit/test_strawberry.py
Labels: area/setup, area/testing, area/core, component/document, component/array, area/docs, area/entrypoint, size/m

#101 fix pqlite
  docarray/array/pqlite.py
  docarray/array/storage/pqlite/__init__.py
  docarray/array/storage/pqlite/backend.py
  docarray/array/storage/pqlite/getsetdel.py
  docarray/array/storage/pqlite/helper.py
  docarray/array/storage/pqlite/seqlike.py
  setup.py
  tests/unit/array/mixins/test_content.py
  tests/unit/array/mixins/test_embed.py
  tests/unit/array/mixins/test_empty.py
  tests/unit/array/mixins/test_getset.py
  tests/unit/array/mixins/test_io.py
  tests/unit/array/mixins/test_magic.py
  tests/unit/array/mixins/test_parallel.py
  tests/unit/array/mixins/test_plot.py
  tests/unit/array/mixins/test_sample.py
  tests/unit/array/mixins/test_text.py
  tests/unit/array/test_advance_indexing.py
  tests/unit/array/test_construct.py
Labels: area/setup, area/testing, area/core, component/array, size/m

#104 fix: weaviate da del behavior
  docarray/array/storage/registry.py
  docarray/array/storage/weaviate/backend.py
  docarray/array/storage/weaviate/seqlike.py
  tests/unit/array/mixins/test_del.py
  tests/unit/array/test_construct.py
Labels: area/testing, area/core, component/array, size/s

#112 fix: use utf-8 encoding for csv reading
  docarray/array/mixins/io/common.py
  docarray/array/mixins/io/csv.py
  docarray/array/mixins/io/json.py
  docarray/document/generators.py
  tests/unit/array/mixins/test_io.py
Labels: area/testing, area/core, component/document, component/array, size/s

#113 fix: no newline argument for windows
  docarray/array/mixins/io/binary.py
Labels: area/core, component/array, size/xs

#115  test: enable traverse mixin tests for storages
  tests/unit/array/mixins/test_plot.py
  tests/unit/array/mixins/test_traverse.py
Labels: area/testing, size/m

#116 refactor(array): change primary view to dict and 2nd view to list
  docarray/array/mixins/delitem.py
  docarray/array/mixins/setitem.py
  docarray/array/storage/base/backend.py
  docarray/array/storage/base/getsetdel.py
  docarray/array/storage/base/helper.py
  docarray/array/storage/base/seqlike.py
  docarray/array/storage/memory/backend.py
  docarray/array/storage/memory/getsetdel.py
  docarray/array/storage/memory/seqlike.py
  docarray/array/storage/pqlite/backend.py
  docarray/array/storage/pqlite/getsetdel.py
  docarray/array/storage/pqlite/helper.py
  docarray/array/storage/pqlite/seqlike.py
  docarray/array/storage/sqlite/backend.py
  docarray/array/storage/sqlite/getsetdel.py
  docarray/array/storage/sqlite/seqlike.py
  docarray/array/storage/weaviate/backend.py
  docarray/array/storage/weaviate/getsetdel.py
  docarray/array/storage/weaviate/seqlike.py
  docs/advanced/document-store/extend.md
  setup.py
  tests/unit/array/mixins/test_io.py
  tests/unit/array/test_advance_indexing.py
  tests/unit/array/test_base_getsetdel.py
  tests/unit/document/test_feature_hashing.py
Labels: area/setup, area/testing, area/core, component/array, area/docs, size/xl

#124 style: fix type hint by following python standard json
  docarray/array/mixins/io/json.py
  docarray/document/mixins/porting.py
Labels: area/core, component/document, component/array, size/xs

#126 docs: fix split by tags example
  docs/fundamentals/documentarray/access-elements.md
Labels: area/docs, size/xs

#127 Revert "test: reduce test time"
  .github/workflows/ci.yml
  scripts/get-all-test-paths.sh
Labels: area/housekeeping, area/cicd, size/s

#129 docs(jina): add jina integration section
  docs/_static/docarray-dark.svg
  docs/fundamentals/jina-support/docarray-img.png
  docs/fundamentals/jina-support/index.md
  docs/fundamentals/jina-support/jinahub-push.png
  docs/fundamentals/jina-support/position-jina-docarray-2.svg
  docs/fundamentals/jina-support/position-jina-docarray.svg
  docs/get-started/what-is.md
  docs/index.md
Labels: area/docs, size/m

#134 feat(array): add exclude in from_files
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  docarray/array/mixins/io/from_gen.py
  docarray/document/__init__.py
  docarray/document/generators.py
  scripts/get-all-test-paths.sh
  tests/unit/array/mixins/test_io.py
Labels: area/housekeeping, area/cicd, area/testing, area/core, component/document, component/array, size/s

#133 docs: fix typo
  docs/fundamentals/documentarray/access-elements.md
Labels: area/docs, size/xs

#137 fix: tags pydantic
  docarray/document/pydantic_model.py
  tests/unit/test_pydantic.py
Labels: area/testing, area/core, component/document, size/xs

#135 test: enable more tests for getset mixin
  tests/unit/array/mixins/test_getset.py
Labels: area/testing, size/s

#110 feat: integrate match and find function
  docarray/array/mixins/__init__.py
  docarray/array/mixins/find.py
  docarray/array/mixins/match.py
  docarray/array/storage/pqlite/find.py
  docarray/array/storage/weaviate/find.py
  docarray/math/distance/__init__.py
  tests/unit/array/mixins/test_find.py
  tests/unit/array/mixins/test_match.py
Labels: area/testing, area/core, component/array, component/math, size/l

#139 refactor(array): refactor autoboxing in find and _find
  docarray/array/mixins/find.py
  docarray/array/mixins/match.py
  docarray/array/storage/memory/__init__.py
  docarray/array/storage/memory/backend.py
  docarray/array/storage/memory/find.py
  docarray/array/storage/pqlite/find.py
  docarray/array/storage/sqlite/__init__.py
  docarray/array/storage/weaviate/find.py
Labels: area/core, component/array, size/m

#140 feat(array): add jpg support to converters
  docarray/document/mixins/image.py
  tests/unit/document/test_converters.py
Labels: area/testing, area/core, component/document, size/s

#144 fix(pushpull): raise error if push failed
  docarray/array/mixins/io/pushpull.py
  tests/unit/array/mixins/test_pushpull.py
Labels: area/testing, area/core, component/array, size/m

#147 fix(match): exclude_self
  docarray/array/mixins/find.py
  tests/unit/array/mixins/test_match.py
Labels: area/testing, area/core, component/array, size/s

#142 fix(array): fix text getter
  docarray/array/mixins/content.py
  docarray/document/mixins/plot.py
  tests/unit/array/mixins/test_content.py
  tests/unit/array/mixins/test_getset.py
  tests/unit/document/test_summary.py
Labels: area/testing, area/core, component/document, component/array, size/s

#138 feat: add compression and protocol in file name
  docarray/array/mixins/io/binary.py
  docarray/helper.py
  docs/fundamentals/documentarray/serialization.md
  tests/unit/array/test_from_to_bytes.py
  tests/unit/test_helper.py
Labels: area/testing, area/core, component/array, area/docs, size/m

#148 docs: add qabot
  docs/_templates/page.html
  docs/conf.py
Labels: area/docs, size/s

#149 refactor(array): storage info in summary
  docarray/array/mixins/plot.py
  docarray/array/storage/base/backend.py
  docarray/array/storage/memory/backend.py
  docarray/array/storage/pqlite/backend.py
  docarray/array/storage/qdrant/backend.py
  docarray/array/storage/sqlite/backend.py
  docarray/array/storage/weaviate/backend.py
  docs/fundamentals/documentarray/serialization.md
Labels: area/core, component/array, area/docs, size/s

#141 refactor(graphql): strawberry to input
  docarray/document/strawberry_type.py
Labels: area/core, component/document, size/s

#154 fix: bug with del with bool mask
  docarray/array/storage/base/getsetdel.py
  tests/unit/array/mixins/test_del.py
Labels: area/testing, area/core, component/array, size/s

#155 refactor: split client config into separate parameters
  docarray/array/storage/weaviate/backend.py
  docs/advanced/document-store/weaviate.md
Labels: area/core, component/array, area/docs, size/s

#158 fix: support torch.Tensor and other embeddings in match
  docarray/array/storage/qdrant/find.py
  docarray/array/storage/weaviate/find.py
  tests/unit/array/mixins/test_match.py
Labels: area/testing, area/core, component/array, size/s

#159 fix(weaviate): remove ndim requirement in weaviate
  docarray/array/storage/base/getsetdel.py
  docarray/array/storage/weaviate/backend.py
  docarray/array/storage/weaviate/getsetdel.py
  docs/advanced/document-store/weaviate.md
  tests/unit/array/docker-compose.yml
  tests/unit/array/mixins/test_content.py
Labels: area/testing, area/core, component/array, area/docs, size/s
