Repository docarray/docarray, pull requests merged in 2022-06, with the labels that each got.

#388 fix(tests): eq and neq operator for qdrant filtering
  tests/unit/array/mixins/test_find.py
  tests/unit/array/mixins/test_match.py
Labels: area/testing, size/s

#373 feat: filter in weav
  docarray/array/storage/weaviate/find.py
  docs/advanced/document-store/weaviate.md
  tests/unit/array/mixins/test_find.py
Labels: area/testing, area/core, component/array, area/docs, size/m

#390 refactor: remove redundant code
  docarray/__init__.py
  docarray/helper.py
Labels: area/core, area/entrypoint, size/s

#392 fix: cast column to its correct type before insertion in database
  docarray/array/storage/annlite/backend.py
  docarray/array/storage/base/backend.py
  docarray/array/storage/weaviate/backend.py
  docarray/helper.py
  tests/unit/array/test_backend_configuration.py
  tests/unit/test_helper.py
Labels: area/testing, area/core, component/array, size/m

#375 feat: add filter in elasticsearch backend
  docarray/array/mixins/find.py
  docarray/array/storage/annlite/backend.py
  docarray/array/storage/base/backend.py
  docarray/array/storage/elastic/backend.py
  docarray/array/storage/elastic/find.py
  docarray/array/storage/elastic/getsetdel.py
  docarray/array/storage/qdrant/backend.py
  docarray/array/storage/weaviate/backend.py
  docs/advanced/document-store/annlite.md
  docs/advanced/document-store/elasticsearch.md
  docs/advanced/document-store/qdrant.md
  docs/advanced/document-store/weaviate.md
  setup.py
  tests/unit/array/docker-compose.yml
  tests/unit/array/mixins/test_find.py
Labels: area/setup, area/testing, area/core, component/array, area/docs, size/m

#400 fix: propagate limit for filter
  docarray/array/mixins/find.py
  docarray/array/storage/weaviate/find.py
Labels: area/core, component/array, size/xs

#405 fix: customize metric fn expect no metric_name
  docarray/array/storage/memory/find.py
  docs/advanced/document-store/weaviate.md
  docs/fundamentals/documentarray/matching.md
  tests/unit/array/mixins/test_find.py
Labels: area/testing, area/core, component/array, area/docs, size/s

#404 fix: convert mesh tensor to nparray
  docarray/document/mixins/mesh.py
  tests/unit/document/test_converters.py
Labels: area/testing, area/core, component/document, size/xs

#396 Feat docs improvment
  docs/conf.py
Labels: area/docs, size/xs

#406 docs: present documentarray modification with context manager
  docs/advanced/document-store/index.md
Labels: area/docs, size/s

#408 docs: add table with basic capabilities of different storage backends
  docs/advanced/document-store/index.md
Labels: area/docs, size/m

#421 fix: skip render long uri
  docarray/document/mixins/image.py
  docarray/document/mixins/plot.py
  tests/unit/document/test_converters.py
Labels: area/testing, area/core, component/document, size/s
