Repository docarray/docarray, pull requests merged in 2022-01, with the labels that each got.

#18 refactor: hide get_attributes to private
  docarray/array/document.py
  docarray/array/mixins/getattr.py
  docarray/array/mixins/plot.py
  docarray/document/mixins/attribute.py
  tests/unit/array/mixins/test_getset.py
  tests/unit/array/mixins/test_group.py
  tests/unit/array/mixins/test_match.py
  tests/unit/array/mixins/test_plot.py
  tests/unit/array/mixins/test_traverse.py
  tests/unit/document/test_docdata.py
Labels: area/testing, area/core, component/document, component/array, size/s

#25 fix: improve mesh data loading
  docarray/document/mixins/mesh.py
  tests/unit/document/test_converters.py
Labels: area/testing, area/core, component/document, size/s

#19 docs: fix sidebar link
  docs/_templates/sidebar/navigation.html
Labels: area/docs, size/xs

#28 fix(array): fix edge case on single boolean index
  docarray/array/document.py
  docs/fundamentals/documentarray/access-elements.md
  tests/unit/array/test_advance_indexing.py
Labels: area/testing, area/core, component/array, area/docs, size/s

#31 fix(array): remove the support of singleton boolean index
  docarray/array/document.py
  tests/unit/array/test_advance_indexing.py
Labels: area/testing, area/core, component/array, size/s

#32 fix: fix match score
  docarray/array/mixins/match.py
  tests/unit/array/mixins/test_match.py
Labels: area/testing, area/core, component/array, size/s

#33 feat: add serialization to base64
  README.md
  docarray/array/mixins/io/binary.py
  docarray/document/mixins/porting.py
  docarray/proto/io/ndarray.py
  docs/fundamentals/document/serialization.md
  docs/fundamentals/documentarray/serialization.md
  tests/unit/array/mixins/test_io.py
  tests/unit/document/test_porting.py
Labels: area/testing, area/core, component/document, component/array, area/docs, size/m, component/proto

#35 fix: id_to_index initialization
  docarray/array/document.py
Labels: area/core, component/array, size/xs

#37 fix: fix edge case when two elements are strings
  docarray/array/document.py
  docs/fundamentals/document/construct.md
  docs/get-started/what-is.md
  tests/unit/array/test_advance_indexing.py
Labels: area/testing, area/core, component/array, area/docs, size/m

#40 feat(array): auto render in colab and jupyter
  docarray/array/mixins/io/csv.py
  docarray/array/mixins/plot.py
  setup.py
Labels: area/setup, area/core, component/array, size/s

#16 docs(readme): polish
  README.md
Labels: size/s

#42 fix: single doc set in docarray
  docarray/array/document.py
  docarray/types.py
  tests/unit/array/mixins/test_getset.py
Labels: area/testing, area/core, component/array, size/s

#47 fix: default dict from/to protobuf
  docarray/document/data.py
  docarray/proto/io/__init__.py
  tests/unit/document/test_protobuf.py
Labels: area/testing, area/core, component/document, size/s, component/proto

#49 feat: initial support on pydantic
  docarray/array/mixins/__init__.py
  docarray/array/mixins/pydantic.py
  docarray/document/mixins/__init__.py
  docarray/document/mixins/pydantic.py
  docarray/document/pydantic_model.py
  docarray/math/ndarray.py
  tests/unit/test_pydantic.py
Labels: area/testing, area/core, component/document, component/array, component/math, size/m

#50 feat: support pydantic data model
  docarray/array/mixins/pydantic.py
  docarray/document/__init__.py
  docarray/document/mixins/pydantic.py
  docarray/proto/io/__init__.py
  docs/fundamentals/fastapi-support/index.md
  docs/fundamentals/fastapi-support/lifetime-pydantic.svg
  docs/index.md
  tests/unit/document/test_protobuf.py
  tests/unit/test_pydantic.py
Labels: area/testing, area/core, component/document, component/array, area/docs, size/m, component/proto

#51 refactor(array): use extend in add improve docs
  docarray/array/document.py
  docs/fundamentals/document/serialization.md
  docs/fundamentals/documentarray/construct.md
  docs/fundamentals/documentarray/serialization.md
Labels: area/core, component/array, area/docs, size/s

#55 chore(docs): update notebook support docs
  docs/fundamentals/notebook-support/image-blob.png
  docs/fundamentals/notebook-support/image-doc-blob.png
  docs/fundamentals/notebook-support/image-doc-tensor.png
  docs/fundamentals/notebook-support/image-doc.png
  docs/fundamentals/notebook-support/image-tensor.png
  docs/fundamentals/notebook-support/index.md
Labels: area/docs, size/xs

#57 feat: use schema-ed json as default to_dict/json
  docarray/__init__.py
  docarray/array/mixins/io/csv.py
  docarray/array/mixins/io/json.py
  docarray/base.py
  docarray/document/mixins/porting.py
  docarray/document/mixins/pydantic.py
  docarray/document/pydantic_model.py
  docs/fundamentals/document/serialization.md
  docs/fundamentals/documentarray/serialization.md
  tests/unit/array/test_from_to_bytes.py
  tests/unit/document/test_porting.py
  tests/unit/document/test_protobuf.py
  tests/unit/test_pydantic.py
Labels: area/testing, area/core, component/document, component/array, area/docs, size/m, area/entrypoint

#60 fix(document): serialize tag value in the correct priority
  docarray/document/pydantic_model.py
  tests/__init__.py
  tests/unit/test_pydantic.py
Labels: area/testing, area/core, component/document, size/s

#63 fix(document): serialize blob with base64 in dict/json
  docarray/document/__init__.py
  docarray/document/mixins/pydantic.py
  docarray/document/pydantic_model.py
  tests/unit/test_pydantic.py
Labels: area/testing, area/core, component/document, size/s

#65 fix(document): complete the schema for namedscore
  docarray/document/pydantic_model.py
  tests/unit/test_pydantic.py
Labels: area/testing, area/core, component/document, size/s

#66 fix(array): allow plot to use uri or tensor as the source
  docarray/array/mixins/plot.py
  tests/unit/array/mixins/test_plot.py
Labels: area/testing, area/core, component/array, size/s

#62 feat: v1 streaming protocol
  docarray/array/mixins/io/binary.py
  docs/fundamentals/documentarray/serialization.md
  tests/unit/array/test_from_to_bytes.py
Labels: area/testing, area/core, component/array, area/docs, size/m

#67 fix(array): move hubble url to inline
  docarray/array/mixins/io/pushpull.py
Labels: area/core, component/array, size/xs

#73 fix(pydantic): turn on pydantic smart union
  docarray/document/pydantic_model.py
  tests/unit/test_pydantic.py
Labels: area/testing, area/core, component/document, size/s

#77 feat: change pydantic model optional id
  docarray/document/pydantic_model.py
  tests/unit/test_pydantic.py
Labels: area/testing, area/core, component/document, size/xs

#69 feat: add sqlite storage backend
  .pre-commit-config.yaml
  docarray/__init__.py
  docarray/array/base.py
  docarray/array/chunk.py
  docarray/array/document.py
  docarray/array/match.py
  docarray/array/memory.py
  docarray/array/mixins/__init__.py
  docarray/array/mixins/delitem.py
  docarray/array/mixins/getitem.py
  docarray/array/mixins/setitem.py
  docarray/array/sqlite.py
  docarray/array/storage/__init__.py
  docarray/array/storage/base/__init__.py
  docarray/array/storage/base/backend.py
  docarray/array/storage/base/getsetdel.py
  docarray/array/storage/memory/__init__.py
  docarray/array/storage/memory/backend.py
  docarray/array/storage/memory/getsetdel.py
  docarray/array/storage/memory/seqlike.py
  docarray/array/storage/sqlite/__init__.py
  docarray/array/storage/sqlite/backend.py
  docarray/array/storage/sqlite/getsetdel.py
  docarray/array/storage/sqlite/helper.py
  docarray/array/storage/sqlite/seqlike.py
  docarray/helper.py
  docarray/math/ndarray.py
  docarray/types.py
  tests/unit/array/mixins/test_magic.py
  tests/unit/array/test_advance_indexing.py
  tests/unit/array/test_base_getsetdel.py
Labels: area/testing, area/core, size/xl, component/array, component/math, area/entrypoint

#80 fix(sqlite): allow sqlite to work in mp/mt context
  docarray/array/storage/sqlite/backend.py
  tests/unit/array/mixins/test_parallel.py
Labels: area/testing, area/core, component/array, size/s

#82 refactor(deps): move cicd requirement to extra_requires
  .github/requirements-cicd.txt
  .github/requirements-test.txt
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  docs/index.md
  setup.py
Labels: area/setup, area/housekeeping, area/cicd, area/docs, size/s

#85 fix(document): fix feature hash mixin
  docarray/document/mixins/featurehash.py
  tests/unit/document/test_feature_hashing.py
Labels: area/testing, area/core, component/document, size/s

#78 feat: storage option
  docarray/array/document.py
  docarray/array/mixins/delitem.py
  docarray/array/mixins/getitem.py
  docarray/array/mixins/setitem.py
  docarray/array/storage/base/getsetdel.py
  docarray/array/storage/memory/getsetdel.py
  docarray/array/storage/sqlite/getsetdel.py
  docarray/array/storage/sqlite/seqlike.py
  docarray/array/storage/weaviate/__init__.py
  docarray/array/storage/weaviate/backend.py
  docarray/array/storage/weaviate/getsetdel.py
  docarray/array/storage/weaviate/seqlike.py
  docarray/array/weaviate.py
  setup.py
  tests/unit/array/conftest.py
  tests/unit/array/docker-compose.yml
  tests/unit/array/mixins/test_getset.py
  tests/unit/array/mixins/test_io.py
  tests/unit/array/test_advance_indexing.py
  tests/unit/array/test_construct.py
  tests/unit/array/test_sequence.py
Labels: area/setup, area/testing, area/core, size/xl, component/array

#79 fix: del with ids
  docarray/array/storage/memory/backend.py
  docarray/array/storage/memory/getsetdel.py
  docarray/array/storage/memory/seqlike.py
  test.py
  tests/unit/array/mixins/test_del.py
  tests/unit/array/test_sequence.py
Labels: area/testing, area/core, component/array, size/s
