Repository docarray/docarray, pull requests merged in 2023-04, with the labels that each got.

#1292 docs: add user guide
  README.md
  docs/user_guide/first_step.md
  docs/user_guide/intro.md
  docs/user_guide/representing/first_step.md
  docs/user_guide/sending/first_step.md
  docs/user_guide/storing/first_step.md
  mkdocs.yml
  poetry.lock
  pyproject.toml
Labels: area/setup, area/docs, size/m

#1335 feat: save image tensor to file
  docarray/typing/tensor/image/abstract_image_tensor.py
  tests/units/typing/tensor/test_image_tensor.py
Labels: area/testing, area/core, size/s, area/typing

#1336 docs: add audio2text showcase
  docs/how_to/audio2text.md
  mkdocs.yml
Labels: area/docs, size/s

#1338 fix: fix type in es test
  tests/integrations/doc_index/elastic/fixture.py
Labels: area/testing, size/xs

#1340 docs: rewrite readme
  README.md
  tests/documentation/test_docs.py
Labels: area/testing, size/l

#1343 docs: add DocList and DocVec section
  docs/api_references/array/any_da.md
  docs/api_references/array/da_stack.md
  docs/glossary.md
  docs/user_guide/representing/array.md
  docs/user_guide/representing/first_step.md
  mkdocs.yml
Labels: area/docs, size/l

#1337 refactor: remove warning, align naming
  docarray/index/abstract.py
  docarray/utils/find.py
  tests/index/hnswlib/test_configurations.py
  tests/units/util/test_find.py
Labels: area/testing, area/core, size/m

#1362 feat: read from remote csv file
  docarray/array/doc_list/io.py
  tests/toydata/books.csv
  tests/units/array/test_array_from_to_csv.py
Labels: area/testing, area/core, component/array, size/s

#1358 refactor: rename from_pandas to from_dataframe
  docarray/array/doc_list/io.py
  tests/units/array/test_array_from_to_pandas.py
Labels: area/testing, area/core, component/array, size/s

#1251 feat: elasticsearch(v8) document index
  .github/workflows/ci.yml
  docarray/index/__init__.py
  docarray/index/backends/elastic.py
  docarray/index/backends/elasticv7.py
  poetry.lock
  pyproject.toml
  tests/index/elastic/__init__.py
  tests/index/elastic/fixture.py
  tests/index/elastic/v7/__init__.py
  tests/index/elastic/v7/docker-compose.yml
  tests/index/elastic/v7/test_column_config.py
  tests/index/elastic/v7/test_find.py
  tests/index/elastic/v7/test_index_get_del.py
  tests/index/elastic/v8/docker-compose.yml
  tests/index/elastic/v8/test_column_config.py
  tests/index/elastic/v8/test_find.py
  tests/index/elastic/v8/test_index_get_del.py
  tests/integrations/doc_index/elastic/v7/__init__.py
Labels: area/setup, area/housekeeping, area/cicd, area/testing, area/core, size/xl

#1363 docs(menu): consistency, wording fixes
  docs/how_to/audio2text.md
  docs/how_to/multimodal_training_and_serving.md
  docs/how_to/optimize_performance_with_id_generation.md
  docs/user_guide/intro.md
  docs/user_guide/sending/first_step.md
  docs/user_guide/storing/first_step.md
  mkdocs.yml
Labels: area/docs, size/s

#1368 fix: set elastic index default dims to -1
  docarray/index/backends/elastic.py
  tests/index/elastic/fixture.py
  tests/index/elastic/v7/test_index_get_del.py
  tests/index/elastic/v8/test_index_get_del.py
Labels: area/testing, area/core, size/s

#1370 docs: add missing links and clean up
  docarray/array/any_array.py
  docarray/array/doc_list/io.py
  docarray/array/doc_vec/doc_vec.py
  docarray/base_doc/mixins/update.py
  docarray/data/torch_dataset.py
  docarray/typing/tensor/audio/abstract_audio_tensor.py
  docarray/typing/tensor/image/abstract_image_tensor.py
  docarray/typing/tensor/image/image_tensorflow_tensor.py
  docarray/typing/tensor/image/image_torch_tensor.py
  docarray/typing/tensor/video/video_tensor_mixin.py
  docarray/typing/url/url_3d/mesh_url.py
  docarray/typing/url/url_3d/point_cloud_url.py
  docarray/typing/url/video_url.py
Labels: area/core, component/array, size/m, area/typing

#1372 docs: tweak readme wording and add links
  README.md
Labels: size/xs

#1375 chore: ci use different worker for each DocIndex
  .github/workflows/ci.yml
  poetry.lock
  tests/index/weaviate/__init__.py
  tests/index/weaviate/docker-compose.yml
  tests/index/weaviate/fixture_weaviate.py
  tests/index/weaviate/test_column_config_weaviate.py
  tests/index/weaviate/test_find_weaviate.py
  tests/index/weaviate/test_index_get_del_weaviate.py
Labels: area/housekeeping, area/cicd, area/testing, size/xl

#1376 refactor: rename stack
  README.md
  docarray/array/doc_list/doc_list.py
  docarray/array/doc_vec/doc_vec.py
  docarray/index/backends/hnswlib.py
  docs/how_to/multimodal_training_and_serving.md
  tests/integrations/array/test_torch_train.py
  tests/units/array/stack/test_array_stacked.py
  tests/units/array/stack/test_array_stacked_tf.py
  tests/units/array/stack/test_proto.py
  tests/units/array/test_batching.py
  tests/units/array/test_indexing.py
  tests/units/array/test_traverse.py
  tests/units/util/test_find.py
Labels: area/testing, area/core, component/array, area/docs, size/m

#1377 chore: prepare to merge to main branch
  .github/workflows/build_docs_on_branch.yml
  .github/workflows/ci.yml
  .github/workflows/force-docs-build.yml
  .github/workflows/force-release.yml
  .github/workflows/publish-docarray-org.yml
  .github/workflows/tag.yml
  GOVERNANCE.md
  LICENSE.md
  README.md
  docarray/__init__.py
  scripts/release.sh
Labels: area/housekeeping, area/cicd, area/core, area/entrypoint, size/m

#1381 chore: make weaviate dependency optional
  poetry.lock
  pyproject.toml
Labels: area/setup, size/s

#1382 fix: fix install
  README.md
Labels: size/s

#1383 fix: add import checks and add weaviate doc index to index init
  docarray/index/__init__.py
  docarray/index/backends/qdrant.py
  docarray/index/backends/weaviate.py
  docarray/utils/_internal/misc.py
Labels: area/core, size/s

#1373 docs: check docstrings and clean up
  README.md
  docarray/array/doc_list/io.py
  docarray/array/doc_list/pushpull.py
  docarray/array/doc_list/sequence_indexing_mixin.py
  docarray/array/doc_vec/list_advance_indexing.py
  docarray/base_doc/docarray_response.py
  docarray/base_doc/mixins/update.py
  docarray/computation/abstract_comp_backend.py
  docarray/computation/numpy_backend.py
  docarray/computation/torch_backend.py
  docarray/documents/helper.py
  docarray/helper.py
  docarray/index/abstract.py
  docarray/index/backends/elastic.py
  docarray/index/backends/elasticv7.py
  docarray/index/backends/hnswlib.py
  docarray/index/backends/qdrant.py
  docarray/index/backends/weaviate.py
  docarray/store/abstract_doc_store.py
  docarray/typing/proto_register.py
  docarray/typing/tensor/audio/abstract_audio_tensor.py
  docs/.gitignore
  docs/api_references/doc_index/backends/elastic.md
  docs/api_references/doc_index/backends/elastic7.md
  docs/api_references/doc_index/backends/hnswlib.md
  docs/api_references/doc_index/backends/qdrant.md
  docs/api_references/doc_index/backends/weaviate.md
  docs/api_references/doc_index/doc_index.md
  docs/data_types/first_steps.md
  docs/how_to/multimodal_training_and_serving.md
  docs/user_guide/representing/array.md
  docs/user_guide/representing/first_step.md
  mkdocs.yml
Labels: area/core, component/array, area/docs, size/l, area/typing

#1386 chore: fix readme
  README.md
Labels: size/xs

#1387 fix: add back cd from v1
  .github/workflows/cd.yml
Labels: area/housekeeping, area/cicd, size/s

#1388 fix: needs succes all test before pushing to pypi prelease
  .github/workflows/cd.yml
  .github/workflows/ci.yml
Labels: area/housekeeping, area/cicd, size/s

#1392 chore: fix cd not running
  .github/workflows/cd.yml
  README.md
Labels: area/housekeeping, area/cicd, size/xs

#1390 docs: fix represent, intro
  docs/user_guide/intro.md
  docs/user_guide/representing/first_step.md
Labels: area/docs, size/s

#1394 docs: resolve todos and incomplete sections and missing links
  docs/user_guide/representing/array.md
  docs/user_guide/representing/first_step.md
Labels: area/docs, size/s

#1396 docs: fix style in collapsible box
  README.md
Labels: size/s

#1346 docs: document index
  .github/workflows/ci.yml
  docarray/index/backends/elastic.py
  docarray/index/backends/elasticv7.py
  docarray/index/backends/hnswlib.py
  docs/.gitignore
  docs/api_references/index/backends.md
  docs/user_guide/storing/first_step.md
  docs/user_guide/storing/first_steps.md
  docs/user_guide/storing/index_elastic.md
  docs/user_guide/storing/index_hnswlib.md
  docs/user_guide/storing/index_qdrant.md
  docs/user_guide/storing/index_weaviate.md
  mkdocs.yml
  tests/documentation/__init__.py
  tests/documentation/test_docs.py
  tests/index/hnswlib/test_configurations.py
Labels: area/housekeeping, area/cicd, area/testing, area/core, area/docs, size/xl

#1395 chore: fix update of pyproject toml version
  .github/workflows/cd.yml
  pyproject.toml
  scripts/release.sh
Labels: area/setup, area/housekeeping, area/cicd, size/s

#1384 fix: fix push pull
  docarray/array/doc_list/io.py
  docarray/store/jac.py
  tests/integrations/store/test_jac.py
Labels: area/testing, area/core, component/array, size/s

#1401 docs: final round of fixes
  README.md
  docs/API_reference/.pages
  docs/API_reference/array/any_da.md
  docs/API_reference/array/da.md
  docs/API_reference/array/da_stack.md
  docs/API_reference/base_doc/base_doc.md
  docs/API_reference/data/data.md
  docs/API_reference/doc_index/backends/elastic.md
  docs/API_reference/doc_index/backends/elastic7.md
  docs/API_reference/doc_index/backends/hnswlib.md
  docs/API_reference/doc_index/backends/qdrant.md
  docs/API_reference/doc_index/backends/weaviate.md
  docs/API_reference/doc_index/doc_index.md
  docs/API_reference/doc_store/doc_store.md
  docs/API_reference/doc_store/file_doc_store.md
  docs/API_reference/doc_store/jac_doc_store.md
  docs/API_reference/doc_store/s3_doc_store.md
  docs/API_reference/documents/documents.md
  docs/API_reference/typing/bytes.md
  docs/API_reference/typing/id.md
  docs/API_reference/typing/tensor/audio.md
  docs/API_reference/typing/tensor/embedding.md
  docs/API_reference/typing/tensor/image.md
  docs/API_reference/typing/tensor/tensor.md
  docs/API_reference/typing/tensor/video.md
  docs/API_reference/typing/url.md
  docs/API_reference/utils/filter.md
  docs/API_reference/utils/find.md
  docs/API_reference/utils/maps_docs.md
  docs/API_reference/utils/reduce.md
  docs/data_types/3d_mesh/3d_mesh.md
  docs/data_types/audio/audio.md
  docs/data_types/first_steps.md
  docs/data_types/image/image.md
  docs/data_types/multimodal/multimodal.md
  docs/data_types/table/table.md
  docs/data_types/text/text.md
  docs/data_types/video/video.md
  docs/glossary.md
  docs/how_to/add_doc_index.md
  docs/how_to/multimodal_training_and_serving.md
  docs/how_to/optimize_performance_with_id_generation.md
  docs/user_guide/representing/first_step.md
  docs/user_guide/sending/api/fastAPI.md
  docs/user_guide/sending/api/jina.md
  docs/user_guide/sending/first_step.md
  docs/user_guide/sending/ser/send_doc.md
  docs/user_guide/sending/ser/send_doclist.md
  docs/user_guide/sending/ser/send_docvec.md
  mkdocs.yml
Labels: area/docs, size/l

#1400 docs: polish docs
  mkdocs.yml
Labels: size/xs

#1398 docs: add migration guide
  docarray/documents/legacy/legacy_document.py
  docs/migration_guide.md
  mkdocs.yml
Labels: area/core, area/docs, size/m

#1403 fix: ingore push pull test
  tests/integrations/store/test_jac.py
Labels: area/testing, size/xs

#1404 chore: install poetry during release
  .github/workflows/force-release.yml
Labels: area/housekeeping, area/cicd, size/xs

#1408 docs: remove duplicate api reference section
  docs/api_references/index/backends.md
  docs/user_guide/storing/index_elastic.md
Labels: area/docs, size/xs

#1415 chore: bump pyproject version
  pyproject.toml
Labels: area/setup, size/xs

#1413 chore: fix cd docs, readme and release
  .github/workflows/cd.yml
  .github/workflows/force-docs-build.yml
  scripts/get-last-release-note.py
Labels: area/housekeeping, area/cicd, size/s

#1417 docs(migration-guide): fix issues
  docs/migration_guide.md
Labels: area/docs, size/s

#1416 chore: use temp file for docs build action
  .github/workflows/force-docs-build.yml
Labels: area/housekeeping, area/cicd, size/xs

#1419 docs: consistent wording
  docs/user_guide/storing/first_step.md
  docs/user_guide/storing/first_steps.md
  docs/user_guide/storing/index_elastic.md
Labels: area/docs, size/s

#1412 docs: clean up data types section
  mkdocs.yml
Labels: size/xs

#1421 fix: install commands after removing of common
  docarray/utils/_internal/misc.py
Labels: area/core, size/xs

#1423 docs(storage): proofread
  docs/user_guide/storing/doc_store/store_file.md
  docs/user_guide/storing/doc_store/store_jac.md
  docs/user_guide/storing/docindex.md
  docs/user_guide/storing/first_step.md
  docs/user_guide/storing/index_elastic.md
  docs/user_guide/storing/index_hnswlib.md
  docs/user_guide/storing/index_weaviate.md
  mkdocs.yml
Labels: area/docs, size/m

#1424 fix: save index during creation for hnswlib
  docarray/index/backends/hnswlib.py
  tests/index/hnswlib/test_persist_data.py
Labels: area/testing, area/core, size/s

#1426 fix: passes max_element when load index in hnswlib
  docarray/index/backends/hnswlib.py
  tests/index/base_classes/test_base_doc_store.py
  tests/index/base_classes/test_configs.py
  tests/index/elastic/v7/test_column_config.py
  tests/index/elastic/v7/test_find.py
  tests/index/elastic/v7/test_index_get_del.py
  tests/index/elastic/v8/test_column_config.py
  tests/index/elastic/v8/test_find.py
  tests/index/elastic/v8/test_index_get_del.py
  tests/index/hnswlib/test_find.py
  tests/index/hnswlib/test_index_get_del.py
  tests/index/hnswlib/test_persist_data.py
  tests/index/qdrant/test_filter.py
  tests/index/qdrant/test_find.py
  tests/index/qdrant/test_index_get_del.py
  tests/index/qdrant/test_persist_data.py
  tests/index/qdrant/test_query_builder.py
  tests/index/qdrant/test_raw_query.py
  tests/index/qdrant/test_text_search.py
  tests/index/weaviate/test_column_config_weaviate.py
  tests/index/weaviate/test_find_weaviate.py
  tests/index/weaviate/test_index_get_del_weaviate.py
Labels: area/testing, area/core, size/xl

#1431 feat: add install instructions for hnswlib and elastic doc index
  docarray/index/backends/elastic.py
  docarray/index/backends/hnswlib.py
  docarray/utils/_internal/misc.py
Labels: area/core, size/s

#1429 fix: torch tensor with grad to numpy
  docarray/index/abstract.py
Labels: area/core, size/xs

#1432 feat: add google analytics
  mkdocs.yml
Labels: size/xs

#1433 fix: docindex urls
  docs/migration_guide.md
  docs/user_guide/storing/index_elastic.md
  docs/user_guide/storing/index_hnswlib.md
  docs/user_guide/storing/index_qdrant.md
Labels: area/docs, size/s

#1434 docs: index predefined documents
  docs/user_guide/storing/docindex.md
Labels: area/docs, size/s

#1436 docs: fix typos
  docs/user_guide/storing/docindex.md
Labels: area/docs, size/xs

#1453 docs: fix fastapi
  docs/user_guide/sending/api/fastAPI.md
Labels: area/docs, size/xs

#1437 feat: add config to load more field that the schema
  docarray/base_doc/any_doc.py
  docarray/base_doc/doc.py
  docarray/base_doc/mixins/io.py
  tests/units/array/test_array_proto.py
  tests/units/document/proto/test_document_proto.py
Labels: area/testing, area/core, size/m

#1441 feat: add in-memory doc index
  docarray/index/__init__.py
  docarray/index/backends/helper.py
  docarray/index/backends/hnswlib.py
  docarray/index/backends/in_memory.py
  docs/API_reference/doc_index/backends/in_memory.md
  docs/user_guide/storing/index_in_memory.md
  mkdocs.yml
  tests/index/in_memory/__init__.py
  tests/index/in_memory/test_in_memory.py
  tests/index/qdrant/fixtures.py
Labels: area/testing, area/core, area/docs, size/l

#1458 chore: bump version to 0.31.0
  README.md
  docarray/__init__.py
  pyproject.toml
Labels: area/setup, area/core, area/entrypoint, size/xs

#1457 feat: make DocList an actual Python List
  docarray/array/doc_list/doc_list.py
  docarray/array/doc_list/io.py
  docarray/array/doc_vec/column_storage.py
  docarray/array/doc_vec/doc_vec.py
  docarray/array/doc_vec/list_advance_indexing.py
  docarray/array/list_advance_indexing.py
  docarray/index/abstract.py
  tests/units/array/stack/test_init.py
  tests/units/array/test_array.py
Labels: area/testing, area/core, component/array, size/m

#1467 fix: raise error when calling to csv or to dataframe on non homegenou…
  docarray/array/doc_list/io.py
  tests/units/array/test_array_from_to_csv.py
  tests/units/array/test_array_from_to_pandas.py
Labels: area/testing, area/core, component/array, size/s

#1471 fix: from proto for nested List and Dict
  docarray/base_doc/mixins/io.py
  tests/units/document/proto/test_document_proto.py
Labels: area/testing, area/core, size/s

#1470 fix: return doclist of same type as input index in find and findbatched
  docarray/utils/find.py
  tests/units/util/test_find.py
Labels: area/testing, area/core, size/s

#1477 fix: fix equal of BaseDoc with nested DocList
  docarray/array/doc_list/doc_list.py
  docarray/base_doc/doc.py
  tests/units/document/test_base_document.py
Labels: area/testing, area/core, component/array, size/s

#1478 fix: use `pd.concat()` instead `df.append()` in `to_dataframe()` to avoid warning
  docarray/array/doc_list/io.py
Labels: area/core, component/array, size/xs
