Repository docarray/docarray, pull requests merged in 2023-08, with the labels that each got.

#1737 feat: add description and example to ID field of BaseDoc
  docarray/base_doc/doc.py
  docarray/index/backends/elastic.py
  docarray/index/backends/elasticv7.py
  docarray/index/backends/hnswlib.py
  tests/index/base_classes/test_base_doc_store.py
Labels: area/testing, area/core, size/s

#1743 chore: update version
  docarray/__init__.py
  pyproject.toml
Labels: area/setup, area/core, area/entrypoint, size/xs

#1746 fix: fix readme test
  tests/documentation/test_docs.py
Labels: area/testing, size/xs

#1747 fix: fix dynamic class creation with doubly nested schemas
  docarray/utils/create_dynamic_doc_class.py
  tests/units/util/test_create_dynamic_code_class.py
Labels: area/testing, area/core, size/s

#1757 fix: bump version
  pyproject.toml
Labels: area/setup, size/xs

#1762 docs: improve filtering docstrings
  docarray/utils/filter.py
Labels: area/core, size/m

#1763 docs: add note about pickling dynamically created doc class
  docarray/documents/helper.py
Labels: area/core, size/xs

#1754 docs: add workaround for torch compile
  .github/workflows/ci.yml
  docarray/typing/tensor/torch_tensor.py
  docs/data_types/tensor/tensor.md
  poetry.lock
Labels: area/housekeeping, area/cicd, area/core, area/docs, size/m, area/typing

#1767 chore: remove pydantic ref from issue template
  .github/ISSUE_TEMPLATE/bug-v1-deprecated.yml
  .github/ISSUE_TEMPLATE/bug-v2.yml
Labels: area/housekeeping, size/s
