Repository docarray/docarray, pull requests merged in 2023-10, with the labels that each got.

#1818 chore: update version to 0.39.0
  docarray/__init__.py
  pyproject.toml
Labels: area/setup, area/core, area/entrypoint, size/xs

#1823 fix: from_dataframe with numpy==1.26.1 and type handling in python 3.9
  .github/workflows/ci.yml
  docarray/base_doc/doc.py
  docarray/base_doc/mixins/io.py
  docarray/display/document_summary.py
  docarray/helper.py
  tests/units/array/test_array_from_to_pandas.py
  tests/units/typing/tensor/test_ndarray.py
Labels: area/housekeeping, area/cicd, area/testing, area/core, size/s

#1826 chore: update version before patch release
  pyproject.toml
Labels: area/setup, size/xs
