Repository docarray/docarray, pull requests merged in 2023-03, with the labels that each got.

#1124 feat: hnswlib document index
  docarray/array/array/array.py
  docarray/doc_index/__init__.py
  docarray/doc_index/abstract_doc_index.py
  docarray/doc_index/backends/__init__.py
  docarray/doc_index/backends/hnswlib_doc_index.py
  docarray/utils/misc.py
  docs/index_init.md
  docs/tutorials/add_doc_index.md
  poetry.lock
  pyproject.toml
  tests/doc_index/__init__.py
  tests/doc_index/base_classes/__init__.py
  tests/doc_index/base_classes/test_base_doc_store.py
  tests/doc_index/base_classes/test_base_query_builder.py
  tests/doc_index/base_classes/test_configs.py
  tests/doc_index/hnswlib/__init__.py
  tests/doc_index/hnswlib/test_find.py
  tests/doc_index/hnswlib/test_index_get_del.py
Labels: area/setup, area/testing, area/core, component/array, area/docs, size/xl

#1198 fix: typing of getitem
  docarray/array/array/array.py
  docarray/doc_index/abstract_doc_index.py
Labels: area/core, component/array, size/xs

#1203 feat: helper method to transpose data
  docarray/doc_index/abstract_doc_index.py
  docs/tutorials/add_doc_index.md
  tests/doc_index/base_classes/test_base_doc_store.py
Labels: area/testing, area/core, area/docs, size/s

#1205 docs: fixes for graphql, torch pages
  docs/advanced/graphql-support/index.md
  docs/advanced/torch-support/index.md
Labels: area/docs, size/s

#997 docs: fix opensearch docker compose yaml file
  docs/advanced/document-store/opensearch.md
Labels: area/docs, size/xs

#1208 refactor: rename predefined documents
  README.md
  docarray/documents/__init__.py
  docarray/documents/audio.py
  docarray/documents/image.py
  docarray/documents/text.py
  docarray/documents/video.py
  docs/tutorials/multimodal_training_and_serving.md
  tests/benchmark_tests/test_map.py
  tests/integrations/document/test_document.py
  tests/integrations/document/test_proto.py
  tests/integrations/externals/test_fastapi.py
  tests/integrations/predefined_document/test_audio.py
  tests/integrations/predefined_document/test_image.py
  tests/integrations/predefined_document/test_text.py
  tests/integrations/predefined_document/test_video.py
  tests/integrations/torch/data/test_torch_dataset.py
  tests/units/array/test_array_from_to_bytes.py
  tests/units/array/test_array_from_to_csv.py
  tests/units/array/test_array_from_to_json.py
  tests/units/array/test_array_from_to_pandas.py
  tests/units/array/test_array_proto.py
  tests/units/array/test_array_save_load.py
  tests/units/array/test_array_stacked.py
  tests/units/array/test_indexing.py
  tests/units/array/test_traverse.py
  tests/units/document/test_docs_operators.py
  tests/units/document/test_from_to_bytes.py
  tests/units/document/test_text_document.py
  tests/units/document/test_update.py
  tests/units/test_helper.py
  tests/units/util/test_filter.py
  tests/units/util/test_map.py
  tests/units/util/test_reduce.py
Labels: area/testing, area/core, area/docs, size/l

#1214 docs: remove docsqa
  docs/_templates/page.html
  docs/conf.py
Labels: area/docs, size/s

#1213 refactor: refactor query builder
  docarray/doc_index/abstract_doc_index.py
  docarray/doc_index/backends/hnswlib_doc_index.py
  docs/tutorials/add_doc_index.md
  tests/doc_index/base_classes/test_base_doc_store.py
  tests/doc_index/base_classes/test_base_query_builder.py
Labels: area/testing, area/core, area/docs, size/m

#1215 feat(index): automatically convert a dict to Document
  docarray/doc_index/abstract_doc_index.py
  docarray/doc_index/backends/hnswlib_doc_index.py
  docarray/utils/find.py
  tests/doc_index/base_classes/test_base_doc_store.py
Labels: area/testing, area/core, size/m

#1183 refactor: da stack full column wise
  docarray/array/abstract_array.py
  docarray/array/array/array.py
  docarray/array/array/sequence_indexing_mixin.py
  docarray/array/stacked/array_stacked.py
  docarray/array/stacked/column_storage.py
  docarray/array/stacked/list_advance_indexing.py
  docarray/base_document/document.py
  docarray/base_document/mixins/io.py
  docarray/computation/abstract_comp_backend.py
  docarray/computation/abstract_numpy_based_backend.py
  docarray/computation/torch_backend.py
  docarray/data/torch_dataset.py
  docarray/display/document_array_summary.py
  docarray/proto/__init__.py
  docarray/proto/docarray.proto
  docarray/proto/pb/docarray_pb2.py
  docarray/proto/pb2/docarray_pb2.py
  docarray/typing/tensor/abstract_tensor.py
  docarray/typing/tensor/ndarray.py
  docarray/typing/tensor/tensorflow_tensor.py
  docarray/typing/tensor/torch_tensor.py
  pyproject.toml
  tests/units/array/stack/__init__.py
  tests/units/array/stack/storage/__init__.py
  tests/units/array/stack/storage/test_storage.py
  tests/units/array/stack/test_array_stacked.py
  tests/units/array/stack/test_array_stacked_tf.py
  tests/units/array/stack/test_init.py
  tests/units/array/stack/test_proto.py
  tests/units/array/test_array.py
  tests/units/array/test_array_proto.py
  tests/units/array/test_indexing.py
  tests/units/document/test_view.py
Labels: area/setup, area/testing, area/core, component/array, component/proto, size/xl, area/typing

#1228 feat: ellipsis in tensor shape definition
  docarray/typing/tensor/abstract_tensor.py
  docarray/typing/tensor/ndarray.py
  docarray/typing/tensor/tensorflow_tensor.py
  docarray/typing/tensor/torch_tensor.py
  tests/units/typing/tensor/test_tensor.py
  tests/units/typing/tensor/test_tensor_flow_tensor.py
Labels: area/testing, area/core, size/m, area/typing

#1240 chore: update contributing guideline
  CONTRIBUTING.md
  tests/integrations/torch/data/test_torch_dataset.py
Labels: area/testing, size/xs

#1247 chore: update contribution guideline
  CONTRIBUTING.md
Labels: size/s

#1249 make default search field empty string
  .pre-commit-config.yaml
  docarray/doc_index/abstract_doc_index.py
  docarray/doc_index/backends/hnswlib_doc_index.py
Labels: area/core, size/s

#1242 docs: add explanation about id field
  docs/tutorials/add_doc_index.md
Labels: area/docs, size/xs

#1244 feat: shift to mkdocs
  .github/workflows/build_docs_on_branch.yml
  .github/workflows/ci_only_pr.yml
  docarray/__init__.py
  docarray/array/array/array.py
  docarray/array/array/io.py
  docarray/doc_index/abstract_doc_index.py
  docarray/doc_index/backends/hnswlib_doc_index.py
  docs/Makefile
  docs/_static/banner.png
  docs/_static/main.css
  docs/_static/mov_bbb.mp4
  docs/_templates/page.html
  docs/_templates/sidebar/brand.html
  docs/_versions.json
  docs/api_public.rst
  docs/api_references/array/da.md
  docs/api_references/array/da_stack.md
  docs/api_references/base_document/base_document.md
  docs/api_references/data/data.md
  docs/api_references/documents/documents.md
  docs/api_references/typing/typing.md
  docs/assets/docarray-dark.svg
  docs/assets/docarray-light.svg
  docs/assets/favicon.png
  docs/assets/logo-dark.svg
  docs/assets/logo-light.svg
  docs/conf.py
  docs/html_extra/robots.txt
  docs/index_init.md
  docs/makedoc.sh
  docs/makedocs.sh
  docs/requirements.txt
  mkdocs.yml
  poetry.lock
  pyproject.toml
Labels: area/setup, area/housekeeping, area/cicd, area/core, component/array, area/docs, area/entrypoint, size/xl

#1220 feat(index): index data with union types
  docarray/doc_index/abstract_doc_index.py
  docarray/doc_index/backends/hnswlib_doc_index.py
  docarray/typing/tensor/abstract_tensor.py
  tests/doc_index/base_classes/test_base_doc_store.py
  tests/units/typing/tensor/test_tensor.py
Labels: area/testing, area/core, size/m, area/typing

#1260 fix: move test to integration test
  .github/workflows/ci.yml
  tests/integrations/doc_index/doc_index/__init__.py
  tests/integrations/doc_index/doc_index/base_classes/__init__.py
  tests/integrations/doc_index/doc_index/base_classes/test_base_doc_store.py
  tests/integrations/doc_index/doc_index/base_classes/test_configs.py
  tests/integrations/doc_index/doc_index/hnswlib/__init__.py
  tests/integrations/doc_index/doc_index/hnswlib/test_find.py
  tests/integrations/doc_index/doc_index/hnswlib/test_index_get_del.py
Labels: area/housekeeping, area/cicd, area/testing, size/s

#1254 feat: add minimal logger
  CONTRIBUTING.md
  README.md
  docarray/__init__.py
  docarray/doc_index/abstract_doc_index.py
  docarray/doc_index/backends/hnswlib_doc_index.py
  tests/doc_index/conftest.py
Labels: area/testing, area/core, area/entrypoint, size/s

#1270 fix: bytes type in `TextDoc` and `VideoDoc`
  docarray/documents/text.py
  docarray/documents/video.py
Labels: area/core, size/s

#1266 refactor: doc index structure
  .github/workflows/ci.yml
  README.md
  docarray/index/__init__.py
  docarray/index/abstract.py
  docarray/index/backends/__init__.py
  docarray/index/backends/hnswlib.py
  pyproject.toml
  tests/index/__init__.py
  tests/index/base_classes/__init__.py
  tests/index/base_classes/test_base_doc_store.py
  tests/index/base_classes/test_configs.py
  tests/index/conftest.py
  tests/index/hnswlib/__init__.py
  tests/index/hnswlib/test_find.py
  tests/index/hnswlib/test_index_get_del.py
  tests/integrations/doc_index/doc_index/hnswlib/__init__.py
Labels: area/setup, area/housekeeping, area/cicd, area/testing, area/core, size/s

#1268 refactor(da): remove tensor type from `DocumentArray` init
  docarray/array/abstract_array.py
  docarray/array/array/array.py
  docarray/array/stacked/array_stacked.py
  docarray/data/torch_dataset.py
  tests/units/array/stack/test_array_stacked.py
  tests/units/array/stack/test_array_stacked_tf.py
  tests/units/array/test_indexing.py
Labels: area/testing, area/core, component/array, size/m

#1279 fix: doc summary for dict and set attributes
  docarray/display/document_summary.py
Labels: area/core, size/s

#1267 feat: add `get_paths()` instead of v1 `from_files()`
  docarray/display/document_summary.py
  docarray/helper.py
  tests/units/test_helper.py
Labels: area/testing, area/core, size/m

#1278 fix: proto ser and deser for nested tuple/dict/list
  docarray/base_document/mixins/io.py
  docarray/proto/__init__.py
  docarray/proto/docarray.proto
  docarray/proto/pb/docarray_pb2.py
  docarray/proto/pb2/docarray_pb2.py
  tests/units/document/proto/test_document_proto.py
Labels: area/testing, area/core, component/proto, size/m

#1283 feat: create documents from dict
  docarray/documents/helper.py
  tests/integrations/document/test_document.py
Labels: area/testing, area/core, size/m

#1285 docs(v2-readme): fix up english
  README.md
Labels: size/s

#1287 fix: add int, float and others to doc summary
  docarray/display/document_summary.py
Labels: area/core, size/xs

#1277 fix: hnswlib doc index
  .github/workflows/ci.yml
  docarray/index/abstract.py
  docarray/index/backends/hnswlib.py
  docarray/utils/_typing.py
  tests/index/hnswlib/test_find.py
  tests/index/hnswlib/test_index_get_del.py
  tests/index/hnswlib/test_persist_data.py
Labels: area/housekeeping, area/cicd, area/testing, area/core, size/m

#1182 feat: implement push/pull interface from JAC, file and s3
  .github/workflows/ci.yml
  docarray/array/array/array.py
  docarray/array/array/io.py
  docarray/array/array/pushpull.py
  docarray/store/__init__.py
  docarray/store/abstract_doc_store.py
  docarray/store/exceptions.py
  docarray/store/file.py
  docarray/store/helpers.py
  docarray/store/jac.py
  docarray/store/s3.py
  docarray/utils/cache.py
  docarray/utils/progress_bar.py
  poetry.lock
  pyproject.toml
  tests/integrations/store/__init__.py
  tests/integrations/store/docker-compose.yml
  tests/integrations/store/test_file.py
  tests/integrations/store/test_jac.py
  tests/integrations/store/test_s3.py
Labels: area/setup, area/housekeeping, area/cicd, area/testing, area/core, component/array, size/xl

#1295 chore(docs): add ci and fix docs ui
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  CONTRIBUTING.md
  docs/api_references/.pages
  docs/assets/logo-dark.svg
  docs/assets/logo-light.svg
  docs/how_to/add_doc_index.md
  docs/how_to/multimodal_training_and_serving.md
  docs/how_to/optimize_performance_with_id_generation.md
  docs/user_guide/first_step.md
  docs/user_guide/intro.md
  mkdocs.yml
  poetry.lock
  pyproject.toml
  tests/documentation/test_docs.py
Labels: area/setup, area/housekeeping, area/cicd, area/testing, area/docs, size/m

#1305 fix: remove files
  file_1.mp4
  file_2.mp4
Labels: size/xs

#1294 fix: flatten schema of abstract index
  docarray/index/abstract.py
  docarray/index/backends/hnswlib.py
  docarray/utils/_internal/_typing.py
  docs/how_to/add_doc_index.md
  tests/index/base_classes/test_base_doc_store.py
Labels: area/testing, area/core, area/docs, size/m

#1308 docs: fix docstring example of find_batched
  docarray/utils/find.py
Labels: area/core, size/s

#1311 docs: fix map docstring
  docarray/utils/map.py
  docs/api_references/utils/filter.md
  docs/api_references/utils/find.md
  docs/api_references/utils/maps_docs.md
  docs/api_references/utils/reduce.md
Labels: area/core, area/docs, size/m

#1196 feat: elasticsearch document index
  docarray/index/__init__.py
  docarray/index/abstract.py
  docarray/index/backends/elastic.py
  docarray/index/backends/hnswlib.py
  poetry.lock
  pyproject.toml
  tests/index/elastic/fixture.py
  tests/index/elastic/v7/docker-compose.yml
  tests/index/elastic/v7/test_column_config.py
  tests/index/elastic/v7/test_find.py
  tests/index/elastic/v7/test_index_get_del.py
Labels: area/setup, area/testing, area/core, size/xl

#1281 chore: add instructions to pip installs and group extras
  .github/workflows/ci.yml
  docarray/array/array/io.py
  docarray/array/array/sequence_indexing_mixin.py
  docarray/base_doc/__init__.py
  docarray/base_doc/doc_response.py
  docarray/base_doc/mixins/io.py
  docarray/computation/tensorflow_backend.py
  docarray/computation/torch_backend.py
  docarray/documents/audio.py
  docarray/documents/image.py
  docarray/documents/mesh/vertices_and_faces.py
  docarray/documents/point_cloud/point_cloud_3d.py
  docarray/documents/point_cloud/points_and_colors.py
  docarray/documents/video.py
  docarray/index/__init__.py
  docarray/index/abstract.py
  docarray/index/backends/hnswlib.py
  docarray/proto/__init__.py
  docarray/proto/pb/docarray_pb2.py
  docarray/proto/pb2/docarray_pb2.py
  docarray/store/__init__.py
  docarray/store/jac.py
  docarray/store/s3.py
  docarray/typing/__init__.py
  docarray/typing/bytes/audio_bytes.py
  docarray/typing/bytes/image_bytes.py
  docarray/typing/bytes/video_bytes.py
  docarray/typing/tensor/__init__.py
  docarray/typing/tensor/audio/__init__.py
  docarray/typing/tensor/audio/abstract_audio_tensor.py
  docarray/typing/tensor/embedding/__init__.py
  docarray/typing/tensor/image/__init__.py
  docarray/typing/tensor/image/abstract_image_tensor.py
  docarray/typing/tensor/tensorflow_tensor.py
  docarray/typing/tensor/torch_tensor.py
  docarray/typing/tensor/video/__init__.py
  docarray/typing/tensor/video/video_tensor_mixin.py
  docarray/typing/url/url_3d/mesh_url.py
  docarray/typing/url/url_3d/point_cloud_url.py
  docarray/typing/url/url_3d/url_3d.py
  docarray/utils/_internal/compress.py
  docarray/utils/_internal/misc.py
  docs/how_to/add_doc_index.md
  poetry.lock
  pyproject.toml
Labels: area/setup, area/housekeeping, area/cicd, area/core, component/array, area/docs, component/proto, size/xl, area/typing

#1314 fix: mark es test as index
  .github/workflows/ci.yml
  tests/integrations/doc_index/__init__.py
  tests/integrations/doc_index/elastic/__init__.py
  tests/integrations/doc_index/elastic/fixture.py
  tests/integrations/doc_index/elastic/v7/__init__.py
  tests/integrations/doc_index/elastic/v7/docker-compose.yml
  tests/integrations/doc_index/elastic/v7/test_column_config.py
  tests/integrations/doc_index/elastic/v7/test_find.py
  tests/integrations/doc_index/elastic/v7/test_index_get_del.py
Labels: area/housekeeping, area/cicd, area/testing, size/s

#1320 feat: docarray fastapi simple integration
  docarray/array/array/io.py
  docarray/base_doc/__init__.py
  docarray/base_doc/base_node.py
  docarray/base_doc/doc.py
  docarray/base_doc/docarray_response.py
  docarray/base_doc/io/json.py
  docarray/typing/abstract_type.py
  docarray/typing/tensor/abstract_tensor.py
  tests/integrations/externals/test_fastapi.py
Labels: area/testing, area/core, component/array, size/m, area/typing
