Repository docarray/docarray, pull requests merged in 2023-05, with the labels that each got.

#1481 fix: fix to dict exclude
  docarray/base_doc/doc.py
  tests/units/document/test_base_document.py
Labels: area/testing, area/core, size/m

#1485 test: try to get jac tests back up
  docarray/store/jac.py
  tests/integrations/store/test_jac.py
Labels: area/testing, area/core, size/s

#1494 feat: add to_json alias
  docarray/base_doc/doc.py
Labels: area/core, size/xs

#1492 chore: ci fix jac by passing secret to workflow
  .github/workflows/cd.yml
  .github/workflows/ci.yml
Labels: area/housekeeping, area/cicd, size/xs

#1499 chore: remove file
  simple-dl.csv
  simple-dl.json
Labels: size/xs

#1486 feat: index or collection name will default to doc-type name
  docarray/index/backends/elastic.py
  docarray/index/backends/elasticv7.py
  docarray/index/backends/qdrant.py
  docarray/index/backends/weaviate.py
  docs/user_guide/storing/docindex.md
  docs/user_guide/storing/index_elastic.md
  docs/user_guide/storing/index_qdrant.md
  docs/user_guide/storing/index_weaviate.md
  tests/index/elastic/fixture.py
  tests/index/elastic/v7/test_column_config.py
  tests/index/elastic/v7/test_find.py
  tests/index/elastic/v7/test_index_get_del.py
  tests/index/elastic/v8/test_column_config.py
  tests/index/elastic/v8/test_find.py
  tests/index/elastic/v8/test_index_get_del.py
  tests/index/qdrant/docker-compose.yml
  tests/index/qdrant/fixtures.py
  tests/index/qdrant/test_find.py
  tests/index/qdrant/test_index_get_del.py
  tests/index/qdrant/test_persist_data.py
  tests/index/weaviate/test_column_config_weaviate.py
  tests/index/weaviate/test_index_get_del_weaviate.py
Labels: area/testing, area/core, area/docs, size/l

#1493 fix: fix extend with itself infinite recursion
  docarray/array/doc_list/doc_list.py
  tests/units/array/test_array.py
Labels: area/testing, area/core, component/array, size/s

#1502 fix: fix nested doc to json
  docarray/array/doc_list/doc_list.py
  docarray/base_doc/doc.py
  tests/units/array/test_array.py
  tests/units/document/test_base_document.py
Labels: area/testing, area/core, component/array, size/m

#1509 chore: fix cd for documentation
  .github/workflows/force-docs-build.yml
Labels: area/housekeeping, area/cicd, size/xs

#1514 chore: bump version
  pyproject.toml
Labels: area/setup, size/xs

#1510 feat: openapi tensor shapes
  docarray/typing/tensor/abstract_tensor.py
  docarray/typing/tensor/ndarray.py
  docarray/typing/tensor/tensorflow_tensor.py
  docarray/typing/tensor/torch_tensor.py
  docs/user_guide/sending/api/fastAPI.md
  docs/user_guide/sending/api/fastapi-example-request.png
  docs/user_guide/sending/api/fastapi-example-schema.png
  tests/units/document/test_to_schema.py
Labels: area/testing, area/core, area/docs, size/m, area/typing

#1520 docs: flatten structure
  docs/user_guide/sending/api/fastAPI.md
  docs/user_guide/sending/api/jina.md
  docs/user_guide/sending/first_step.md
  docs/user_guide/sending/ser/send_doc.md
  docs/user_guide/sending/ser/send_docvec.md
  docs/user_guide/sending/serialization.md
  mkdocs.yml
Labels: area/docs, size/m

#1524 chore: add protobuf in the hnsw extra
  poetry.lock
  pyproject.toml
Labels: area/setup, size/xs

#1516 feat: search_field should be optional in hybrid text search
  docarray/index/backends/weaviate.py
  docs/user_guide/storing/index_weaviate.md
  tests/index/weaviate/test_index_get_del_weaviate.py
Labels: area/testing, area/core, area/docs, size/s

#1522 fix: DocVec display
  docarray/array/doc_vec/column_storage.py
  docarray/base_doc/doc.py
  tests/units/document/test_view.py
Labels: area/testing, area/core, component/array, size/s

#1428 feat: subindex for document index
  docarray/index/abstract.py
  docarray/index/backends/elastic.py
  docarray/index/backends/hnswlib.py
  docarray/index/backends/qdrant.py
  docarray/index/backends/weaviate.py
  docarray/utils/find.py
  docs/how_to/add_doc_index.md
  docs/user_guide/storing/docindex.md
  docs/user_guide/storing/index_elastic.md
  docs/user_guide/storing/index_hnswlib.md
  tests/index/base_classes/test_base_doc_store.py
  tests/index/elastic/v7/test_subindex.py
  tests/index/elastic/v8/test_subindex.py
  tests/index/hnswlib/test_subindex.py
  tests/index/qdrant/test_subindex.py
  tests/index/weaviate/test_subindex.py
Labels: area/testing, area/core, area/docs, size/xl

#1533 fix: add empty judgement to index search
  docarray/index/backends/hnswlib.py
  docarray/index/backends/in_memory.py
  tests/index/hnswlib/test_find.py
  tests/index/in_memory/test_in_memory.py
Labels: area/testing, area/core, size/s

#1534 feat: save and load inmemory index
  docarray/index/backends/in_memory.py
  docs/user_guide/storing/index_in_memory.md
  tests/index/in_memory/test_in_memory.py
Labels: area/testing, area/core, area/docs, size/s

#1541 chore: bump to 0.32.0
  docarray/__init__.py
  pyproject.toml
Labels: area/setup, area/core, area/entrypoint, size/xs

#1540 refactor: uncaped tests as a nightly job
  .github/workflows/ci.yml
  .github/workflows/uncaped.yml
Labels: area/housekeeping, area/cicd, size/s

#1546 docs: explain the state of doclist in fastapi
  docs/user_guide/sending/api/fastAPI.md
Labels: area/docs, size/s

#1559 fix: dict method for document view
  docarray/array/doc_vec/column_storage.py
  tests/units/array/stack/storage/test_storage.py
  tests/units/array/stack/test_array_stacked.py
Labels: area/testing, area/core, component/array, size/s

#1566 docs: update doc building guide
  CONTRIBUTING.md
Labels: size/s

#1575 fix: fix None embedding exact nn search
  docarray/utils/find.py
  tests/index/in_memory/test_in_memory.py
Labels: area/testing, area/core, size/s

#1581 chore: update pyproject.toml
  pyproject.toml
Labels: area/setup, size/xs

#1595 fix: fix summary of Doc with list
  docarray/display/document_summary.py
Labels: area/core, size/s

#1588 feat: tensor coersion
  docarray/typing/tensor/abstract_tensor.py
  docarray/typing/tensor/ndarray.py
  docarray/typing/tensor/tensorflow_tensor.py
  docarray/typing/tensor/torch_tensor.py
  tests/units/typing/tensor/test_tensor_coercion.py
Labels: area/testing, area/core, size/m, area/typing

#1582 fix: fix InMemoryExactNN index initialization with nested DocList
  docarray/index/backends/in_memory.py
  docs/user_guide/storing/docindex.md
Labels: area/core, area/docs, size/xs

#1596 fix: fix simple usage of HNSWLib
  docarray/index/abstract.py
  tests/index/hnswlib/test_find.py
Labels: area/testing, area/core, size/s

#1576 docs: add a tensor section to docs
  README.md
  docarray/typing/tensor/tensor.py
  docs/API_reference/typing/tensor/tensor.md
  docs/data_types/first_steps.md
  docs/data_types/tensor/tensor.md
  mkdocs.yml
  simple-dl.csv
  simple-dl.json
Labels: area/core, area/docs, size/m, area/typing
