Repository docarray/docarray, pull requests merged in 2023-09, with the labels that each got.

#1769 fix: make DocList.to_json() return str instead of bytes
  docarray/array/doc_list/io.py
  docs/user_guide/sending/serialization.md
  tests/units/array/test_array_from_to_json.py
Labels: area/testing, area/core, component/array, area/docs, size/s

#1773 docs: explain how to set document config
  docs/user_guide/representing/first_step.md
  tests/units/document/test_any_document.py
Labels: area/testing, area/docs, size/s

#1778 refactor: use safe_issubclass
  docarray/array/doc_vec/doc_vec.py
  docarray/typing/tensor/abstract_tensor.py
Labels: area/core, component/array, size/xs, area/typing

#1777 fix: skip doc attributes in __annotations__ but not in __fields__
  docarray/utils/create_dynamic_doc_class.py
  tests/units/util/test_create_dynamic_code_class.py
Labels: area/testing, area/core, size/s

#1793 text: fix failing test
  docarray/documents/video.py
  tests/integrations/predefined_document/test_video.py
Labels: area/testing, area/core, size/s

#1791 feat: remove JAC
  .github/workflows/ci.yml
  docarray/array/doc_list/pushpull.py
  docarray/store/__init__.py
  docarray/store/abstract_doc_store.py
  docarray/store/file.py
  docarray/store/jac.py
  docarray/store/s3.py
  docarray/utils/_internal/misc.py
  docs/API_reference/doc_store/jac_doc_store.md
  docs/user_guide/storing/doc_store/store_jac.md
  docs/user_guide/storing/first_step.md
  tests/integrations/store/test_jac.py
  tests/integrations/store/test_s3.py
Labels: area/housekeeping, area/cicd, area/testing, area/core, component/array, area/docs, size/l

#1796 test: remove skipif for pydantic
  tests/units/document/test_base_document.py
Labels: area/testing, size/xs

#1801 refactor: add is_index_empty API
  docarray/index/abstract.py
  docarray/index/backends/in_memory.py
Labels: area/core, size/s

#1803 feat: add BaseDocWoId
  docarray/base_doc/doc.py
  poetry.lock
  pyproject.toml
Labels: area/setup, area/core, size/m

#1805 fix: make DocList compatible with BaseDocWithoutId
  docarray/array/any_array.py
  docarray/array/doc_list/doc_list.py
  tests/units/document/test_doc_wo_id.py
Labels: area/testing, area/core, component/array

#1807 ci: fix test
  .github/workflows/ci.yml
Labels: area/housekeeping, area/cicd, size/xs

#1800 fix: fix double subscriptable error
  docarray/array/doc_list/doc_list.py
  tests/units/array/test_array.py
Labels: area/testing, area/core, component/array, size/s

#1806 fix: validate before
  docarray/documents/audio.py
  docarray/documents/image.py
  docarray/documents/mesh/mesh_3d.py
  docarray/documents/point_cloud/point_cloud_3d.py
  docarray/documents/text.py
  docarray/documents/video.py
  docarray/typing/tensor/ndarray.py
  tests/integrations/predefined_document/test_audio.py
  tests/integrations/predefined_document/test_image.py
  tests/integrations/predefined_document/test_mesh.py
  tests/integrations/predefined_document/test_point_cloud.py
  tests/integrations/predefined_document/test_text.py
  tests/integrations/predefined_document/test_video.py
  tests/units/array/test_array_from_to_csv.py
Labels: area/testing, area/core, size/m, area/typing

#1808 fix: allow nested model dump via docvec
  docarray/base_doc/doc.py
  tests/units/array/test_array_from_to_pandas.py
Labels: area/testing, area/core, size/s

#1809 test: remove skips
  tests/units/array/test_array_from_to_pandas.py
  tests/units/document/test_base_document.py
  tests/units/util/test_filter.py
Labels: area/testing, size/xs

#1811 test: remove skip of s3
  tests/integrations/store/test_s3.py
Labels: area/testing, size/xs

#1795 feat: enable dynamic doc with Pydantic v2
  docarray/utils/create_dynamic_doc_class.py
  tests/units/util/test_create_dynamic_code_class.py
Labels: area/testing, area/core, size/s

#1812 test: move the pydantic check inside test
  docarray/store/helpers.py
  tests/integrations/store/test_file.py
Labels: area/testing, area/core, size/s
