Repository docarray/docarray, pull requests merged in 2023-06, with the labels that each got.

#1598 chore: simplify find batched
  docarray/utils/find.py
Labels: area/core, size/xs

#1607 docs: add in memory to documentation as list of supported vector index
  docs/user_guide/storing/first_step.md
Labels: area/docs, size/xs

#1604 fix: allow update on HNSWLibIndex
  docarray/index/backends/hnswlib.py
  docs/user_guide/storing/index_hnswlib.md
  tests/index/hnswlib/test_index_get_del.py
Labels: area/testing, area/core, area/docs, size/m

#1610 docs: fix n_dim to dim in docs
  docs/user_guide/storing/docindex.md
Labels: area/docs, size/xs

#1611 fix: hnswlib must be able to search with limit more than num docs
  docarray/index/backends/hnswlib.py
  tests/index/hnswlib/test_find.py
Labels: area/testing, area/core, size/s

#1615 docs: add forward declaration steps to example to avoid pickling error
  docs/how_to/multimodal_training_and_serving.md
Labels: area/docs, size/s

#1623 chore: add a better looking issue template
  .github/ISSUE_TEMPLATE/bug-v1.yml
  .github/ISSUE_TEMPLATE/bug-v2.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
Labels: area/housekeeping, size/m

#1624 chore: fix issue template
  .github/ISSUE_TEMPLATE/bug-v1-deprecated.yml
  .github/ISSUE_TEMPLATE/config.yml
Labels: area/housekeeping, size/xs

#1621 refactor: minor changes in weaviate
  docarray/index/backends/elastic.py
  docarray/index/backends/weaviate.py
Labels: area/core, size/s

#1626 chore: update version to 0.33
  docarray/__init__.py
  pyproject.toml
Labels: area/setup, area/core, area/entrypoint, size/xs

#1634 docs: qdrant in memory usage
  docs/user_guide/storing/index_qdrant.md
Labels: area/docs, size/xs

#1644 chore: drop python 3.7
  .github/workflows/ci.yml
  .github/workflows/ci_only_pr.yml
  .github/workflows/force-docs-build.yml
  .github/workflows/force-release.yml
  .github/workflows/tag.yml
  .github/workflows/uncaped.yml
  poetry.lock
  pyproject.toml
Labels: area/setup, area/housekeeping, area/cicd, size/m

#1645 feat: tensor type for protobuf deserialization
  docarray/array/doc_vec/doc_vec.py
  docs/user_guide/sending/serialization.md
  tests/units/array/stack/test_proto.py
Labels: area/testing, area/core, component/array, area/docs, size/m

#1648 fix: default column config should be DBConfig and not RuntimeConfig
  docarray/index/abstract.py
  docarray/index/backends/elastic.py
  docarray/index/backends/elasticv7.py
  docarray/index/backends/hnswlib.py
  docarray/index/backends/in_memory.py
  docarray/index/backends/qdrant.py
  docarray/index/backends/weaviate.py
  docs/how_to/add_doc_index.md
  docs/user_guide/storing/docindex.md
  docs/user_guide/storing/index_elastic.md
  docs/user_guide/storing/index_hnswlib.md
  docs/user_guide/storing/index_in_memory.md
  tests/index/base_classes/test_base_doc_store.py
  tests/index/base_classes/test_configs.py
Labels: area/testing, area/core, area/docs, size/m

#1649 refactor: implementation of InMemoryExactNNIndex follows DBConfig way
  docarray/index/backends/in_memory.py
  docs/user_guide/storing/index_in_memory.md
Labels: area/core, area/docs, size/s

#1650 chore: remove useless file
  simple-dl.csv
  simple-dl.json
Labels: size/xs

#1656 fix: pass limit as integer
  docarray/utils/find.py
  tests/units/util/test_find.py
Labels: area/testing, area/core, size/xs

#1657 fix: pass limit as integer
  docarray/index/backends/hnswlib.py
Labels: area/core, size/xs

#1662 chore: fix link on pypi
  mkdocs.yml
  pyproject.toml
Labels: area/setup, size/xs

#1663 fix: docvec equality if tensors are involved
  docarray/array/doc_vec/column_storage.py
  docarray/computation/abstract_comp_backend.py
  docarray/computation/numpy_backend.py
  docarray/computation/tensorflow_backend.py
  docarray/computation/torch_backend.py
  tests/units/array/stack/test_array_stacked.py
Labels: area/testing, area/core, component/array, size/m

#1664 chore: upgrade version to 0.34.0
  docarray/__init__.py
  pyproject.toml
Labels: area/setup, area/core, area/entrypoint, size/xs

#1667 feat: add method to create BaseDoc from schema
  docarray/utils/create_dynamic_doc_class.py
  tests/units/util/test_create_dynamic_code_class.py
Labels: area/testing, area/core, size/m

#1669 feat: validate file formats in url (#1606)
  docarray/documents/text.py
  docarray/typing/url/any_url.py
  docarray/typing/url/audio_url.py
  docarray/typing/url/image_url.py
  docarray/typing/url/mimetypes.py
  docarray/typing/url/text_url.py
  docarray/typing/url/url_3d/mesh_url.py
  docarray/typing/url/url_3d/point_cloud_url.py
  docarray/typing/url/url_3d/url_3d.py
  docarray/typing/url/video_url.py
  tests/index/weaviate/test_index_get_del_weaviate.py
  tests/integrations/typing/test_typing_proto.py
  tests/units/typing/url/test_any_url.py
  tests/units/typing/url/test_audio_url.py
  tests/units/typing/url/test_image_url.py
  tests/units/typing/url/test_mesh_url.py
  tests/units/typing/url/test_point_cloud_url.py
  tests/units/typing/url/test_text_url.py
  tests/units/typing/url/test_video_url.py
Labels: area/testing, area/core, size/m, area/typing

#1674 docs: fix a reference in readme
  README.md
Labels: size/xs

#1562 feat: i/o for DocVec
  docarray/array/doc_list/doc_list.py
  docarray/array/doc_list/io.py
  docarray/array/doc_vec/column_storage.py
  docarray/array/doc_vec/doc_vec.py
  docarray/base_doc/doc.py
  docarray/base_doc/mixins/io.py
  docs/user_guide/sending/serialization.md
  tests/units/array/test_array_from_to_bytes.py
  tests/units/array/test_array_from_to_csv.py
  tests/units/array/test_array_from_to_json.py
  tests/units/array/test_array_from_to_pandas.py
  tests/units/array/test_array_save_load.py
  tests/units/document/test_base_document.py
Labels: area/testing, area/core, component/array, area/docs, size/l
