Repository docarray/docarray, pull requests merged in 2023-02, with the labels that each got.

#1067 feat: init text directly
  docarray/documents/text.py
  tests/units/document/test_docs_operators.py
  tests/units/document/test_text_document.py
Labels: area/testing, area/core, size/s

#1065 feat: add byte to documents
  docarray/base_document/io/json.py
  docarray/base_document/mixins/proto.py
  docarray/documents/audio.py
  docarray/documents/image.py
  docarray/documents/mesh.py
  docarray/documents/point_cloud.py
  docarray/documents/text.py
  docarray/documents/video.py
  docarray/typing/__init__.py
  docarray/typing/abstract_type.py
  docarray/typing/bytes/__init__.py
  docarray/typing/bytes/audio_bytes.py
  docarray/typing/bytes/image_bytes.py
  docarray/typing/tensor/__init__.py
  docarray/typing/tensor/audio/abstract_audio_tensor.py
  docarray/typing/tensor/audio/audio_ndarray.py
  docarray/typing/tensor/audio/audio_torch_tensor.py
  docarray/typing/tensor/image/__init__.py
  docarray/typing/tensor/image/abstract_image_tensor.py
  docarray/typing/tensor/image/image_ndarray.py
  docarray/typing/tensor/image/image_tensor.py
  docarray/typing/tensor/image/image_torch_tensor.py
  docarray/typing/url/any_url.py
  docarray/typing/url/audio_url.py
  docarray/typing/url/helper.py
  docarray/typing/url/image_url.py
  docarray/typing/url/text_url.py
  docarray/typing/url/url_3d/mesh_url.py
  docarray/typing/url/url_3d/point_cloud_url.py
  docarray/typing/url/video_url.py
  tests/integrations/document/test_proto.py
  tests/integrations/document/test_to_json.py
  tests/integrations/predefined_document/test_audio.py
  tests/integrations/predefined_document/test_image.py
  tests/units/typing/test_bytes.py
  tests/units/typing/url/test_audio_url.py
  tests/units/typing/url/test_image_url.py
  tests/units/typing/url/test_text_url.py
  tests/units/typing/url/test_video_url.py
Labels: area/testing, area/core, size/l, area/typing

#1078 feat: support proto 3
  .github/workflows/ci.yml
  docarray/proto/__init__.py
  docarray/proto/pb/docarray_pb2.py
  docarray/proto/pb2/docarray_pb2.py
  pyproject.toml
  tests/integrations/document/test_proto.py
  tests/units/array/test_array_proto.py
  tests/units/array/test_array_stacked.py
  tests/units/document/proto/test_document_proto.py
  tests/units/typing/url/test_any_url.py
  tests/units/typing/url/test_audio_url.py
  tests/units/typing/url/test_text_url.py
  tests/units/typing/url/test_video_url.py
Labels: area/setup, area/housekeeping, area/cicd, area/testing, area/core, component/proto, size/m

#1082 chore: uncap dependency
  .github/workflows/ci.yml
  pyproject.toml
Labels: area/setup, area/housekeeping, area/cicd, size/s

#1076 feat: reduce and update methods for DocumentArray and BaseDocument
  docarray/base_document/document.py
  docarray/utils/reduce.py
  tests/units/document/test_base_document.py
  tests/units/document/test_update.py
  tests/units/util/test_reduce.py
Labels: area/testing, area/core, size/m

#1049 feat: TorchDataset
  .gitignore
  docarray/array/abstract_array.py
  docarray/array/array.py
  docarray/array/array_stacked.py
  docarray/data/__init__.py
  docarray/data/torch_dataset.py
  docarray/utils/_typing.py
  docarray/utils/find.py
  docs/tutorials/multimodal_training_and_serving.md
  tests/integrations/torch/data/__init__.py
  tests/integrations/torch/data/test_torch_dataset.py
  tests/toydata/captions.csv
Labels: area/testing, area/core, component/array, area/docs, size/l

#1089 fix: add missing import
  docarray/typing/__init__.py
Labels: area/core, size/xs, area/typing

#1084 feat: support every type in protobuf
  docarray/base_document/mixins/proto.py
  docarray/proto/docarray.proto
  docarray/proto/pb/docarray_pb2.py
  docarray/proto/pb2/docarray_pb2.py
  tests/units/document/proto/test_document_proto.py
Labels: area/testing, area/core, component/proto, size/l

#1074 feat: advanced indexing
  docarray/array/array.py
  docarray/array/array_stacked.py
  docarray/base_document/mixins/proto.py
  docarray/display/document_array_summary.py
  docarray/documents/audio.py
  docarray/documents/image.py
  docarray/documents/point_cloud.py
  docarray/documents/video.py
  docarray/proto/__init__.py
  docarray/proto/docarray.proto
  docarray/proto/pb/docarray_pb2.py
  docarray/proto/pb2/docarray_pb2.py
  docarray/typing/tensor/abstract_tensor.py
  docarray/typing/url/data/05978.jpg
  docarray/utils/misc.py
  tests/units/array/test_array_stacked.py
  tests/units/array/test_indexing.py
Labels: area/testing, area/core, component/array, component/proto, size/xl, DocArray v2, area/typing

#1092 docs: remove ecosystem from docs
  docs/_templates/sidebar/navigation.html
Labels: area/docs, size/s

#1090 feat: add v1 equivalent Document
  docarray/documents/legacy/__init__.py
  docarray/documents/legacy/legacy_document.py
Labels: area/core, size/s

#1094 fix: scalar and nan stacking
  docarray/array/array_stacked.py
  docarray/typing/tensor/abstract_tensor.py
  tests/units/array/test_array_stacked.py
Labels: area/testing, area/core, component/array, size/m, area/typing

#1086 docs: scipy install
  docs/datatypes/text/index.md
Labels: area/docs, size/s

#1095 feat: delitem for DocumentArray
  docarray/array/array.py
  docarray/array/array_stacked.py
  tests/units/array/test_array.py
  tests/units/array/test_array_stacked.py
Labels: area/testing, area/core, component/array, size/s

#1097 feat: allow building DocumentArrayStacked from Iterable of Docs
  docarray/array/array.py
  docarray/array/array_stacked.py
  tests/units/array/test_array_stacked.py
Labels: area/testing, area/core, component/array, size/s

#1100 test: add tests tensor dtype serialization
  tests/units/document/proto/test_document_proto.py
Labels: area/testing, size/s

#1064 feat(v2): add tensorflow support
  .github/workflows/ci.yml
  README.md
  docarray/array/array_stacked.py
  docarray/computation/abstract_comp_backend.py
  docarray/computation/abstract_numpy_based_backend.py
  docarray/computation/numpy_backend.py
  docarray/computation/tensorflow_backend.py
  docarray/computation/torch_backend.py
  docarray/typing/__init__.py
  docarray/typing/proto_register.py
  docarray/typing/tensor/__init__.py
  docarray/typing/tensor/abstract_tensor.py
  docarray/typing/tensor/ndarray.py
  docarray/typing/tensor/tensor.py
  docarray/typing/tensor/tensorflow_tensor.py
  docarray/typing/tensor/torch_tensor.py
  pyproject.toml
  tests/integrations/typing/test_tensor.py
  tests/integrations/typing/test_tensorflow_tensor.py
  tests/integrations/typing/test_typing_proto.py
  tests/units/array/test_array.py
  tests/units/array/test_array_stacked_tf.py
  tests/units/computation_backends/numpy_backend/test_basics.py
  tests/units/computation_backends/tensorflow_backend/__init__.py
  tests/units/computation_backends/tensorflow_backend/test_basics.py
  tests/units/computation_backends/tensorflow_backend/test_metrics.py
  tests/units/computation_backends/tensorflow_backend/test_retrieval.py
  tests/units/document/proto/test_proto_based_object.py
  tests/units/typing/tensor/test_audio_tensor.py
  tests/units/typing/tensor/test_cross_backend.py
  tests/units/typing/tensor/test_embedding.py
  tests/units/typing/tensor/test_tensor.py
  tests/units/typing/tensor/test_tensor_flow_tensor.py
  tests/units/typing/tensor/test_torch_tensor.py
  tests/units/typing/url/test_image_url.py
  tests/units/typing/url/test_mesh_url.py
  tests/units/typing/url/test_point_cloud_url.py
  tests/units/util/test_typing.py
Labels: area/setup, area/housekeeping, area/cicd, area/testing, area/core, component/array, size/xl, area/typing

#1101 docs: fix urls to docs.docarray.org
  CONTRIBUTING.md
  GOVERNANCE.md
  README.md
  docarray/array/mixins/traverse.py
  docarray/array/storage/qdrant/find.py
  docarray/proto/build-proto.sh
  docs/advanced/document-store/benchmark.md
  docs/conf.py
  docs/fundamentals/dataclass/access.md
  docs/fundamentals/dataclass/construct.md
  docs/fundamentals/dataclass/index.md
  docs/fundamentals/document/construct.md
  docs/fundamentals/documentarray/subindex.md
  docs/html_extra/robots.txt
  scripts/docstrings_lint.sh
  setup.py
  tests/unit/array/mixins/test_pushpull.py
Labels: area/setup, area/testing, area/core, component/array, area/docs, component/proto, size/s

#1104 chore: update mypy and ruff
  poetry.lock
  pyproject.toml
Labels: area/setup, size/m

#1117 fix(v2): rich display min width instead of set width
  docarray/display/document_summary.py
  docarray/display/tensor_display.py
Labels: area/core, size/s

#1139 refactor: refactor from proto code
  docarray/base_document/mixins/proto.py
Labels: area/core, size/m

#1140 refactor: better document mixin handling
  docarray/base_document/abstract_document.py
  docarray/base_document/document.py
  docarray/base_document/mixins/__init__.py
  docarray/base_document/mixins/plot.py
  docarray/base_document/mixins/proto.py
  docarray/base_document/mixins/update.py
  docarray/display/document_summary.py
  pyproject.toml
Labels: area/setup, area/core, size/m

#1141 feat: add validation on document array
  docarray/array/array.py
  docarray/array/array_stacked.py
Labels: area/core, component/array, size/s

#1132 feat: port to_from_* and load/save_binary
  docarray/array/array.py
  docarray/base_document/document.py
  docarray/utils/compress.py
  docarray/utils/progress_bar.py
  poetry.lock
  pyproject.toml
  tests/units/array/test_array_from_to_bytes.py
  tests/units/array/test_array_from_to_json.py
  tests/units/array/test_array_save_load.py
  tests/units/document/test_from_to_bytes.py
Labels: area/setup, area/testing, area/core, component/array, size/xl

#1138 feat(v2): stack da inside da
  docarray/array/array.py
  docarray/array/array_stacked.py
  tests/units/array/test_array_stacked.py
  tests/units/array/test_array_stacked_tf.py
Labels: area/testing, area/core, component/array, size/m

#1136 feat: display image audio and video from url and tensor
  docarray/typing/bytes/video_bytes.py
  docarray/typing/tensor/audio/abstract_audio_tensor.py
  docarray/typing/tensor/image/abstract_image_tensor.py
  docarray/typing/tensor/video/video_ndarray.py
  docarray/typing/tensor/video/video_tensor_mixin.py
  docarray/typing/url/audio_url.py
  docarray/typing/url/image_url.py
  docarray/typing/url/video_url.py
  docarray/utils/misc.py
  poetry.lock
  pyproject.toml
  tests/units/typing/tensor/test_video_tensor.py
Labels: area/setup, area/testing, area/core, size/m, area/typing

#1145 refactor: use io mixin
  docarray/__init__.py
  docarray/array/__init__.py
  docarray/array/array/__init__.py
  docarray/array/array/array.py
  docarray/array/array/io.py
  docarray/array/stacked/__init__.py
  docarray/array/stacked/array_stacked.py
  docarray/base_document/document.py
  docarray/base_document/mixins/__init__.py
  docarray/base_document/mixins/io.py
  docarray/utils/filter.py
  docarray/utils/find.py
  tests/integrations/torch/data/test_torch_dataset.py
  tests/units/array/test_array_proto.py
Labels: area/testing, area/core, component/array, area/entrypoint, size/xl

#1147 fix: better generic support in document array stack
  docarray/array/abstract_array.py
  docarray/array/array/array.py
  docarray/array/stacked/array_stacked.py
  tests/units/array/test_array.py
Labels: area/testing, area/core, component/array, size/s

#1149 chore: bump version
  docarray/__init__.py
  pyproject.toml
Labels: area/setup, area/core, area/entrypoint, size/xs

#1143 fix: enable torchembedding deepcopy
  docarray/typing/tensor/embedding/torch.py
  tests/units/typing/tensor/test_torch_tensor.py
Labels: area/testing, area/core, size/s, area/typing

#1151 fix: fix version num
  docarray/__init__.py
  pyproject.toml
Labels: area/setup, area/core, area/entrypoint, size/xs

#1154 fix: fix ci
  .github/workflows/ci.yml
Labels: area/housekeeping, area/cicd, size/xs

#1160 fix: da summary tf tensor nan
  docarray/display/document_array_summary.py
Labels: area/core, size/xs

#1159 fix: remove setetiem in getiem
  docarray/array/stacked/array_stacked.py
  tests/units/array/test_array_stacked.py
  tests/units/array/test_array_stacked_tf.py
  tests/units/typing/tensor/test_torch_tensor.py
Labels: area/testing, area/core, component/array, size/s

#1158 docs: fix small typo in pull
  docs/fundamentals/cloud-support/data-management.md
Labels: area/docs, size/xs

#1162 refactor(v2): change access path separator from `.` to `__`
  docarray/array/abstract_array.py
  docarray/utils/filter.py
  docarray/utils/query_language/lookup.py
  docarray/utils/query_language/query_parser.py
  tests/units/array/test_traverse.py
  tests/units/util/query_language/test_lookup.py
  tests/units/util/test_filter.py
Labels: area/testing, area/core, component/array, size/m

#1155 feat: support other audio format
  .github/workflows/ci.yml
  docarray/documents/audio.py
  docarray/typing/bytes/audio_bytes.py
  docarray/typing/tensor/audio/abstract_audio_tensor.py
  docarray/typing/tensor/audio/audio_ndarray.py
  docarray/typing/tensor/audio/audio_tensorflow_tensor.py
  docarray/typing/tensor/audio/audio_torch_tensor.py
  docarray/typing/url/audio_url.py
  docarray/typing/url/filetypes.py
  tests/integrations/predefined_document/test_audio.py
  tests/toydata/hello
  tests/toydata/hello.aac
  tests/toydata/hello.flac
  tests/toydata/hello.m4a
  tests/toydata/hello.mp3
  tests/toydata/hello.ogg
  tests/toydata/hello.wma
  tests/units/typing/tensor/test_audio_tensor.py
  tests/units/typing/url/test_audio_url.py
Labels: area/housekeeping, area/cicd, area/testing, area/core, size/m, area/typing

#1169 feat(v2): add trimesh load args for `Url3D.load()`
  docarray/typing/url/url_3d/mesh_url.py
  docarray/typing/url/url_3d/point_cloud_url.py
  docarray/typing/url/url_3d/url_3d.py
Labels: area/core, size/s, area/typing

#1179 feat: dynamic class creation
  docarray/documents/helper.py
  tests/integrations/document/test_document.py
Labels: area/testing, area/core, size/m
