Repository docarray/docarray, pull requests merged in 2023-01, with the labels that each got.

#965 refactor: rename absrtact to any tensor
  docarray/array/abstract_array.py
  docarray/array/array_stacked.py
  docarray/predefined_document/image.py
  docarray/predefined_document/mesh.py
  docarray/predefined_document/point_cloud.py
  docarray/typing/__init__.py
  docarray/typing/tensor/__init__.py
  docarray/typing/tensor/abstract_tensor.py
  docarray/typing/tensor/tensor.py
  docarray/typing/tensor/torch_tensor.py
  docarray/util/find.py
  tests/integrations/document/test_proto.py
  tests/integrations/typing/test_tensor.py
Labels: area/testing, area/core, component/array, size/s, area/typing

#951 fix(v2): handle union and optional types
  docarray/__init__.py
  docarray/array/array.py
  docarray/array/array_stacked.py
  docarray/document/mixins/proto.py
  docarray/typing/__init__.py
  docarray/util/find.py
  poetry.lock
  pyproject.toml
  tests/units/array/test_array.py
  tests/units/array/test_stack_mod.py
  tests/units/util/test_find.py
Labels: area/setup, area/testing, area/core, component/document, component/array, area/entrypoint, size/m, area/typing

#970 refactor(v2): rename Document to BaseDocument
  .github/workflows/ci.yml
  README.md
  docarray/__init__.py
  docarray/array/abstract_array.py
  docarray/array/array.py
  docarray/predefined_document/image.py
  docarray/predefined_document/mesh.py
  docarray/predefined_document/point_cloud.py
  docarray/predefined_document/text.py
  docarray/typing/tensor/ndarray.py
  docarray/typing/tensor/torch_tensor.py
  docarray/typing/url/image_url.py
  docarray/typing/url/text_url.py
  docarray/typing/url/url_3d/mesh_url.py
  docarray/typing/url/url_3d/point_cloud_url.py
  docarray/util/find.py
  tests/integrations/array/test_torch_train.py
  tests/integrations/document/test_document.py
  tests/integrations/document/test_proto.py
  tests/integrations/externals/test_fastapi.py
  tests/integrations/typing/test_anyurl.py
  tests/integrations/typing/test_embedding.py
  tests/integrations/typing/test_id.py
  tests/integrations/typing/test_image_url.py
  tests/integrations/typing/test_mesh_url.py
  tests/integrations/typing/test_ndarray.py
  tests/integrations/typing/test_point_cloud_url.py
  tests/integrations/typing/test_tensor.py
  tests/integrations/typing/test_torch_tensor.py
  tests/integrations/typing/test_typing_proto.py
  tests/units/array/test_array.py
  tests/units/array/test_array_proto.py
  tests/units/array/test_generic_array.py
  tests/units/array/test_stack_mod.py
  tests/units/array/test_traverse.py
  tests/units/util/test_find.py
Labels: area/housekeeping, area/cicd, area/testing, area/core, component/array, area/entrypoint, size/m, area/typing

#940 feat(v2): add audio url and predefined document
  docarray/__init__.py
  docarray/computation/abstract_comp_backend.py
  docarray/computation/numpy_backend.py
  docarray/computation/torch_backend.py
  docarray/predefined_document/__init__.py
  docarray/predefined_document/audio.py
  docarray/proto/docarray.proto
  docarray/proto/pb2/docarray_pb2.py
  docarray/typing/__init__.py
  docarray/typing/tensor/abstract_tensor.py
  docarray/typing/tensor/audio/__init__.py
  docarray/typing/tensor/audio/abstract_audio_tensor.py
  docarray/typing/tensor/audio/audio_ndarray.py
  docarray/typing/tensor/audio/audio_tensor.py
  docarray/typing/tensor/audio/audio_torch_tensor.py
  docarray/typing/tensor/ndarray.py
  docarray/typing/tensor/torch_tensor.py
  docarray/typing/url/__init__.py
  docarray/typing/url/audio_url.py
  docarray/typing/url/text_url.py
  poetry.lock
  pyproject.toml
  tests/integrations/predefined_document/test_audio.py
  tests/units/typing/tensor/test_audio_tensor.py
  tests/units/typing/url/test_audio_url.py
Labels: area/setup, area/testing, area/core, component/proto, area/entrypoint, size/l, area/typing

#966 feat: add tensor types in da
  docarray/array/abstract_array.py
  docarray/array/array.py
  docarray/array/array_stacked.py
  tests/units/array/test_stack_mod.py
Labels: area/testing, area/core, component/array, size/m

#967 docs: fix data management section not appearing in documentation
  docs/fundamentals/cloud-support/data-management.md
  docs/fundamentals/cloud-support/index.md
Labels: area/docs, size/xs

#968 ci: increase docs deploy timeout
  .github/workflows/jekyll-gh-pages.yml
Labels: area/housekeeping, area/cicd, size/s

#963 fix: replace newline with whitespace to fix display in plot embeddings
  docarray/array/mixins/io/csv.py
Labels: area/core, component/array, size/s

#974 Revert "Add documentation custom deployment CI to gh-pages branch"
  .github/workflows/jekyll-gh-pages.yml
Labels: size/s

#976 fix(v2): handle properly slice in getitem da
  docarray/array/array.py
  tests/units/array/test_array.py
Labels: area/testing, area/core, component/array, size/s

#979 fix: relative paths for local file url
  docarray/typing/url/any_url.py
  tests/units/typing/url/test_any_url.py
Labels: area/testing, area/core, type/bug, size/s, DocArray v2, area/typing

#981 Fix proper name da stacked
  docarray/array/abstract_array.py
Labels: area/core, component/array, size/xs

#983 fix pass tensor types to nested da
  docarray/array/array_stacked.py
  tests/units/array/test_stack_mod.py
Labels: area/testing, area/core, component/array, size/s, DocArray v2

#964 chore: update gov with tsc menbers
  GOVERNANCE.md
Labels: size/s

#986 fix: allow dict to be pass in a da stacked
  docarray/array/array.py
  docarray/array/array_stacked.py
  docarray/document/abstract_document.py
  docarray/document/any_document.py
  docarray/document/document.py
  docarray/document/mixins/proto.py
  docarray/util/find.py
  tests/integrations/typing/test_typing_proto.py
  tests/units/array/test_stack_mod.py
Labels: area/testing, area/core, component/document, component/array, size/s, DocArray v2

#990 fix: stack output of slice access on stacked da
  docarray/array/array_stacked.py
  tests/units/array/test_array.py
  tests/units/array/test_array_stacked.py
Labels: area/testing, area/core, component/array, size/s, DocArray v2

#961 feat: add color to point cloud display
  .github/workflows/ci.yml
  docarray/document/mixins/mesh.py
  docarray/document/mixins/plot.py
  docs/datatypes/mesh/index.md
  setup.py
  tests/unit/document/test_converters.py
Labels: area/setup, area/housekeeping, area/cicd, area/testing, area/core, component/document, area/docs, size/s

#993 feat: handle proprely all possible union and optional of tensor in da stack
  docarray/array/array_stacked.py
  docarray/computation/abstract_comp_backend.py
  docarray/computation/numpy_backend.py
  docarray/computation/torch_backend.py
  docarray/document/mixins/proto.py
  docarray/predefined_document/audio.py
  docarray/predefined_document/image.py
  docarray/predefined_document/mesh.py
  docarray/predefined_document/point_cloud.py
  docarray/predefined_document/text.py
  docarray/typing/__init__.py
  docarray/typing/tensor/__init__.py
  docarray/typing/tensor/embedding/__init__.py
  docarray/typing/tensor/embedding/embedding.py
  docarray/util/__init__.py
  docarray/utils/__init__.py
  docarray/utils/_typing.py
  docarray/utils/find.py
  tests/integrations/document/test_proto.py
  tests/integrations/typing/test_embedding.py
  tests/integrations/typing/test_typing_proto.py
  tests/units/array/test_array_stacked.py
  tests/units/typing/tensor/test_embedding.py
  tests/units/util/test_find.py
  tests/units/util/test_typing.py
Labels: area/testing, area/core, component/document, component/array, size/m, area/typing

#995 fix: value extraction of point cloud colors enum in display
  docarray/document/mixins/mesh.py
  docarray/document/mixins/plot.py
  tests/unit/document/test_converters.py
Labels: area/testing, area/core, component/document, size/s

#989 fix setter and pydantic in base document
  docarray/array/array_stacked.py
  docarray/document/document.py
  tests/units/array/test_array.py
  tests/units/typing/url/test_audio_url.py
Labels: area/testing, area/core, component/document, component/array, size/s, DocArray v2

#1001 ci: hide hubble import
  docarray/helper.py
Labels: area/core, size/xs

#996 feat: to device
  docarray/array/abstract_array.py
  docarray/array/array.py
  docarray/array/array_stacked.py
  docarray/computation/abstract_comp_backend.py
  docarray/computation/numpy_backend.py
  docarray/computation/torch_backend.py
  docarray/typing/tensor/abstract_tensor.py
  docarray/typing/tensor/ndarray.py
  docarray/typing/tensor/torch_tensor.py
  tests/units/array/test_array_stacked.py
  tests/units/computation_backends/numpy_backend/test_basics.py
  tests/units/computation_backends/torch_backend/test_basics.py
Labels: area/testing, area/core, component/array, size/m, DocArray v2, area/typing

#1003 refactor: structure
  README.md
  docarray/__init__.py
  docarray/array/abstract_array.py
  docarray/array/array.py
  docarray/array/array_stacked.py
  docarray/base_document/__init__.py
  docarray/base_document/abstract_document.py
  docarray/base_document/any_document.py
  docarray/base_document/base_node.py
  docarray/base_document/document.py
  docarray/base_document/io/__init__.py
  docarray/base_document/io/json.py
  docarray/base_document/mixins/__init__.py
  docarray/base_document/mixins/proto.py
  docarray/document/__init__.py
  docarray/document/mixins/__init__.py
  docarray/documents/__init__.py
  docarray/documents/audio.py
  docarray/documents/image.py
  docarray/documents/mesh.py
  docarray/documents/point_cloud.py
  docarray/documents/text.py
  docarray/predefined_document/__init__.py
  docarray/typing/abstract_type.py
  docarray/typing/tensor/torch_tensor.py
  docarray/utils/find.py
  tests/integrations/document/test_document.py
  tests/integrations/document/test_proto.py
  tests/integrations/document/test_to_json.py
  tests/integrations/externals/test_fastapi.py
  tests/integrations/predefined_document/test_audio.py
  tests/integrations/predefined_document/test_image.py
  tests/integrations/predefined_document/test_mesh.py
  tests/integrations/predefined_document/test_point_cloud.py
  tests/integrations/typing/test_typing_proto.py
  tests/units/array/test_array_proto.py
  tests/units/array/test_array_stacked.py
  tests/units/array/test_generic_array.py
  tests/units/array/test_traverse.py
  tests/units/document/proto/test_document_proto.py
  tests/units/document/test_any_document.py
  tests/units/document/test_base_document.py
  tests/units/typing/tensor/test_embedding.py
  tests/units/typing/tensor/test_tensor.py
  tests/units/typing/tensor/test_torch_tensor.py
  tests/units/typing/test_id.py
  tests/units/typing/url/test_any_url.py
  tests/units/typing/url/test_audio_url.py
  tests/units/typing/url/test_image_url.py
  tests/units/typing/url/test_mesh_url.py
  tests/units/typing/url/test_point_cloud_url.py
  tests/units/typing/url/test_text_url.py
Labels: area/testing, area/core, component/document, component/array, area/entrypoint, size/m, DocArray v2, area/typing

#1004 fix: handle proprely document json in fast api response
  docarray/base_document/__init__.py
  docarray/base_document/document.py
  docarray/base_document/document_response.py
  docarray/base_document/io/json.py
  docarray/typing/tensor/abstract_tensor.py
  docarray/typing/tensor/ndarray.py
  docarray/typing/tensor/torch_tensor.py
  poetry.lock
  pyproject.toml
  tests/integrations/document/test_to_json.py
  tests/integrations/externals/test_fastapi.py
Labels: area/setup, area/testing, area/core, size/m, area/typing

#1002 Debug ci
  tests/unit/array/mixins/oldproto/test_eval_class.py
Labels: area/testing, size/m

#1009 docs: add discord to the readme
  README.md
Labels: size/xs, DocArray v2

#1010 docs: link to discord
  README.md
Labels: size/xs

#1008 refactor: better management of stack mod
  docarray/array/array_stacked.py
Labels: area/core, component/array, size/s

#1012 ci: stabalize milvus
  tests/unit/array/mixins/oldproto/test_eval_class.py
Labels: area/testing, size/s

#991 fix: better handling of parametrized types
  docarray/typing/tensor/abstract_tensor.py
  docarray/typing/tensor/ndarray.py
  docarray/typing/tensor/torch_tensor.py
  tests/units/typing/tensor/test_tensor.py
  tests/units/typing/tensor/test_torch_tensor.py
Labels: area/testing, area/core, size/m, DocArray v2, area/typing

#1013 ci: remove doc stores from eval tests
  tests/unit/array/mixins/oldproto/test_eval_class.py
Labels: area/testing, size/m

#1014 test: fix evaluate tests
  tests/unit/array/mixins/oldproto/test_eval_class.py
Labels: area/testing, size/s

#1016 refactor: optimization on stacking
  docarray/array/array.py
  docarray/array/array_stacked.py
  docarray/computation/abstract_comp_backend.py
  docarray/computation/numpy_backend.py
  docarray/computation/torch_backend.py
  docarray/typing/tensor/abstract_tensor.py
  tests/units/array/test_array_stacked.py
  tests/units/computation_backends/numpy_backend/test_basics.py
  tests/units/computation_backends/torch_backend/test_basics.py
  tests/units/util/test_typing.py
Labels: area/testing, area/core, component/array, size/m, area/typing

#1019 fix: return self in to device
  docarray/array/array_stacked.py
Labels: area/core, component/array, size/xs

#1018 fix: doc from dataclass with list
  docarray/document/mixins/multimodal.py
  tests/unit/document/test_multi_modal.py
Labels: area/testing, area/core, component/document, size/s

#1020 refactor: renamed docarray private method
  docarray/array/array_stacked.py
  docarray/typing/tensor/abstract_tensor.py
  docarray/typing/tensor/ndarray.py
  docarray/typing/tensor/torch_tensor.py
  docarray/utils/find.py
  tests/units/document/proto/test_proto_based_object.py
Labels: area/testing, area/core, component/array, size/s, area/typing

#1007 feat: allow variable tensor dimension
  README.md
  docarray/computation/abstract_comp_backend.py
  docarray/computation/numpy_backend.py
  docarray/computation/torch_backend.py
  docarray/typing/tensor/abstract_tensor.py
  docarray/typing/tensor/ndarray.py
  docarray/typing/tensor/torch_tensor.py
  tests/units/typing/tensor/test_tensor.py
  tests/units/typing/tensor/test_torch_tensor.py
Labels: area/testing, area/core, size/m, area/typing

#1021 docs: link to v2 in the readme
  README.md
Labels: size/xs

#1022 chore: bump version number
  pyproject.toml
Labels: area/setup, size/xs

#1023 chore: bump version
  docarray/__init__.py
Labels: area/core, area/entrypoint, size/xs

#1027 chore: update readme for release
  README.md
  docarray/__init__.py
Labels: area/core, area/entrypoint, size/s

#1011 docs: add pytorch training notebook
  README.md
  docs/index_init.md
  docs/tutorials/mutlimodal_training_and_serving.md
Labels: area/docs, size/l

#1028 fix(install docs): consistency, grammar
  docs/get-started/install.md
Labels: area/docs, size/s

#972 feat(v2): add video support
  docarray/computation/abstract_comp_backend.py
  docarray/computation/numpy_backend.py
  docarray/computation/torch_backend.py
  docarray/documents/__init__.py
  docarray/documents/audio.py
  docarray/documents/video.py
  docarray/proto/docarray.proto
  docarray/proto/pb2/docarray_pb2.py
  docarray/typing/__init__.py
  docarray/typing/tensor/video/__init__.py
  docarray/typing/tensor/video/video_ndarray.py
  docarray/typing/tensor/video/video_tensor.py
  docarray/typing/tensor/video/video_tensor_mixin.py
  docarray/typing/tensor/video/video_torch_tensor.py
  docarray/typing/url/__init__.py
  docarray/typing/url/audio_url.py
  docarray/typing/url/video_url.py
  poetry.lock
  pyproject.toml
  tests/integrations/predefined_document/test_video.py
  tests/units/computation_backends/numpy_backend/test_basics.py
  tests/units/computation_backends/torch_backend/test_basics.py
  tests/units/typing/tensor/test_video_tensor.py
  tests/units/typing/url/test_video_url.py
Labels: area/setup, area/testing, area/core, component/proto, size/l, DocArray v2, area/typing

#1034 fix: up arrow emoji display in readme on docarray.org
  README.md
Labels: size/xs

#1036 chore: bump version
  README.md
  docarray/__init__.py
  pyproject.toml
Labels: area/setup, area/core, area/entrypoint, size/xs

#1030 refactor: comp backend
  docarray/array/array_stacked.py
  docarray/computation/abstract_comp_backend.py
  docarray/computation/numpy_backend.py
  docarray/computation/torch_backend.py
  docarray/typing/tensor/abstract_tensor.py
  docarray/typing/tensor/ndarray.py
  docarray/typing/tensor/torch_tensor.py
Labels: area/core, component/array, size/m, area/typing

#1044 fix: fix csv string parsing and memory leak in dataset
  docs/tutorials/mutlimodal_training_and_serving.md
Labels: area/docs, size/s

#1048 feat: add default value to docs in da init
  docarray/array/array.py
  tests/units/array/test_array.py
Labels: area/testing, area/core, component/array, size/xs

#1050 docs: add warning proto tag
  docs/proto/index.md
Labels: area/docs, size/s

#1026 refactor: instances of parametrized tensors are no longer parametrized
  docarray/typing/tensor/abstract_tensor.py
  docarray/typing/tensor/ndarray.py
  docarray/typing/tensor/torch_tensor.py
  tests/units/typing/tensor/test_cross_backend.py
  tests/units/typing/tensor/test_np_ops.py
  tests/units/typing/tensor/test_tensor.py
  tests/units/typing/tensor/test_torch_ops.py
  tests/units/typing/tensor/test_torch_tensor.py
Labels: area/testing, area/core, size/m, area/typing

#1043 feat(v2): rich display for doc and da
  docarray/array/abstract_array.py
  docarray/base_document/document.py
  docarray/base_document/mixins/__init__.py
  docarray/base_document/mixins/plot.py
  docarray/computation/abstract_comp_backend.py
  docarray/computation/numpy_backend.py
  docarray/computation/torch_backend.py
  docarray/display/__init__.py
  docarray/display/document_array_summary.py
  docarray/display/document_summary.py
  docarray/display/tensor_display.py
  poetry.lock
  pyproject.toml
  tests/units/array/test_array.py
  tests/units/computation_backends/numpy_backend/test_basics.py
  tests/units/computation_backends/torch_backend/test_basics.py
Labels: area/setup, area/testing, area/core, component/array, size/l

#1055 feat: support python 3.7
  .github/workflows/ci.yml
  .github/workflows/ci_only_pr.yml
  docarray/utils/_typing.py
  poetry.lock
  pyproject.toml
Labels: area/setup, area/housekeeping, area/cicd, area/core, size/xl

#1058 feat: add validate function to documents to have less verbose api
  docarray/documents/audio.py
  docarray/documents/image.py
  docarray/documents/mesh.py
  docarray/documents/point_cloud.py
  docarray/documents/text.py
  docarray/documents/video.py
  tests/integrations/predefined_document/test_audio.py
  tests/integrations/predefined_document/test_image.py
  tests/integrations/predefined_document/test_mesh.py
  tests/integrations/predefined_document/test_point_cloud.py
  tests/integrations/predefined_document/test_text.py
  tests/integrations/predefined_document/test_video.py
Labels: area/testing, area/core, size/m

#1059 fix: build docs on feat rewrite branch
  .github/workflows/ci.yml
  .github/workflows/ci_only_pr.yml
Labels: area/housekeeping, area/cicd, size/xs

#1060 docs: add calendar link to readme
  README.md
Labels: size/xs

#1051 feat: add filter capability to DocumentArray
  docarray/base_document/document.py
  docarray/documents/text.py
  docarray/utils/filter.py
  docarray/utils/query_language/__init__.py
  docarray/utils/query_language/lookup.py
  docarray/utils/query_language/query_parser.py
  tests/units/document/test_docs_operators.py
  tests/units/typing/tensor/test_torch_tensor.py
  tests/units/typing/test_id.py
  tests/units/typing/url/test_any_url.py
  tests/units/util/query_language/__init__.py
  tests/units/util/query_language/test_lookup.py
  tests/units/util/test_filter.py
Labels: area/testing, area/core, size/l

#1046 fix: typed da classing
  docarray/array/abstract_array.py
  docarray/array/array.py
  docarray/array/array_stacked.py
  tests/units/typing/da/__init__.py
  tests/units/typing/da/test_relations.py
Labels: area/testing, area/core, component/array, size/s

#1062 chore: fix docs building
  .github/workflows/build_docs_on_branch.yml
  .github/workflows/ci_only_pr.yml
Labels: area/housekeeping, area/cicd, size/s

#1063 fix: update dcs url
  .github/workflows/build_docs_on_branch.yml
  README.md
Labels: area/housekeeping, area/cicd, size/xs
