Repository docarray/docarray, pull requests merged in 2023-07, with the labels that each got.

#1666 feat: support milvus
  .github/workflows/ci.yml
  docarray/index/__init__.py
  docarray/index/backends/milvus.py
  docarray/utils/_internal/_typing.py
  poetry.lock
  pyproject.toml
  tests/index/milvus/__init__.py
  tests/index/milvus/docker-compose.yml
  tests/index/milvus/fixtures.py
  tests/index/milvus/test_filter.py
  tests/index/milvus/test_find.py
  tests/index/milvus/test_index_get_del.py
Labels: area/core, size/m

#1682 ci: pin pydantic version
  pyproject.toml
Labels: area/setup, size/xs

#1684 chore: update version to 0.35.0
  docarray/__init__.py
  pyproject.toml
Labels: area/setup, area/core, area/entrypoint, size/xs

#1685 fix: avoid converting doclists in the base index
  docarray/index/abstract.py
  docarray/index/backends/weaviate.py
Labels: area/core, size/xs

#1688 chore: add code of conduct
  CODE_OF_CONDUCT.md
Labels: size/m

#1693 ci: do not require black for tests
  .github/workflows/ci.yml
Labels: area/housekeeping, area/cicd, size/s

#1694 ci: do not require black for tests more
  .github/workflows/ci.yml
Labels: area/housekeeping, area/cicd, size/xs

#1696 fix: fix search in memory with AnyEmbedding
  docarray/array/list_advance_indexing.py
  docarray/computation/abstract_comp_backend.py
  docarray/index/backends/in_memory.py
  docarray/typing/tensor/tensorflow_tensor.py
  docarray/utils/find.py
  tests/index/in_memory/test_in_memory.py
Labels: area/testing, area/core, component/array, size/m, area/typing

#1699 chore: add codecov
  .github/codecov.yml
  .github/workflows/ci.yml
  README.md
  poetry.lock
  pyproject.toml
Labels: area/setup, area/housekeeping, area/cicd, size/m

#1700 chore: remove one of the codecov badges
  README.md
Labels: size/xs

#1701 refactor: contains method in the base class
  docarray/index/abstract.py
  docarray/index/backends/elastic.py
  docarray/index/backends/hnswlib.py
  docarray/index/backends/in_memory.py
  docarray/index/backends/qdrant.py
  docarray/index/backends/redis.py
  docarray/index/backends/weaviate.py
  tests/index/base_classes/test_base_doc_store.py
  tests/index/base_classes/test_configs.py
Labels: area/testing, area/core, size/m

#1705 fix: qdrant unable to see index_name
  docarray/index/backends/qdrant.py
  tests/index/qdrant/test_configurations.py
Labels: area/testing, area/core, size/s

#1706 fix: slow hnsw by caching num docs
  docarray/index/backends/hnswlib.py
Labels: area/core, size/xs

#1711 fix: weaviate handles lowercase index names
  docarray/index/backends/weaviate.py
  tests/index/weaviate/test_column_config_weaviate.py
Labels: area/testing, area/core, size/s

#1710 chore: upgrade version to 0.36
  docarray/__init__.py
Labels: area/core, area/entrypoint, size/xs

#1712 chore: upgrade version in pyproject
  pyproject.toml
Labels: area/setup, size/xs

#1715 chore: add link to roadmap in readme
  README.md
Labels: size/xs

#1713 feat: InMemoryExactNNIndex pre filtering
  docarray/index/backends/in_memory.py
  tests/index/in_memory/test_in_memory.py
Labels: area/testing, area/core, size/s

#1681 feat: support milvus
  .github/workflows/ci.yml
  README.md
  docarray/index/__init__.py
  docarray/index/backends/milvus.py
  docarray/index/backends/redis.py
  docarray/utils/_internal/misc.py
  poetry.lock
  pyproject.toml
  tests/index/milvus/__init__.py
  tests/index/milvus/docker-compose.yml
  tests/index/milvus/fixtures.py
  tests/index/milvus/test_configuration.py
  tests/index/milvus/test_find.py
  tests/index/milvus/test_index_get_del.py
  tests/index/milvus/test_persist_data.py
  tests/index/milvus/test_subindex.py
Labels: area/setup, area/housekeeping, area/cicd, area/testing, area/core, size/xl

#1720 fix: fix deepcopy torchtensor
  docarray/typing/tensor/torch_tensor.py
  tests/units/typing/tensor/test_torch_tensor.py
Labels: area/testing, area/core, size/s, area/typing

#1723 fix: collection and index name in qdrant
  docarray/index/backends/qdrant.py
  tests/index/qdrant/test_subindex.py
Labels: area/testing, area/core, size/s

#1722 chore: add JAX to README
  README.md
Labels: size/s

#1724 feat: update for inmemory index
  docarray/index/backends/in_memory.py
  tests/index/in_memory/test_index_get_del.py
Labels: area/testing, area/core, size/m

#1718 feat: filtering in hnsw
  docarray/index/backends/hnswlib.py
  poetry.lock
  pyproject.toml
  tests/index/hnswlib/test_filter.py
  tests/index/hnswlib/test_find.py
  tests/index/hnswlib/test_query_builder.py
Labels: area/setup, area/testing, area/core, size/l

#1679 feat: tensor_type for all DocVec serializations
  docarray/array/doc_list/doc_list.py
  docarray/array/doc_list/io.py
  docarray/array/doc_vec/doc_vec.py
  docarray/array/doc_vec/io.py
  docs/API_reference/array/da.md
  docs/API_reference/array/da_stack.md
  docs/data_types/table/table.md
  docs/user_guide/sending/serialization.md
  tests/units/array/test_array_from_to_bytes.py
  tests/units/array/test_array_from_to_json.py
  tests/units/array/test_array_from_to_pandas.py
  tests/units/array/test_array_save_load.py
Labels: area/testing, area/core, component/array, area/docs, size/xl

#1728 chore: refactor filter in hnswlib
  docarray/index/backends/hnswlib.py
Labels: area/core, size/xs

#1729 refactor: do not recompute every time num_docs
  docarray/index/backends/hnswlib.py
Labels: area/core, size/s

#1730 chore: avoid extra debugging
  docarray/index/backends/elastic.py
Labels: area/core, size/xs

#1731 fix: fix call to unsafe issubclass
  docarray/index/abstract.py
Labels: area/core, size/xs

#1732 test: refactor hnswlib test subindex
  tests/index/hnswlib/test_subindex.py
Labels: area/testing, size/s

#1733 fix: create more info from dynamic
  docarray/utils/create_dynamic_doc_class.py
  tests/units/util/test_create_dynamic_code_class.py
Labels: area/testing, area/core, size/s

#1734 fix: add description and title to dynamic class
  docarray/utils/create_dynamic_doc_class.py
  tests/units/util/test_create_dynamic_code_class.py
Labels: area/testing, area/core, size/s

#1738 test: refactor test to be independent
  tests/index/weaviate/test_subindex.py
Labels: area/testing, size/s

#1739 fix: tensor equals type raises exception
  docarray/typing/tensor/abstract_tensor.py
  tests/units/typing/tensor/test_tensor.py
Labels: area/testing, area/core, size/s, area/typing
